[2021-08-29 00:03] fbridger opened #743 "IIS Express Problem - app returned http status code 400 from subscription endpoint"
## Expected Behavior
When running and debugging the ControllerSample application using IIS Express I would expect to:
- Same behavior as running the application using Kestrel
- Event Subscriptions working correctly

## Actual Behavior

Dapr is showing an error  when trying to obtain events from the application when running in IIS Express

Generated Log
´´´shell
time="2021-08-28T20:52:49.3743365-03

[2021-08-29 17:18] aktxyz commented on #740
maybe beef up the ArgumentVerifier with some more scenarios?

ArgumentVerifier.ThrowIfNullOrEmpty(pubsubName, nameof(pubsubName));

[2021-08-30 08:21] farhadnowzari commented on #742
**Update**
Ok I managed to do it with adding the InvocationHandler as an InnerHandler to a custom Handler I wrote.
But the issue is on building the InvocationHandler from my code I cannot set the DaprApiToken myself because it is internal.

I will look more into it. For now, for the purpose of testing it works.

[2021-08-30 18:21] paulyuk opened #744 "Add pub-sub subscribe examples to docs for .NET"
## Describe the proposal![image](https://user-images.githubusercontent.com/1968137/131386095-bef93fc9-a2e7-4e81-b39c-3a8d49efd915.png)
The following topics cover the publishing side in client but not really subscribing.
https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-server/dotnet-aspnet/

The following does not even include .NET
https://docs.dapr.io/developing-applications/buildin

[2021-08-31 20:08] rynowak commented on #744
related: https://github.com/dapr/dotnet-sdk/pull/735

[2021-08-31 20:11] rynowak commented on #743
@halspang - can you talk to @jkotalik about this? It doesn't seem right that we need to manually update these kinds of settings to work with both servers.

[2021-08-31 20:15] rynowak commented on #742
Hi @farhadnowzari - thanks for filing this issue. Can you explain more about what you're to achieve? I see a lot of technical details but I don't really understand what it is you're trying to do.

[2021-08-31 20:16] rynowak commented on #740
This makes sense - we should be url-encoding Actor Ids and probably names as well so this works end to end.

[2021-08-31 20:20] rynowak commented on #739
We'll do this or accept a PR for it once it is supported in the Dapr runtime.

[2021-08-31 20:21] rynowak commented on #737
@halspang - can you help investigate this?

[2021-08-31 20:32] rynowak commented on #727
Hi @kamlesh-nb

This is not a feature that the state store building block provides. There's some previous discussion of this here: https://github.com/dapr/dapr/issues/1339

if you're interested in this, the right place to discuss is on dapr/dapr - since we would only add this to the SDK after it is added to the runtime.

[2021-08-31 20:32] #727 closed

[2021-08-31 20:48] rynowak opened #745 "Should we remove the timeout from ActorProxy by default"
## Describe the proposal

ActorProxy uses a default `HttpClient` which comes with a 100 second timeout. This might be surprising, because users can add their own cancellation policies, but can't be more permissive than what the built-in timeout supports.

We're adding other mechanisms to give users control over this, but I wanted to raise the topic specifically - should we remove the default timeo

[2021-08-31 23:07] sregdorr commented on #661
Just curious... If I'm understanding the PR correctly, this is configured in the host options at the runtime level. Does that mean that you cant configure reentrancy at the actor level? Either all actors are reentrant, or none of them are?

[2021-08-31 23:56] daixiang0 commented on #739
@rynowak thanks, runtime has supported it as https://github.com/dapr/dapr/pull/3529

[2021-09-01 16:56] halspang commented on #734
@akkie/@fabistb - What are your use cases for this API? Technically, this is an API that Dapr calls into your application, so it isn't something that we would put in the ActorProxy as that's designed to call out to Dapr.

[2021-09-01 16:58] halspang commented on #661
Yes, you have to use the host options which means all actor types registered with those options are reentrant. We do not have the fine-grained settings for individual actor reentrancy. @sregdorr - What is your use case for having an individual actor be reentrant instead of the entire type?

[2021-09-01 20:25] farhadnowzari commented on #742
Hi, thanks for your reply 😊

We have an external service in our case Camunda platform which we could create a binding/middleware for but since the bindings/middlewares are in goLang and we currently didn't have much time we created a sidecar for it so the sidecar can handle the requests with method invocation instead of accessing this service directly.
But Camunda runs on the following address `sc

[2021-09-01 21:43] sregdorr commented on #661
Thanks for the info @halspang! I have an app that is currently utilizing dotnet Orleans and am interested in moving it to Dapr to allow for a polyglot system. I have a couple of grains (actors) whose sole purpose are simply to shuttle tasks to a set of other grains that actually do the legwork. For those shuttle grains, identity is not important and single-threaded operation is not desired. I alwa

[2021-09-02 00:45] doddgu opened #747 "Dapr configuration api opened go-sdk pr"
About https://github.com/dapr/dapr/issues/2988
Are there plans to support the Configuration API?

[2021-09-02 18:28] halspang commented on #734
Is this something you could tune with the existing actor configuration? You can set the `actorIdleTimeout` to be arbitrarily low. It won't deactivate the actor while it is running but will do so after it stops. Does this solve what you want?

If not, and you'd really like to call the API directly. I'd recommend just making a call out to your own application as Dapr would. My only real concern with

[2021-09-03 09:40] fabistb commented on #734
From my understanding the downside with the `actorIdleTimeout` setting is that it applies for all actor types within the service.
However we only want to free the resources for one specific actor type and not change the behaviour for the other actor types.

[2021-09-06 20:35] lefig opened #749 "GRPC Exception - unable to connect to socket"
Hi all,

Firstly thank you for a fabulous project and all your hard work.

I am really struggling with the GRPC example and indeed any GRPC over c# using Dapr.

I have added dapr/d to the security whitelist and am sure that this is not Windows firewall related. I hope!

Dapr.Client.InvocationException
  HResult=0x80131500
  Message=An exception occurred while invoking method: 'deposit' on app-id:

[2021-09-07 16:43] halspang commented on #661
@sregdorr Gotcha, thanks for explaining your use case!

If identity/single-threaded isn't required, could you just give them a unique ID? Instead of `Guid.Empty` do a `Guid.NewGuid`?

I think the alternate of making it a simple gRPC service is also a good idea. It's also worth noting that Dapr supports gRPC proxying now and we're working to add support for that in the .NET SDK as well. #741

[2021-09-07 19:58] rynowak commented on #749
@lefig - how are you launching the application? Is the code somewhere public we can see?

[2021-09-07 20:54] rynowak commented on #747
Hi @doddgu

When this is added we'll add programmatic support through `DaprClient` as well as through `IConfiguration`.

[2021-09-08 17:37] halspang commented on #734
Yeah, that is the problem with the actor configuration. Though potentially that's a feature to look into for core Dapr? The ability to tie the configurations to specific types?

As long as the Dapr runtime doesn't expose actor deactivation as an API, I don't think it's something we should put into the `ActorProxy`. If this is a feature you need, I think we should put it into the runtime first, and

[2021-09-08 19:06] #728 closed

[2021-09-09 19:59] lefig commented on #749
Thank you @rynowak

So I follow instructions for the GRPC example contained within this repository.

I launch first the server application GRPCServiceSample.

But then when I start the client application, the exception fails arises here:

namespace Samples.Client
{
    public class InvokeServiceGrpcExample : Example
    {
        public override string DisplayName => "Invoking a gRPC service with

[2021-09-10 02:53] aktxyz opened #750 "is there a way to specify TTL when publishing an event?"
## Ask your question here

[2021-09-10 11:28] ChrisProlls commented on #550
Let me give a try on this one :)

[2021-09-10 22:55] allantargino commented on #750
Yes @aktxyz:

[code]

[2021-09-11 13:30] fbridger opened #752 "Bug: Subscribing multiple endpoints to the same Topic not longer supported"
Does the Dapr DotNet-SDK supports subscribing multiple endpoints to the same Topic?

I was under the assumption that this basic scenario was obviously supported but I can't seem to make it work. Seems extremely weird that we can't subscribe multiple/different endpoints (even in different Controllers) to the same Topic.

Here is the branch with all the code mentioned below: https://github.com/fbrid

[2021-09-11 14:20] fbridger commented on #752
@pkedy I have confirmed that after the changes you applied in [aba49d1446dcd5fa68aa5b8a7597cb6a59e83f88](https://github.com/dapr/dotnet-sdk/commit/aba49d1446dcd5fa68aa5b8a7597cb6a59e83f88) the /dapr/subscribe is removing Topics with the same Topic and Name but different Route.

Here is the branch where I've reverted your changes and added multiple endpoints to subscribe to the same Topic: https://

[2021-09-11 14:39] fbridger commented on #752
I've added a Test to be able to reproduce this error:
https://github.com/fbridger/dotnet-sdk/commit/7194de11c76c5c0caac07731e1092f039f9fcb02

[2021-09-11 22:12] fbridger commented on #745
This may be silly question but... is there any way to determine if an Actor with a specific Id is Idle or Busy?

It might be nice to have a way to know the current state of an Actor before doing the call and hitting this timeout. Right?

[2021-09-13 00:37] aktxyz commented on #750
thanks !   the only place the string ttl or ttlinseconds shows up is in a proto file, would be a good add to any docs :)

thanks for the help !

https://github.com/dapr/dotnet-sdk/search?q=ttl
https://github.com/dapr/dotnet-sdk/search?q=ttlinseconds

[2021-09-13 15:50] yaron2 commented on #734
@halspang we do have this in the runtime: https://docs.dapr.io/reference/api/actors_api/#deactivate-actor.

We should add this method to the SDK IMO.

[2021-09-13 16:06] halspang commented on #734
@yaron2 - That's the runtime calling your application, not the other way around. Dapr does not expose that endpoint in the runtime. https://github.com/dapr/dapr/blob/a02eb997c6399939148aa483c644613dcacc3056/pkg/http/api.go#L272

If we want something like the `ActorProxy` to handle this, I think it should be an API that the dapr runtime vends. As an alternate, I'm not opposed to exposing an interna

[2021-09-14 18:10] rynowak commented on #752
@fbridger - thanks for filing this, we'll take a look.

[2021-09-14 19:05] halspang commented on #752
@fbridger - What is the behavior that you're trying to achieve here and did it work on an older version of the .NET SDK or dapr runtime?

My understanding of the Dapr runtime is that it will actually eat (silently, which is bad) the duplicate endpoints, so I don't think that both endpoints are being called. I took the pubsub example and tried to get that to happen, here's the code and what dapr di

[2021-09-14 19:14] fbridger commented on #752
@halspang I am trying to subscribe to the same Topic (e.g. "B") multiple times from the same Application (e.g. routes "B1" and "B2").

Previous to the PR #746 the dotnet-sdk was generating the correct json when hitting "/dapr/subscribe"

/dapr/subscribe JSON **before** the PR:
[code]

/dapr/subscribe JSON **after** the PR:
[code]

Route B2 is now being excluded so, an Application can NO LONGER sub

[2021-09-14 19:26] rynowak commented on #752
@fbridger - what we're trying to understand is whether this was ever working E2E. I understand that the .NET SDK does something different. From looking at the runtime code this had no effect because the duplicate was discarded by the runtime.

[2021-09-14 19:53] fbridger commented on #752
I believe your E2E was not covering the scenario that I a mentioning. Which is currently supported by the Dapr SideCar.

As I mentioned in my previous comment, if you checkout the commit previous to the one that @pkedy made. You will get the dotnet-sdk to correctly include multiple routes using the same Topic.

Previously, you could subscribe to the same Topic from 2 different operations (routes).

[2021-09-14 20:04] halspang commented on #752
@fbridger - I understand that the JSON changed, but what I'm seeing in the code appears to show that the sidecar does not support this. We've seen that *separate* applications are able to subscribe to the same topic and if the underlying pubsub supports it, it can work correctly.

With my sample though, you can see that even though the application returns 3 endpoints, the sidecar only subscribes 2

[2021-09-14 20:09] rynowak commented on #752
@fbridger - can you share the version of the Dapr runtime and which pubsub component you are using so we can try to investigate this properly? We don't intend to cut off things that were working, but I think we need to convince ourselves that this was possible.

[2021-09-14 22:02] fbridger commented on #752
@halspang @rynowak  You are both correct.

It seems that the Dapr SideCar does not support the same Application to subscribe multiple Times to the same Topic.

I'll request the addition of this feature to the Dapr Dapr team.

I am very sorry for the time you spent looking into this issue and really appreaciate your comments.

Thanks!

[2021-09-14 22:02] #752 closed

[2021-09-14 22:16] fbridger commented on #752
Requested feature in Dapr Dapr: https://github.com/dapr/dapr/issues/3664

[2021-09-15 00:30] rynowak commented on #752
@fbridger - thanks! No worries, we're here to help.

[2021-09-15 16:36] aktxyz commented on #750
this works great by the way ... thanks !

[2021-09-15 16:36] #750 closed

[2021-09-16 22:24] rynowak commented on #734
@yaron2 - what @halspang  is saying this is exactly the conclusion that I came to.

There is no contract provided by the **runtime** for a *client to deactivate an actor*.  If this is a desirable thing it should be part of the surface area for the client.

[2021-09-16 22:36] rynowak commented on #695
Thanks @doddgu

[2021-09-16 22:36] #695 closed

[2021-09-16 22:41] #550 closed

[2021-09-17 09:44] tangly1991 opened #753 "DaprClient.InvokeMethodGrpcAsync报错 HTTPExtension"
## 调用代码

[code]

[2021-09-17 10:20] hirensharma commented on #698
+1
I am using PubSub with .NET SDK and it is a pain

[2021-09-18 20:57] fbridger commented on #749
Just to double check, Are you running the dapr sidecar? Or haw are you launching the application?

[2021-09-20 22:02] jkotalik commented on #743
I did some investigation on this with @halspang.

Currently, when IISExpress starts in Visual studio, by default, it doesn't explicitly bind to 127.0.0.1. You can see that with the output of `netstat -ano -p tcp` where it's only listening to 0.0.0.0:PORT. By explicitly adding 127.0.0.1 in the launch settings, dapr run works.

However, this still opened up more questions. Let's now say instead of h

[2021-09-20 22:20] fbridger commented on #743
Dapr Sidecar receives the **Application Port** that is calling as an argument `--app-port 5000`
[code]

@jkotalik Is this what you were asking?

[2021-09-20 22:27] jkotalik commented on #743
@fbridger yeah that's what I realized now. The app that is starting (the dotnet app) does nothing to indicate that the app port is 5000 and is based off the argument.

I think the fix you proposed could be fine. Curious about your use case, are you planning to use dapr and IIS purely for local development or in production as well?

[2021-09-20 23:00] fbridger commented on #743
Only for local development. In production it will use Kestrel running the app in a Linux container.

[2021-09-23 06:14] VenkateshSrini commented on #716
@jbw any suggestions to resolve this issue

[2021-09-23 23:26] georgestevens99 commented on #752
FYI A long, long time ago, before 1.0.0 was released, I did a test using the Dapr .NET SDK to verify that pubsub using both redis and Azure Service Bus Topics did indeed support multiple subscribers.  I clearly remember this because I had to add a 3rd service (ServiceC) to my 2 service (ServiceA and ServiceB) test system in order to test multiple subscribers. ServiceA is the publisher.

Also keep

[2021-09-23 23:36] mpaine-act commented on #299
These links no longer work.  Is there an updated doc for calling http directly?

[2021-09-26 20:24] jbw commented on #716
I've raised a PR on your repo to demonstrate. You can close this issue now. It's not a Dapr issue.

[2021-09-27 17:04] johanan opened #756 "Injecting or passing in HttpClient"
It would help testing if I could pass in HttpClient or IHttpClientFactory into DaprClientBuilder.

I can see an internal HttpClient Factory used for internal testing:

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientBuilder.cs#L70
[code]
Which then is used here:
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientBuilder.cs#L158

And that there is an e

[2021-09-28 17:12] sregdorr opened #757 "PostreSQL State Store Issue with Actor Reminders"
## Expected Behavior

I have an Actor that simulates a fax job that takes some time to complete and can end with either a successful or failed fax transmission. After creating the faxJob and receiving a jobId from the fax vendor, I kick off a reminder that polls the fax vendor every 10 seconds for fax completion. After the fax status returns as complete, I unregister the timer.

## Actual Behavior

[2021-09-28 18:48] halspang commented on #737
@mjtansin - What statestore are you using in your application? Also, does the app continue to run afterwards? Or are all actor functions broken?

The error appears to be based on your statestore's authentication model. The reason you may be seeing it is hard to say at first, but when an actor runtime starts up, it tries to fetch all reminders for the actors. This is because reminders are persisten

[2021-09-28 20:46] rynowak commented on #389
Closing this because it has no actionable information. We'll add tests as we make changes and investments going forward.

[2021-09-28 20:46] #389 closed

[2021-09-28 20:46] rynowak commented on #50
This is done.

[2021-09-28 20:46] #50 closed

[2021-09-28 20:47] rynowak commented on #664
This was done in 1.1

[2021-09-28 20:47] #664 closed

[2021-09-28 20:49] rynowak commented on #692
We have this actually. You can use `DaprClient.CheckHealthAsync()`

See: https://github.com/dapr/dotnet-sdk/commit/2ddb4bb7e059a28a3bb326e5c0b1cf36dd9b6bd3

[2021-09-28 20:49] #692 closed

[2021-09-28 20:50] rynowak commented on #694
@halspang - can you double check whether this is done or not?

[2021-09-28 20:51] rynowak commented on #704
This has been fixed.

[2021-09-28 20:51] #704 closed

[2021-09-28 20:53] rynowak commented on #707
@halspang - let's come up with a design before coding this up

[2021-09-28 20:55] rynowak commented on #714
Hi @VenkateshSrini - Dapr PubSub operates over an HTTP/gRPC interface. We don't provide a way for your to poll for messages currently. You could use the RabbitMQ SDK for this and a [worker service](https://docs.microsoft.com/en-us/dotnet/core/extensions/workers)

[2021-09-28 20:55] #714 closed

[2021-09-28 20:56] rynowak commented on #715
@halspang - can you look into this?

[2021-09-28 20:58] rynowak commented on #716
@VenkateshSrini @jbw - is there anything else to resolve here? This sounds like a general troubleshooting discussion and not a bug in the SDK.

[2021-09-28 21:05] fbridger commented on #743
Issue fixed in PR: https://github.com/dapr/dotnet-sdk/pull/754

[2021-09-29 01:17] VenkateshSrini commented on #716
@rynowak ,
Yes I have installed Dapr first then only the app.

[2021-09-29 01:19] VenkateshSrini commented on #714
@rynowak ,
Then how would I work on .NET core BackGround Services

[2021-09-30 02:29] mjtansin commented on #737
Hi!
I thank you are right. I use mongo replica set as statestore. When actors store state value, it will throw exception for authentication problem.  Usually, to login to a mongo db we need to set authentication db, like

mongo --authenticationDatabase <dbName> -u <userName> -p

  but it seems mongdb component dosen't offered the opportunity to set that db.
When I change statestore to redis, all e

[2021-10-01 19:08] halspang commented on #737
@mjtansin - Gotcha, do you need anything else from this ticket then?

@rynowak, if they don't can you close it? I don't have permission yet.

[2021-10-01 20:26] halspang commented on #725
@theperm - I'm not sure that those issues actually added the functionality. Especially the dynamic subscription one as I don't see a linked PR. For the wildcard subscriptions, I'm also not sure how they would've functioned with the linked PRs in there. Maybe it's a per technology thing?

Regardless, I've tried to rework the pubsub quickstart which uses node/python and neither of them seem to work

[2021-10-02 12:57] theperm commented on #725
I've only used the Redis pub sub component to test this. I'm s little confused as to what those PRs added as it was claimed by someone on discord it was wild card subscriptions.

[2021-10-02 13:17] fbridger commented on #757
I am wondering if this is not just a dotnet-sdk but a more general issue affecting all SDKs. In which case, this issue should probably be moved to the dapr/dapr repo.

[2021-10-02 13:29] fbridger commented on #756
I can see the benefit of extracting an interface for the `DaprClientBuilder` or `DaprClient` so it can be injected and mocked in the classes of the application we are building. However, I dont' see why we we would need to inject an interface (hence mock) in the `DaprClientBuilder` itself.

Can you provide more context on how you are using this?

[2021-10-02 13:33] fbridger commented on #753
It would help if you could translate this to English and provide more context on how you are using Dapr so anyone can help you.

[2021-10-04 13:40] Immorality21 opened #759 "Invoke reports 500 when called service returns 200 for results > 4mb"
## Expected Behavior

When calling InvokeMethodAsync, I expect the status code from the called service to be the same statuscode as the calling service is.

## Actual Behavior

InvokeMethod Async returns a 500 error, while the calling service returns a 200 (OK) from the controller when the results exceeds the default 4MB limit. Changing the limit to 40mb or 500mb does not change the result.
When h

[2021-10-04 18:30] johanan commented on #756
I think having an interface for DaprClient will fulfill the need for what I am looking for. An IDaprClient would be perfect for registering, injecting, and mocking.

I agree that HttpClient wouldn't need to be injected after thinking about the context a little more.

[2021-10-04 22:09] pkedy opened #760 "Falsely logged error message"
Created on behalf of a user on Discord.

The dotnet SDK is falsely logging `A default subscription to topic ${topic} on pubsub ${pubsub} already exists.` for the following controller code.

[code]

## Expected Behavior

No error is logged.

## Actual Behavior

Two errors are logged.

[code]
## Steps to Reproduce the Problem

See example code above.

## Release Note

RELEASE NOTE: **FIX** Falsely l

[2021-10-04 22:40] #760 closed

[2021-10-05 14:51] mtaghavi2005 opened #762 "Actor state can't be reset in case of any exception in the user code."
## Expected Behavior
According to what is documented in the source code (Actor.cs), in time of execution of an actor method, if user code throws any exception, all the state changes in the state manager should not be saved.

https://github.com/dapr/dotnet-sdk/blob/75bdb8ce2fa73bcd425743b13013b83677726370/src/Dapr.Actors/Runtime/Actor.cs#L97
![image](https://user-images.githubusercontent.com/197611

[2021-10-06 07:21] fabistb commented on #762
@msfussell can you please add this issue to our project?

[2021-10-06 22:20] halspang commented on #694
@rynowak - It does not appear to be done. The linked PR is just changing some messages and adding tests. One of which appears to specifically check/enforce this behavior?

[code]

[2021-10-07 23:56] rynowak commented on #759
HI @Immorality21 - this is actually a Dapr runtime setting you are running into, not an SDK feature.

By default Dapr has a 4mb limit on request/response size, but this is configurable. See: https://docs.dapr.io/operations/configuration/increase-request-size/

[2021-10-07 23:56] #759 closed

[2021-10-10 06:15] mroberts91 opened #764 "Unhandled Null Reference Exception from StateEntryApplicationModelProvider"
## Expected Behavior
StateEntryApplicationModelProvider OnProvidersExecuted() does not throw unhandled NullReferenceException when ParameterModel.BindingInfo.BindingSource is null.

## Actual Behavior
StateEntryApplicationModelProvider OnProvidersExecuted() throws NullReferenceException when ParameterModel.BindingInfo.BindingSource is null, due to improper binding implementations from other librar

[2021-10-10 17:11] whwlsfb opened #767 "StateManager request don't have dapr-api-token header."
## Expected Behavior

When "dapr_api_token" is specified in the environment variable, The HTTP request Actor.Statemanager sent should contain "dapr-api-token".

## Actual Behavior

When statestore and "dapr/dotnet-sdk" are in the same sidecar and "dapr_api_token" is specified in the environment variable, actor.statemanager cannot correctly set "dapr-api-token" in the request header。

## Steps to R

[2021-10-12 03:30] GreenShadeZhang commented on #753
你需要设置应用服务的协议类别--app-protocol我是使用的docker compose 所以我在启动参数里加了这个参数。参数的顺序很重要，不然有的不生效。

You need to set the protocol category of the application service -- app protocol. I use docker compose, so I added this parameter to the startup parameters. The order of parameters is very important, otherwise some will not take effect.
[code]

[2021-10-13 23:53] #764 closed

[2021-10-13 23:53] rynowak commented on #764
thanks @mroberts91

[2021-10-14 15:14] bcraun opened #842 "Need Dapr docs for creating Dapr .NET services and virtual actors with ASP.NET extension"

[2021-10-15 06:24] farhadnowzari commented on #560
Hi,

I was wondering if this change is published into nuget.
I'm currently using Dapr.AspNetCore 1.4.0 and I'm still getting `System.Text.Json.JsonReaderException : '0xFF' is an invalid start of a value` on receiving raw files.

I'm using the Dapr LocalStorage binding and I can successfully save the file with the following command:
[code]
but when I want to read it I get exception that it cannot d

[2021-10-19 09:59] mhozhda-agiliway opened #771 "Why dapr creates sns topics with guids instead of topic names specified with [Topic] attribute?"
I'm using dapr pubsub with aws sqs/sns. I have an action on controller with [Topic] attribute specifying topic name as "TestTopic". I expect it to create a topic with according name but it instead creates a topic with some guid as name (e.g c4728b1efd3237fefce0b1beb262bae2e5facb633c36515de68d8576adb657d9)

Why does it behave this way. Is there a way to create a topic with a name specified or subsc

[2021-10-19 11:12] #771 closed, assigned to nobody

[2021-10-19 12:29] ssm3ll opened #772 "Actor: Get existing reminder by name"
## Expected Behavior

As per official documentation https://docs.dapr.io/reference/api/actors_api/#get-actor-reminder it is possible to get existing reminder by its name. So Actor should contain method GetReminderAsync(string reminderName) to get existing reminder, that has been previously created using RegisterReminderAsync (string reminderName, byte[] state, TimeSpan dueTime, TimeSpan period) me

[2021-10-19 20:25] rynowak commented on #772
Hi @ssm3ll,

You're right that we don't surface this through the Actors SDK. Do you have a use case in mind here? What do you plan to do with the data you will get?

That information will help us prioritize this as well as determine how it should be designed.

[2021-10-19 20:39] rynowak commented on #757
@halspang - can you try to repro. I suspect we'll need to move this to dapr/components-contrib or dapr/dapr eventually, but we should scope it out first.

[2021-10-19 21:08] #741 closed

[2021-10-20 01:22] #767 closed, assigned to nobody

[2021-10-22 09:31] #742 closed, assigned to nobody

[2021-10-22 11:53] mcrio opened #773 "When publishing a message allow setting Cloudevent attributes / Pub-Sub routing"
## Proposal

Hi,

As we have the Pub/Sub routing feature, it'll be very useful to be able to set specific Cloudevent attributes when publishing the message.

At this point, the `Publish` implementation accepts only the message data, and there seems to be no other way to override the `event.type` or another attribute, other than making a direct HTTP request to the sidecar with the `application/clou

[2021-10-29 14:19] peter-alegeus opened #774 "Make all methods on DaprClient virtual"
Hello, I've recently begun evaluation and usage of Dapr and I love it. This client library is also great, however I have had some difficulty in unit testing, specifically mocks. The DaprClient does not implement an interface and thus makes unit testing a little harder. I would like to see the DaprClient implement an interface, maybe IDaprClient, so that I can mock out things like InvokeMethodAsync

[2021-11-02 12:03] aktxyz commented on #661
any idea when the reentrancy support will make it into this sdk?

[2021-11-02 12:23] halspang commented on #661
@aktxyz

It's been in the sdk since 1.3. It's currently a preview feature in the runtime, though we're looking into seeing when we can take it out of the preview features.

[2021-11-02 14:35] aktxyz commented on #661
I did not realize that !  thanks

[2021-11-03 09:49] dmytrohridin commented on #774
@peter-alegeus methods you mentioned is abstract. You can mock abstract or virtual members using Moq, you do not need an interface for such things.

[2021-11-03 15:15] peter-alegeus commented on #774
Hmm...it seems that some of the the overloads of InvokeMethodAsync are abstract and some are neither abstract nor overridable. I can Mock the abstract overloads but not the others. Here's a quick example of one mock attempt that doesn't work; the call to InvokeMethodAsync in the controller method named Direct() returns null rather than the Message object defined in Mock setup. If I instead mock on

[2021-11-06 18:00] modabas opened #775 "Publishing raw messages in any serialization with dapr dotnet sdk"
This has been asked before in #718 , with dapr/dapr#3143 it's possible to publish raw messages in any serialization with dapr.

With dotnet sdk, it's possible to add rawPayload tag to metadata to indicate this is a raw message:

[code]

However, it's not possible to change message content serialization (json by default) and content type info ("application/json" by default) sent to dapr.

Do you ha

[2021-11-07 11:50] francescocristallo opened #776 "SecretStoreProvider: Failed to init state store secretstores.local.file - invalid character 'ï'"
I've followed the SecretStoreConfigurationProviderSampleexample here:
https://github.com/dapr/dotnet-sdk/tree/master/examples/AspNetCore/SecretStoreConfigurationProviderSample

but I can't make it work.
My steps:

I created a new Console App with .Net6 RC2 in Visual Studio 2022.
Dapr version:
CLI version: 1.4.0
Runtime version: 1.4.3

My minimum viable repo is here: https://github.com/francescocri

[2021-11-09 06:04] rizamarhaban opened #780 "Support Dapr for .NET 6 minimal API"
Using Dapr for minimal API. I tried and the service require to add controllers `services.AddControllers().AddDapr()`
I was wondering if we can just do `services.AddDapr()`  So no need to add controllers.

[2021-11-09 19:28] dmitsh opened #777 "add support for statestore query API"
This feature is implemented in dapr runtime: dapr/dapr#3662

It should be available via the SDK

[2021-11-10 08:04] zsq1576154634 opened #778 "Can't serialize dynamic object in actor"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
actor code
![image](https://user-images.githubusercontent.com/52565295/141073638-e621c0e7-7903-4d79-b0d1-2b76c6337665.png)
when I beg that Actor
![image](https://user-images.githubusercontent.com/52565295/141073763-0d4e0f27-4af4-4a08-b9f7-7c46f28b7485.png)
habs this error

 Dapr.Actors.ActorMethodInvocationException: Remot

[2021-11-11 00:32] DexManx commented on #774
I did this using Moq:

[code]
Haven't looked at any other methods yet, but thought to share.

[2021-11-11 11:35] bgelens opened #779 "AddDaprSecretStore Extension always throws unhandled exception at container start"
## Expected Behavior

Using `AddDaprSecretStore` extension will not throw an exception when the side car is not ready yet

## Actual Behavior

It throws an unhandled exception crashing my pod. On restart, it goes through fine

[code]

## Steps to Reproduce the Problem

Dapr 1.4 running in Kubernetes with a dotnet 5 webapi app.

[code]

## Release Note

RELEASE NOTE:

[2021-11-11 12:36] peter-alegeus commented on #774
Thank you @DexManx. FWIW, I also was able to mock out that method. Any methods marked abstract can be mocked, and all the overloads of PublishEventAsync are abstract. This is not the case for InvokeMethodAsync however, only some of those are abstract. I will try marking the non-abstract overloads of InvokeMethodAsync as virtual in a local copy and see what that accomplishes.

[2021-11-12 00:27] halspang commented on #774
@peter-alegeus - Thanks for opening this issue! Everything should be mockable as all of the non-abstract methods in the DaprClient actually call down to the abstract ones. I think the problem you had with your mock is that in your controller, you use the typed method `InvokeMethodAsync<Message, Message()` but in the mock, you mock the generic one `InvokeMethodAsync()`.

I believe the other thing y

[2021-11-12 19:22] halspang commented on #774
We have no plans to add an interface for `DaprClient`. One thing we can do is add `virtual` to all the client methods. This would allow them all to get mocked.

This would be a breaking change though, so we won't do this until we have a stronger reason for a breaking change.

[2021-11-12 19:26] halspang commented on #779
We can now try and hit dapr with retries inside the configuration builder, which can stop this. I can also investigate calling the dapr healthcheck api and proceeding one it is complete. I'll only do that if I can verify that there is no potential for deadlock between the two starting systems.

[2021-11-12 19:33] halspang commented on #778
Actors use DataContractSerializer and inherit all of its behavior and limitations. This is not something we control inside of Dapr.

I don't suggest trying to use `dynamic` with actors.

[2021-11-12 19:33] #778 closed

[2021-11-12 19:39] halspang commented on #776
I can't access your repo, I get a 404. Is it private?

I ran the sample in our repo and it works for me. The error you're seeing is also a runtime error, not a .NET error.

[2021-11-12 19:46] halspang commented on #775
We'll add a new method that will skip the json serialization portion and work on raw bytes instead.

[2021-11-12 19:46] halspang commented on #718
We'll add a new method that will skip the json serialization portion and work on raw bytes instead.

[2021-11-12 19:47] halspang commented on #724
We'll add a new method that will skip the json serialization portion and work on raw bytes instead.

[2021-11-13 01:10] DexManx commented on #774
Hey being able to mock is a strong reason.. just saying.. a very strong reason in my point of view.

[2021-11-13 04:41] francescocristallo commented on #776
I accidentally set the repo as private, now is public.
I'll try to post this question in the main Dapr Issues page, it looks like is unrelated to the dotnet sdk

[2021-11-13 04:41] #776 closed

[2021-11-13 11:56] #775 closed

[2021-11-14 14:25] fbridger commented on #774
Hi @halspang, can you or anyone else provide more information about why it was decided not to use an interface for IDaprClient. To be honest, this technical decision seems a little bit weird to me and I think everyone using the SDK could benefit to understand why this decision was made.

[2021-11-15 17:59] halspang commented on #774
@DexManx - It is a strong reason, but as I've shown, it is possible right now. It's just not as convenient as it could be. Since it's more of a convenience factor instead of a limitation, I think it's better to wait for other breaking changes to come along before doing anything. That way we can limit the number of releases with breaking changes.

@fbridger - Coming from a Java background, not usin

[2021-11-15 22:28] yaron2 commented on #780
Transfered to correct repo.

cc @rynowak

[2021-11-16 05:02] #709 closed

[2021-11-16 10:36] sameer106 commented on #632
@rynowak Are you looking for any help? I would love to start my open source journey with this as am really interested in Dapr project.

[2021-11-19 23:06] rpenha opened #783 "Is it possible to store state value as an object instead of a serialized string while persisting state?"
Hi!

I'm trying to save state in a MongoDB state store. When the state is saved using the .NET Dapr client (https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-client/#save--get-application-state), it stores the state value as a serialized string in the database.

However, if I save the same object using the Dapr HTTP Store API (https://docs.dapr.io/developing-applications/building-blo

[2021-11-21 02:04] mdg215199 commented on #628
It would be nice if this was an option.  Overall, System.Text.Json is great, and while i appreciate the performance there are situations where System.Text.Json can cause headaches where as newtonsoft has no issues at all.

[2021-11-22 11:39] rowanhwilliams opened #841 "Dapr .NET SDK integration with ASP.NET needs content"
**What content needs to be created or modified?**
The entire `Dapr .NET SDK integration with ASP.NET` section in the docs needs content

[2021-11-22 13:58] tstojecki opened #784 "Reminder's state manager stale value with more than one run through"
## Expected Behavior
Reminder that goes beyond one cycle (isn't removed after one single run through) should get an update to date eventually.

## Actual Behavior
Reminder never receives an updated state if state is updated following the first run through.

## Steps to Reproduce the Problem
Run example/actor demo app. Modify so that state is updated by ActorClient once the reminder had a chance to

[2021-11-23 00:24] halspang commented on #762
Took a look into this and was able to repro it. I'll work on a fix.

[2021-11-23 02:33] dream2zz opened #785 "Bulk State"
## Describe the proposal

need  some methods named "SaveBulkStateAsync" and "SaveBulkStateAndETagAsync" .

in other words, we think the method name should be paired.

[2021-11-23 06:23] tstojecki commented on #784
It has to do with the internal state tracker context inside ActorStateManager.cs - appears to be some sort of per request caching mechanism? Basically the reminder is unaware to subsequent updates to the state as StateManager continues to return the value stored/cached in tracker context.

One workaround is to call StateManager.ClearCacheAsync() as that internally clears the dictionary before Stat

[2021-11-23 22:14] chenhongyi opened #786 "GetStateAsync/GetStateEntryAsync works when using redis but fails with MongoDB"
I have a small DAPR-enabled service which I originally wrote against the default redis state store. With that, the code worked fine. When I switched the state store to MongoDb reading from the store started throwing exceptions.

Dapr.Actors.ActorMethodInvocationException: Remote Actor Method Exception
 ---> Dapr.Actors.ActorInvokeException: The JSON value could not be converted to System.Int32. Pa

[2021-11-23 22:42] dmitsh opened #787 "add support for Configuration API"
The Configuration API feature has been implemented in Dapr runtime: https://github.com/dapr/dapr/pull/3606
It needs to be accessible via the SDK.

[2021-11-23 22:54] dmitsh opened #788 "add support for TTL and time/interval formats in actor timers/reminders"
This feature has been implemented in Dapr runtime: dapr/dapr#2906

It needed to be available via the SDK.

[2021-11-24 15:46] SWarnberg opened #790 "How to subscribe from non-dapr client?"
I'm evaluating the **Dapr** framework as a solution for pub/sub services. However, we need to have support for non-Dapr clients to be able to subscribe to the topics we publish to. According to the documentation, it would be possible by using [raw messages](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-raw/) without specifying it in more detail.
But how do clients regi

[2021-11-25 03:21] saber-wang opened #791 "system.InvalidCastException: Unable to cast object of type 'Microsoft.AspNetCore.Routing.Patterns.RoutePatternParameterPart' to type 'Microsoft.AspNetCore.Routing.Patterns.RoutePatternLiteralPart'."
Error reporting using apiversion

[code]
access /dapr/subscrib

error:
[code]

[2021-11-27 17:34] aktxyz opened #792 "reentrant actor question"
In the dapr doc info, they show some reentrant actor scenarios.  In these cases, the best I can tell from looking thru the code, is that the reentrant header id is automatically handled by the dapr-dotnet sdk?

[code]
https://docs.dapr.io/developing-applications/building-blocks/actors/actor-reentrancy/

Here is my question ... is this a valid scenario?

[code]

It seems like the dapr spec allows f

[2021-11-29 10:41] wjkhappy14 opened #793 "How to debug with vs2022"
when  run the:dapr run --app-id routing --app-port 5000 -- dotnet run    successfully

then how to debug the  app  with vs2022 or vscode ?

[2021-12-01 10:47] tstojecki commented on #772
In the absence of this, is there any downside to registering a reminder with the same name with each request in a controller? We have a service that uses an actor to get/set state and want to have one instance of a reminder running at all times.

[2021-12-01 12:28] modabas commented on #793
https://github.com/dapr/dotnet-sdk/issues/401#issuecomment-747563695 worked with vs 2019 for me. I used second method (VS Extension)

[2021-12-01 17:40] fbridger commented on #791
Removing or hardcoding the `version` from the controller route fixes the issue?
[code]

[2021-12-01 17:53] rynowak opened #794 "Add build/test with .NET 6 to CI matrix"
Now that .NET 6 is our we should start running tests against it regularly.

We don't know of any code changes we need to make for .NET 6 to work for users, this just tracks us adding it to the test matrix.

[2021-12-02 01:18] saber-wang commented on #791
@fbridger  Yes, it can be solved. Apiversion cannot be supported

[2021-12-02 12:12] AppSentinel opened #795 "Sentinel does not work for the grpc method"
## Expected Behavior

var result = await daprClient.InvokeMethodGrpcAsync<HelloRequest, HelloReply>("daprbackend", "SayHello", request)

The rules of sentinel has no action for the above method;

forecasts = await _daprClient.InvokeMethodAsync<parms,IEnumerable<WeatherForecast>>(
                HttpMethod.Post,
                "dotbackend",
                $"weatherforecast",
For the ApiMethod, s

[2021-12-02 16:12] ssm3ll opened #796 "Pub/sub subscriber endpoint protect"
Just wonder how Dapr guarantee that subscriber endpoint will be called only by Dapr sidecar and only if any event occurs on e.g. event hub side. Currently it's possible to call same endpoint using v1.0/invoke sidecar api so any other component can invoke subscriber endpoint. Let me explain:

we have appId: eventlistener with is called by subscriber component restricted by scope with route: /receiv

[2021-12-03 10:07] wjkhappy14 commented on #401
thks

[2021-12-05 21:27] sravimohan commented on #649
Ran into this, and DaprClient.CreateInvokeHttpClient feels more cleaner as in the below example,
[Invoke Service Http Client Example](https://github.com/dapr/dotnet-sdk/blob/9104c6624cc474e52717ddb7408a75449b071a02/examples/Client/ServiceInvocation/InvokeServiceHttpClientExample.cs#L32)

[2021-12-06 18:18] halspang commented on #792
You're correct that the headers need to be passed and that currently, the .NET SDK handles everything. I don't know how well it preserves the headers from the service invocations though.

Have you tried this already? If it doesn't work we can look into what it would take to get it.

Or, as an alternative, you can define the service as ActorB instead, which would give you this out of the box.

[2021-12-06 19:31] repne opened #797 "StateManager.RemoveStateAsync inside a run-once reminder is logging unexpected 404 errors"
This is happening in Dotnet 6 using Dapr.Actors.AspNetCore 1.5.0.

## Expected Behavior

I have an actor that removes its own state after some time using a reminder:

[code]
and in the actual reminder code, after checking that the state exist I have:
[code]

The expectation is that the state is deleted and no errors are logged.

## Actual Behavior

The state is correctly deleted but I get a spike

[2021-12-07 00:24] halspang commented on #785
Is this as an alternate to `ExecuteStateTransactionAsync` or something different? What's your use case here?

[2021-12-07 03:11] Dream2zz commented on #785
yes, is as an alternate , is talking about  specification

[2021-12-10 01:34] saber-wang opened #798 "Cloudeventsmiddleware has lost other properties of cloudevents"
## Describe the proposal
https://github.com/dapr/dotnet-sdk/blob/cc1b097991bbf268464b74935cdfbb35c0a26443/src/Dapr.AspNetCore/CloudEventsMiddleware.cs#L78

Should additional attributes be attached to the request header?

[2021-12-10 02:52] dmitsh opened #799 "update LICENSE file and license headers"
Per CNCF requirements, replacing MIT License with Apache.

[2021-12-10 07:10] geekgao opened #800 "ERR_DIRECT_INVOKE: fail to invoke: app channel is not initialized"
## Ask your question here
We deploy app to k8s cluster (TLS disabled). But app caller is error, like this:

[code]

**io.dapr.exceptions.DaprException: ERR_DIRECT_INVOKE: fail to invoke, id: policy, err: rpc error: code = Internal desc = app channel is not initialized**

Any suggestions?

---
This is my k8s conf piece:

[code]

seems the port and host is ok:
[code]
Network is works.

[2021-12-10 11:04] #800 closed

[2021-12-10 19:39] dmitsh commented on #799
/assign

[2021-12-10 21:39] #799 closed

[2021-12-13 01:30] conradcreel opened #803 "Subscription endpoint not being called using Pub/Sub"
Tried a bare bones pub/sub sample with dapr 1.5.1 and the Subscribing endpoint is never called. Everything seems to be configured correctly and publishing works fine.

**Program.cs** looks like:
[code]

**PublisherController.cs** looks like:
[code]

**SubscriberController.cs** looks like:
[code]
**Calling /dapr/subscribe** returns:
`[{"topic":"my_topic","pubsubName":"pubsub","route":"subscribe"}]`

[2021-12-13 13:38] bitTobiasMeier commented on #803
I have the same problem.  But if I use the topic name for the HttpPost attribute, then it works.
[Topic("pubsub", "order")]
    [HttpPost("order")]
    public void HandleMessage([FromBody] MyEvent e)
    {
        _logger.LogInformation("Subscriber received : " + e.Data);
    }

[2021-12-13 14:48] conradcreel commented on #803
I tried that as a curiosity but still same behavior on my end--subscriber never picks up the message

[2021-12-13 14:57] bitTobiasMeier commented on #784
I detected the same problem. After restarting the service the correct value will be loaded in the reminder also.

[2021-12-17 09:13] 1448376744 opened #804 "How can I add a custom 'Delegatinghandler'"
## Describe the proposal

[code]

[2021-12-17 09:15] 1448376744 commented on #804
I hope daprclient can customize the 'httpclient' pipeline for unified processing of login, exception handling, log, etc

[2021-12-18 06:01] 1448376744 commented on #804
Can we introduce a pipeline mechanism based on 'invocationhandler' to handle all method invokes

[2021-12-20 16:32] halspang commented on #803
@conradcreel - Have you tried running the `ControllerSample` in the repo? That could show if the endpoints are being setup correctly.

When you run the app, do you see a log message like this?

[code]

Or do you see an error like this?

[code]

[2021-12-20 17:00] halspang commented on #804
@1448376744 - I'm not exactly sure what you're asking for here. Can you describe your use case a bit more?

[2021-12-20 17:04] halspang commented on #798
@saber-wang - Thanks for opening this issue! Are you just asking for additional properties to passed through to the subscription endpoint? Is this as opposed to providing them in the body of the message?

[2021-12-20 17:06] halspang commented on #797
@repne - Thanks for opening this issue! Where does that error message come from? Is your application logging it, or is the dapr runtime logging it?

[2021-12-20 17:13] halspang commented on #796
@ssm3ll - Thanks for opening this issue! I think you have a couple ways you can do this:

1. Use the Dapr/API tokens, but deploy your application in a configuration that can use unique tokens. If you deploy your subscribing app in its own sidecar, they could have a unique secret. Thus, only requests from that sidecar should be accepted.
2. You can try using access control lists: https://docs.dapr.

[2021-12-20 17:24] halspang commented on #790
@SWarnberg - Are you asking how to subscribe a non-dapr app to a generic pubsub service? Or how you would subscribe an app that has a dapr sidecar but chooses not to use dapr's subscription method?

[2021-12-20 17:26] halspang commented on #786
@chenhongyi - What does your data type look like? It seems to me that it's just being interpreted incorrectly.

[2021-12-20 17:33] halspang commented on #785
@rynowak - What do you think of adding this? Technically, the Dapr runtime does support sending a list of requests to its `SaveState` API. Even in the SDK, we're just sending an array of a single request at a time.

This API does overlap with the transactional API, but it comes with less guarantees and opens up bulk APIs to people who don't want to use a transactional statestore. I think there's s

[2021-12-20 18:47] SWarnberg commented on #790
The latter.

[2021-12-20 18:51] halspang commented on #790
You can setup an endpoint at `/dapr/subscribe` if you want dapr to pick it up.

If you want it to be fully outside of dapr, you'd have to use whatever SDK the service you're connecting to provides.

[2021-12-21 01:30] 1448376744 commented on #804
example:
1.  I have an 'httpmessagehandler' for unified login and error handling
[code]
2. It is hoped that exception handling and authentication can be performed during service invocation.How do I weave this section?
[code]

[2021-12-21 03:10] saber-wang commented on #798
@halspang I just don't think we should throw away other attributes

[2021-12-21 08:01] iahuohz opened #805 "HttpClient couldn't find service when APP ID contains upper case characters"
I craeted the classic MyBackEnd Web API application, and ran with:
[code]
Please note that -app-id(MyBackEnd) contains some upper case characters(M, B, E)

Then I wrote a console application to call the web method as:
[code]
Finally, I ran the console application with:
[code]
I got the following errors:
[code]

However, when I ran MyBackEnd Web API application as(replace "MyBackEnd" with "mybacken

[2021-12-21 18:33] repne commented on #797
We are seeing this in appinsights using the appinsights dotnet sdk (not dapr own telemetry implementation). I will have more details once I'm back from holiday early January. Thanks for looking into this.

[2021-12-22 16:51] tstojecki opened #806 "Actor missing exception when service registering actors starts after another service"
## Expected Behavior
Actor missing exception doesn't occur when the service that doesn't have any actor code starts before the service that registers

## Actual Behavior
Actor missing exception persists throughout until services are started in the order where the service with actor registration starts first

## Steps to Reproduce the Problem
Follow the 3 steps from the readme in the provided sampl

[2021-12-27 07:08] zivfuture opened #807 "How to attach accesstoken automatically before invoke some other microservice?"
## Ask your question here
According to this guide [here](https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/service-invocation)
[code]
The `OrderServiceClient`  was injected as Singleton instance.
Everything looks fine.

But . I must pass the accesstoken as a parameter in every invocation like this:
[code]

Is there a way to get bearer accesstoken automatically in SDK?  s

[2021-12-28 06:01] Weidaicheng commented on #803
I got the same error, but it works fine under docker compose instead of self host
`ERRO[0000] app returned http status code 403 from subscription endpoint  app_id=sub-csharp instance=weidaichengdeMacBook-Pro.local scope=dapr.runtime type=log ver=1.5.1
`

[2021-12-28 06:33] Weidaicheng commented on #803
Hey guys @conradcreel @bitTobiasMeier @halspang , I figured it out!
I'm sure the ur using mac too, there is a Control Center process on Mac which is listening on 5000 prot.
I call the /dapr/subscribe from postman when none of my apps running, I got a 403 code.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/18458093/147535044-9b816906-a94b-4423-b146-cc1f555bd4f3.png">
S

[2021-12-29 04:01] zivfuture commented on #807
I resolved this.   closed this issue.

[2021-12-30 01:49] sjwaight opened #809 "PublishEventAsync results in Grpc.Core.RpcException (Connection refused) even when sidecar running (v1.5.1)"
## Expected Behavior

Using the DAPR .NET SDK client PublishEventAsync method should work as expected.

### Background

DAPR sidecar is started just once with these arguments:

[code]

Pubsub component config is

[code]

This code results in an Exception and no message publication.

[code]

In the exact same cs file I can implement the above as follows and no error occur and my message is publishe

[2022-01-04 15:38] ChrisProlls commented on #9
I will give a try on this one, but before let me ask few questions

- Have you any docs about the current test projects architecture ?
- Can I reuse some existing test components ?
- I already see some tests around the Actors component (`Dapr.Actors.AspNetCore.IntegrationTest` and `Dapr.Actors.Test`), can I be inspired by it?
- What do you call integration test ?

Thanks

[2022-01-04 19:28] amulyavarote opened #872 "Add documentation about configuration API (subscribe configuration method) - Dotnet SDK"
**What content needs to be created or modified?**
Add information about the configuration API (subscribe configuration method) for dotnet sdk.

**Describe the solution you'd like**

**Where should the new material be placed?**
Under sdk documentation

**The associated pull request from dapr/dapr, dapr/components-contrib, or other Dapr code repos**

**Additional context**

[2022-01-06 18:50] halspang commented on #809
@sjwaight - Thanks for opening this issue! Just a few questions.

1. What component are you trying to use?
2. Does this happen immediately, or does it take time to fail? Does it ever work?
3. Are you getting an error in your dapr logs as well?

[2022-01-06 18:54] halspang commented on #805
@iahuohz - Thanks for opening this issue! I'll try and dig in a little and see if this is a problem on the .NET side or if it's something that the runtime itself is doing.

[2022-01-07 02:15] halspang commented on #805
@iahuohz - I was able to reproduce this, but I think it's something that's happening outside of the dapr SDK. Http URLs are generally case-insensitive. Doing some step through debugging, it looks like the HttpClient that's returned from the System.Net code is what replaces the host (your app) with a lowercase version of it.

I'm not exactly sure where this happens, as I can't seem to make my debug

[2022-01-07 02:15] #805 closed

[2022-01-07 04:10] sjwaight commented on #809
So after a bit of digging I came across this other closed issue: https://github.com/dapr/dotnet-sdk/issues/609 which makes reference to the need for a GRPC environment variable `DAPR_GRPC_PORT`.

While I am not using this explicitly in my application it looks like if this missing from the hosted application then you end up in this situation (error) because it looks like the DAPR .NET SDK is defaul

[2022-01-07 06:31] iahuohz commented on #805
@halspang Got it!  Thanks a lot.

[2022-01-07 10:04] jsaelmackers opened #811 "Cannot debug anymore Dapr Actors in Visual Studio 2022 targeting framework net6.0"
What version of Dapr?
Dapr Actors 1.5.0

Expected Behavior
To be able to debug step by step when attaching the code to a process.

Actual Behavior
Since we are targeting the net6.0 framework, it is no more possible to debug the code in Visual Studio 2022.
Some error messages appears in the output console
'DaprActorService.exe' (CoreCLR: clrhost): Failed to load metadata for 'DaprActorContract.ICus

[2022-01-07 18:08] halspang commented on #809
I believe that this is actually expected. I missed that in your first example there you were running them separately. When you run the sidecar separately, you need to define the environment variables manually.

The .NET SDK also does all of it's communication to Dapr via gRPC. This predates me, but I believe the reasoning here is that the gRPC API is defined via the protobufs, so it can be, at lea

[2022-01-08 06:16] 1448376744 commented on #804
Will the dapr SDK support the pipeline mechanism before and after the implementation of "invokemethod"?

[2022-01-11 21:08] halspang commented on #809
I spoke with @rynowak and he confirmed that this is expected and a documented behavior of `dapr run` closing this issue.

[2022-01-11 21:08] #809 closed

[2022-01-13 01:50] #777 closed

[2022-01-13 16:04] conradcreel commented on #803
@Weidaicheng - I'll try playing with the ports but I'm running this on Linux. Also I didn't have an issue calling /dapr/subscribe (and getting the right endpoint in the response). Literally everything works perfectly... except the handler isn't firing--verified by calling it directly versus publishing a message. The former writes to the log, the latter does nothing.

[2022-01-13 17:01] #762 closed

[2022-01-13 18:08] halspang commented on #803
Can you share any logs from your dapr sidecar or application? It'd be good to see what kind of error you're getting.

[2022-01-13 19:47] harvendra2022 commented on #779
We have started using Dapr in Microservices written .Net 6. Using DaprSecretStore to get the secretes from Azure Key Vault. It would be great if this issue be fixed at the earliest? Is there any tentative time for the fix?

[2022-01-14 01:51] Weidaicheng commented on #803
A log would be perfect, so we can check that out🤓

[2022-01-14 01:56] Weidaicheng commented on #803
I check your code above, and from my understanding, you can't use the event message entity directly by default, you should wrap your own entity class by the dapr message like this
<img width="710" alt="image" src="https://user-images.githubusercontent.com/18458093/149437951-90137fe7-829e-46c5-b11a-2843e70e2de9.png">
And also here is the `SubMessage` definition
[code]

[2022-01-14 11:10] i-am-shodan commented on #718
I'd very much like this feature for skipping json serialization. I want to use Newtonsoft instead of JSON.NET

[2022-01-14 11:58] i-am-shodan commented on #718
For anyone else looking i'm invoking the underlying private function to allow me to pass my own JSON

[code]

[2022-01-16 20:34] darthmolen opened #813 "Placement Service not called for Actor Using Dotnet SDK and Docker-Compose"
When using the DotNetCore 6,  DotNet SDK, Docker Compose, custom bridge, the placement service never gets called.

docker-compose

[code]

program.cs:
[code]

when calling the actor endpoint via swagger, it says "Dapr.DaprApiException: actor runtime is not configured". Also, in the placement service, there is no log entries about a member update count. However, calling the /dapr/config on the serv

[2022-01-17 13:02] mumumi opened #814 "ActorHost.JsonSerializerOptions is always null"
## Expected Behavior

After configuring "JsonSerializerOptions" in "AddActors", im going to request the same options from "actorHost" in the constructor of my "TestActor".

## Actual Behavior

Got a null value instead.

## Steps to Reproduce the Problem

Simply check "actorHost.JsonSerializerOptions"

## Release Note

RELEASE NOTE:
**FIX** Missing JSON Serializer option in ActorHost

[2022-01-19 21:07] tillig opened #817 "`services.AddDaprClient()` should allow fluent registration"
## Describe the proposal

The Dapr.AspNetCore package has an extension for registering the Dapr client using `services.AddDaprClient()` [here](https://github.com/dapr/dotnet-sdk/blob/764b4d7674296b3e1c3864de80e9fe6dd2d16b0d/src/Dapr.AspNetCore/DaprServiceCollectionExtensions.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%

[2022-01-20 07:37] SarangRapid commented on #803
similar thing I m facing, pub is working fine, while sub is not getting hit, using service bus queue, dapr/subscription is there on the subscription endpoint, logs confirmed pubsub loaded while running subscription client.

`
time="2022-01-20T12:35:39.7773741+05:30" level=info msg="component loaded. name: pubsub, type: pubsub.azure.servicebus/v1" app_id=dapr_statechange_app instance=PUN-NB-LED6Z3D

[2022-01-21 02:17] Weidaicheng commented on #803
Can u share ur code?

[2022-01-24 09:55] ManuDinicola commented on #811
Hello, we encounter the same problem here. Is there any workaround or something that we can do to debug our actor?

[2022-01-24 18:47] greenie-msft opened #820 "Add docs on how to use the State Management Query API"
The state management API needs documentation. Please add documentation that is consistent with the other .NET SDK docs on how to use the Query capability.
The doc / example should live here: https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-client/

[2022-01-24 19:17] #820 closed

[2022-01-24 23:38] halspang commented on #725
@theperm - Circling back here, I think this is a runtime feature more than anything else. I'd recommend opening an issue there if you want this feature. I'm going to close this issue for that one but feel free to reopen if you think it belongs here/want to continue the discussion.

[2022-01-24 23:38] #725 closed

[2022-01-24 23:39] halspang commented on #737
No activity here for a while, and I have permission to close things now.

[2022-01-24 23:39] #737 closed

[2022-01-25 00:04] halspang commented on #299
Given the lack of traction here and the work involved for the extra support, I'm going to close this issue. We're also now outside the LTS window.

[2022-01-25 00:04] #299 closed

[2022-01-25 00:07] halspang commented on #792
@aktxyz - Were you able to find a solution that worked for you?

[2022-01-25 00:28] halspang commented on #753
This has been quiet for a while, I'm closing the issue. @tangly1991 - Feel free to reopen if you need anything else.

[2022-01-25 00:28] #753 closed

[2022-01-25 00:30] halspang commented on #699
Seems like this was solved via the referenced PR. Closing this issue. @thangchung - Please reopen this if that didn't solve your issue.

[2022-01-25 00:30] #699 closed

[2022-01-25 00:46] halspang commented on #791
@saber-wang - Given the fix, does this work for you? Or do you think we should have the direct support for `ApiVersion`?

[2022-01-25 01:05] saber-wang commented on #791
@halspang  If you can support, this is the best. If you can't, I'll use hard coding😉

[2022-01-25 19:29] halspang commented on #796
@ssm3ll - This has been stale for a while. Do you need anything else from this issue?

[2022-01-25 19:31] halspang opened #822 "Add Support for Configuration Subscribe API"
## Describe the proposal
In 1.6, we added support for the GetConfiguration API. We should also add support for the subscribe portion of the API.

[2022-01-25 21:45] halspang commented on #817
@tillig - Thanks for this issue! However, this is technically a binary breaking change. I'm going to start making a v2.0 milestone for this SDK. Once we reach a critical mass of issues in it, we can start making a new major version for the SDK.

[2022-01-26 16:59] #794 closed

[2022-01-27 10:39] ssm3ll commented on #796
@halspang my apologies for delay response. thanks for you answer. I am going to close this issue

[2022-01-27 10:39] #796 closed

[2022-01-28 16:09] arkakk93 opened #827 "Dapr invoke binding with Event Hub publishes multiple messages"
**Description**
For each event that I publish using Azure Event Hub binding, there are several events that get published to the event hub.
The service is deployed on AKS cluster

**Using following to publish:**
await this.daprClient.InvokeBindingAsync("<componentName>", "create", <object>, new Dictionary<string, string> { { "partitionKey", "<someId>"} });

**Details**
_Component Used_

apiVersion:

[2022-01-28 17:15] #814 closed

[2022-01-29 12:21] Sen-Gupta opened #828 "Include Samples for Grpc Proxy"
## Include  Samples for Experimental Grpc Proxy

The sample contains examples of invoking grpc and uses InvokeGrpcAsync

Will it be possible to include sample based on Grpc Proxy as shown here.

https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/

[2022-01-29 14:56] Sen-Gupta opened #829 "Is Grpc Proxy Support available in the SDK?"
## Is Grpc Proxy  Support Available?

Please help us understand if Grpc Proxy Support is available in dotnet dapr sdk?

As described here:
https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/

We tried to follow the instruction/steps shown on this  video but  the client fails to hit Grpc Port.
https://www.youtube.com/watch?v=Q2xS153IofM

We ar

[2022-01-31 07:47] arkakk93 commented on #827
This is happening when the load is increased
With one or two messages, it seems to be working fine

Is this the correct setup? Like mentioned above same binding is used by one service to publish and other to subscribe. Should it each service have different components for binding (and Invoke binding) to work correctly?

[2022-02-04 20:17] halspang commented on #829
Yes it is, we just don't have an example for proxying. You'd use this method to create your invoker which will handle passing the header for you:

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClient.cs#L133

[2022-02-04 22:22] shobhitkasliwal-onbe commented on #773
@mcrio  - did you find a solution for this ?

I am using the Orchestrator pattern in my .NET  6 apps  and calling multiple services using the pubsub and would like to maintain the same traceid for tracing but it is generating a new traceid for each pubsub request.

Service1 (Puts msg on queue) -> Service 2 Receives it -> Service 2 (Puts msg on queue as response) - > service 1 Receives it
... some

[2022-02-04 22:34] mcrio commented on #773
Hi @shobhitkasliwal-onbe as described above my workaround was to not use the SDK but HttpClient directly and forwarding the trace-id within the `traceparent` header. Dapr will pick up that HTTP header.

[2022-02-07 15:16] riezebosch commented on #773
Same experience here, also came to the same conclusion. Would be awesome if the client was smart enough to recognize the input being a cloud event since the dapr component in the sidecar then uses it as-is. It also turns out to be impossible to hook into the process of the client being constructed to fix it ourselves.

[2022-02-08 04:54] shobhitkasliwal-onbe opened #830 "How can I pass the Tags for Tracing ?"
Hello
I am working on a .net application and using dapr .net sdk. I would like to add custom tags to the tracing info and would like to show that on zipkin UI. Can anyone please let me know how can I add the custom tags to tracing?

currently  its showing dapr.api, dapr.protocol, dapr.status_code, messaging.destination, messaging.destination_kind, messaging.system and opencensus.status_description

[2022-02-10 17:02] halspang commented on #779
Yes, it is in 1.7. I'm planning on getting it done sometime before the release.

[2022-02-10 17:06] niclasrothman commented on #779
That's just fantastic news!!! Any recommendation to overcome this problem meanwhile?
We are trying to wait on dapr to be ready by asking dapr for it's health but doesnt really seem to work;

`

public class Program
    {
        public static async Task Main(string[] args)
        {
            var host = CreateHostBuilder(args).Build();

            // Use startup logging as described here: https

[2022-02-10 17:15] niclasrothman commented on #779
Im starting my API project in a docker-compose file and when we are using the dapr secretstore as above I see the following in the dapr sidecar of the failing api:

[code]

And in the API logs I see the following:

[code]

Appreciating that you are taking time to help!!!

[2022-02-11 00:28] halspang commented on #779
I see that the secret store is loaded in Dapr, so it's interesting that you're still having a problem with it given the wait. I'll try and prioritize this and see if I can't figure out what's up.

[2022-02-11 00:59] halspang commented on #779
@niclasrothman - So I tried this myself and got a similar result. Before my app is ready, the health check fails. However, even with the failing health check, I was able to fetch the secrets. Looking into the Dapr runtime, here's what's happening:

[code]

You can see, the dapr runtime isn't "ready" until your app is also ready. This is technically false, but it's how things are now. I'm going to

[2022-02-11 01:03] halspang commented on #779
Actually, `healthz/outbound` is already marked as ready before it blocks on the app. I'll just use that since it already exists :)

[2022-02-11 18:37] gdlcf88 opened #835 "App API Token support"
https://docs.dapr.io/operations/security/app-api-token/

Hi, can we support App API Token in .NET SDK? :)

https://github.com/dapr/go-sdk/blob/40d8a4eabe2bc6244a0de6789f74d2fe6e302db9/service/http/service.go#L53
https://github.com/dapr/go-sdk/blob/40d8a4eabe2bc6244a0de6789f74d2fe6e302db9/service/http/invoke.go#L40-L46

[2022-02-12 04:14] JadynWong commented on #835
Sdk contains authentication processing for requests from Dapr.
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.AspNetCore/DaprAuthenticationHandler.cs

According to the documentation, `DaprAuthenticationOptions.Token` should read the value of the `APP_API_TOKEN` environment variable, but currently it reads the value of the `DAPR_API_TOKEN` environment variable.

Go sdk and php sdk both do

[2022-02-14 17:20] dmitsh opened #837 "state store query API: validate changes in the syntax of query JSON"
Per work items below, the syntax of the state query JSON has been slightly changed, to make it more intuitive:
https://github.com/dapr/components-contrib/issues/1490
https://github.com/dapr/components-contrib/pull/1491
https://github.com/dapr/components-contrib/pull/1500
https://github.com/dapr/docs/pull/2195

Please validate this change in the SDK, and fix if necessary.

[2022-02-15 19:01] #677 closed

[2022-02-18 00:39] #779 closed

[2022-02-20 13:04] AvtsVivek opened #840 "CheckHealthAsync is behaving differently in different scenarios"
I have a very simple .NET 6 console app to understand dapr state store based on the [dapr getting started ms docs here](https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/getting-started#add-dapr-state-management).

You can see the [full sample here](https://github.com/AvtsVivek/DaprIssues/tree/main/src/DaprCounter).

As you can see in [my Program.cs](https://github.com/A

[2022-02-21 03:18] rynowak commented on #840
@philliphoff - do you have any visibility into what might be different in these cases?

The SDK uses GRPC for the state store and HTTP for the health checks. So if the HTTP port is not configured correctly via env-vars then that would explain this behavior.

[2022-02-21 03:22] rynowak commented on #840
Another explanation is that makes sense...

The sidecar exposes two health endpoints (inbound and outbound)

- Inbound is healthy when your app can recieve traffic from other sidecars
- Outbound is healthy when your app can send traffic to dapr

I suspect what's happening here is a misconfiguration in your vscode files: https://github.com/AvtsVivek/DaprIssues/blob/main/src/DaprCounter/.vscode/task

[2022-02-21 20:38] simongullberg commented on #813
I've the exact same problem, did you figure it out?

[2022-02-22 13:41] AvtsVivek commented on #840
Yes, thanks.
When I removed that line, its showing healthy.

[2022-02-22 13:41] #840 closed

[2022-02-22 21:27] newstrider commented on #783
I realized this when using the query API and obtaining weird results:

Here I have two results using the HTTP (top two results) and two using the SKD (bottom two):
![image](https://user-images.githubusercontent.com/11384034/155221354-f8d6a9dc-8bea-465e-8253-cbd997a6b33b.png)

This means that my query results only work properly for results using HTTP Store API. For reference I'm using a Docker imag

[2022-02-25 06:18] shubham1172 opened #843 "Fixing dependencies with bad license"
Main issue: https://github.com/dapr/dapr/issues/4236

Please refer to the parent issue to help with fixing existing issues with bad licenses.

This is required for Dapr to be compliant with CNCF guidelines, so please add this issue to the SDK planning accordingly.

[2022-03-03 14:55] i-am-shodan opened #845 "Allow other JSON serializers"
The default JSON serializer is very basic and doesn't support lots of even very basic types (class nesting for instance). This creates all manner of difficult to debug issues. The latest one was when a component created valid JSON with nested classes but a default object was received by the ASP.NET core controller. This isn't Daprs problem as System.Text.Json returns without exception. The solutio

[2022-03-04 14:57] gdifilippo-ca commented on #773
Hi, aren't there any updates on this issue? I would like to use the "type" attribute of the CloudEvent envelope to do routing but it seems to me that currently, there is no way to override its default value of "com.dapr.event.sent" using the SDK, right?

[2022-03-07 18:38] wmeints opened #846 "Event payload doesn't get serialized when using a non-concrete type"
## Expected Behavior

Event payload is serialized and delivered on the pub/sub broker.

## Actual Behavior

When using a non-concrete type like `IDomainEvent` in the call the `PublishEventAsync` it will not get serialized correctly.
The result is a cloud event without any payload.

## Steps to Reproduce the Problem

Have the following event types:

[code]

Then make a call to the DaprClient instan

[2022-03-07 20:23] halspang commented on #846
@wmeints - Thanks for opening this issue! What do you mean by:

Are you saying this path, as it exists today, is sending no data?

[2022-03-08 07:40] wmeints commented on #846
I'm getting a cloud event envelope at the receiving service, but the `data` property is missing. This is caused by the `System.Text.Json.JsonSerializer`. It doesn't like to serialize derived classes automatically.

My PR #847 changes that behavior. However, thinking about it, I'm not sure how secure that is. There must be a reason why it doesn't like to serialize derived classes automatically. I l

[2022-03-08 18:02] halspang commented on #846
Yeah, this kind of behavior is actually intended. Since the underlying interface has no data, it doesn't serialize with any data. The PR would end up being a breaking change as it is a behavioral change and others may be depending on the existing behavior. So, unfortunately, this wouldn't be a change we could accept. I'll close this issue and the related PR.

[2022-03-08 18:02] #846 closed

[2022-03-08 19:27] wmeints commented on #846
Thanks for taking a look anyway! In the meantime, I've found a workaround that fixes my issue.

[2022-03-17 06:03] mukundansundar commented on #827
@berndverst @halspang I think this issue should be moved to components-contrib ... ?

[2022-03-17 16:52] halspang commented on #827
@mukundansundar - I think you're right. This may need to be moved over to components-contrib. I was hoping to get a chance to investigate it but haven't had time to setup my own environment pointing at EventHub.

[2022-03-24 00:14] rogerex commented on #661
in case anyone else is searching this, you need to setup in this way
[code]

[2022-03-25 16:34] #829 closed

[2022-03-25 16:44] halspang commented on #813
@darthmolen - What logs do you see from Dapr? There are a couple reasons why the actor runtime may not be setup but the two main culprits would be:

- Dapr isn't able to hit your app when calling `dapr/config`
- The statestore isn't labeled as `actorstatestore: true`

[2022-03-28 15:39] jsacapdev opened #851 "404 Not Found on Dapr net6.0 web application"
## Expected Behavior

Calling the route `GET http://127.0.0.1:5000/17` should result in a 200 type response

## Actual Behavior

The following is returned back from the Visual Studio Code [Rest Client Plugin](https://marketplace.visualstudio.com/items?itemName=humao.rest-client):

[code]

## Steps to Reproduce the Problem

1. Clone this sample [repository](https://github.com/jsacapdev/az.container

[2022-03-29 06:31] stg609 opened #852 "Allow metadata to be passed for InvokeMethodGrpcAsync"
## Describe the proposal
In the lastest dotnet-sdk, the [InvokeMethodGrpcAsync](https://github.com/dapr/dotnet-sdk/blob/a6319dd4b6db0884f5b2cc325dfa4c8bed06e63c/src/Dapr.Client/DaprClientGrpc.cs#L443) can't accept any metadata when invoke a grpc service. Expect to enable pass the metadata to the method.

[2022-03-29 07:51] JadynWong commented on #851
https://github.com/jsacapdev/az.container.apps/blob/3958ada03f356630a46079860f49819bb22c2e3e/src/ControllerSample/Controllers/SampleController.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L10

You can remove the `[Route("[controller]")]` attribute or change the URL like this `http://127.0.0.1:50

[2022-03-29 14:38] jsacapdev commented on #851
thanks @JadynWong

[2022-03-29 14:38] #851 closed

[2022-03-30 10:51] i-am-shodan commented on #827
I can confirm that we are seeing this issue in our production environment

[2022-03-30 12:02] i-am-shodan commented on #827
As a test i've tried using the eventhub pubsub component. That hasn't demonstrated any issues.

[2022-03-30 22:51] rvittal-btig opened #854 "Dapr GRPC connection Refused while getting state using .net DaprClient"
Hello,
I tried a few links (and trying out suggestions posted https://github.com/dapr/dotnet-sdk/issues/609)  before posting this question , so apologies in advance if this has been repeated before. Would appreciate any pointers . Thanks in advance.

- I have a .net core application and I am able to save, store and retrieve the state in the self hosted dapr dev environment that comes with dapr_Red

[2022-04-01 08:37] arkakk93 commented on #827
What version of Dapr and Dapr SDK(.NET) did you use for this?

[2022-04-04 08:27] vinz6751 commented on #487
I was having the same issue using two WebApi services running as Docker containers, and their sidecars running as containers as well using Visual Studio's Docker Compose support.
The log contained " app returned http status code 307 from subscription endpoint".
I disabled app.UseHttpsRedirection(); in the startup then everything started working.
Thank you for the trick!

[2022-04-05 05:08] togacaptain opened #856 "Incorrect Endpoint Called from Sidecar to AspNet Controller"
While working with Kafka and PubSub Component I have one service with 4 topic subscriptions.

`[
{"topic":"InventoryOrder","pubsubName":"event_store","route":"Inventory/ConsumeInventoryOrder/InventoryOrder"},
{"topic":"directfulfill.order.add-order","pubsubName":"event_store","route":"Inventory/CreateInventoryOrder/directfulfill.order.add-order"},
{"topic":"directfulfill.order.cancel-order","pubsu

[2022-04-07 16:16] halspang opened #857 "Add Support for Per Actor Type Configuration"
## Describe the proposal
The Dapr Runtime added support for per actor type configurations in 1.7. This support needs to be added to the SDKs.

The new configuration looks like:

[code]

Implementation can be varied per SDK but should output to the above JSON.

Docs: https://github.com/dapr/docs/pull/2334
Runtime: https://github.com/dapr/dapr/pull/4201

[2022-04-08 21:17] halspang commented on #856
@togacaptain  - Thanks for opening this issue!

Is this what your app returns when you call `/dapr/subscribe`? From this it definitely looks like the routes are just getting mixed up, which is weird. If it isn't the output of that, can you get the output of calling that API with your app running?

[code]

Can you try removing your other routes and making sure each one works individually? Then addi

[2022-04-08 21:36] halspang commented on #852
@stg609 - Thanks for opening this issue!

The Dapr Runtime (and .NET SDK) now support gRPC proxying, which is the recommended means of calling a gRPC service. Doing it that way would allow you to pass the headers through.

Could this be something that works for you?

[grpc Proxying](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClient.cs#L133)

[2022-04-09 00:05] cgillum opened #859 "Cryptic TypeLoadException if actor proxy interface is non-public"
Consider the following code snippet:

[code]

Also, assume `IMyActor` is an internal interface (non-public).

## Expected Behavior

Internal interfaces should be supported, OR there should be a friendly exception explaining why my interface is invalid.

## Actual Behavior

If `IMyActor` is internal, I get the following cryptic exception:

It's not at all clear what needs to be done to fix this iss

[2022-04-09 00:33] rvittal-btig commented on #854
I was able to get this working running with docker-compose up and turn off the swarm mode on my local docker. All 3 containers work fine (daprd, app and redis) and was able to save and retrieve the state from the application in redis. I was previously using docker stack deploy to test .

[2022-04-09 06:00] mukundansundar commented on #827
moving to components-contrib ...

[2022-04-11 19:47] DarrenClevenger opened #860 "Can't enable raw metadata for Pub/Sub with .WithTopic<> Extension."
When using .Net 6 Minimal APIs I expected to be able to specify I want to enable raw payloads.

`X.WithTopic(name, topic, enableRawPayload).`

However, I see no way to pass a "enable raw payload" value to the extension.

I would expect to have this option just as with using the attribute.

`TopicAttribute(string pubsubName, string name, bool enableRawPayload);`

[2022-04-12 10:24] beakersoft opened #861 "Losing Precision of double value over 6 decimal places when PublishEventAsync is called"
## Expected Behavior

Publishing a model containing double values via PublishEventAsync shouldn't lose any precision.

## Actual Behavior

We are dealing with some lat/longs in our codebase as doubles. They are sometimes accurate to 9 decimal places. The model containing these properties gets sent via PublishEventAsync, but when they hit the handler the double values are always getting rounded to

[2022-04-13 08:32] NJadeRabbit opened #862 "Dapr dependency only dotnetcore 3.1"
## Dapr dependency only dotnetcore 3.1?
Although it can also be used, it feels strange .
![1649838394](https://user-images.githubusercontent.com/48701698/163133807-7e85549d-18c0-426c-8881-34edd3fa4500.jpg)

Dapr  dependency also dotnet 5 and dotnet 6.
Please update. Thank you!

[2022-04-13 08:46] NJadeRabbit commented on #862
[code]

[2022-04-13 20:32] halspang commented on #862
@NJadeRabbit - Thanks for opening this issue!

As an SDK, we made the decision to not support `netstandard2.x`. This is due primarily to a lack of ability to chose when we can deprecate that. Technically, `netstandard2.1` is no longer receiving support as of May 2021 (if I'm reading things correctly).

That, and we also had to make the decision of what to support based on how much effort it is. Ri

[2022-04-13 20:54] i-am-shodan commented on #827
Dapr 1.6.0. SDK and runtime both match,

[2022-04-14 01:18] NJadeRabbit commented on #862
Sorry, I accidentally wrote an extra netstandard2.1 . I don't have a use case for it.
I just want to see dapr on nuget Net SDK dependency is not just dotnetcore3.1. Dotnet5 and dotnet6 should also be included
___

I know it already supports dotnet5 and dotnet6, but for OCD like me, looking at the dapr SDK on nuget, it only has dotnetcore 3.1. It's very uncomfortable.

[2022-04-14 20:48] halspang commented on #862
Yup, it may be less fun to look at but since we don't do anything framework specific (like a net6 only feature), we get no benefit from building all the images. It just makes our build/CI take longer and use more CPU cycles that we don't need.

Closing this issue as we don't plan on adding the other build targets.

[2022-04-14 20:48] #862 closed

[2022-04-14 21:05] halspang commented on #860
Looks like this was just missed when we added RawPayload. It'd be a pretty straight-forward fix adding the new method to this class:

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.AspNetCore/DaprEndpointConventionBuilderExtensions.cs

[2022-04-14 21:11] halspang commented on #859
Pretty sure this is happening in here: https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Builder/ActorCodeBuilder.cs

I think providing a better exception is probably the right path here. Maybe my understanding of the scoping is incorrect but I don't think we could index into an internal class that doesn't exist within our own assembly.

[2022-04-14 21:22] halspang commented on #854
@rvittal-btig - Thanks for opening this issue! It looks like you may have already figured this out yourself? It looked like it was going to be a port issue, but it also looked like you had most things specified correctly so I was thinking it may have been a start up/connection issue.

Do you need anything else? Or can we close this issue?

[2022-04-14 21:28] rvittal-btig commented on #854
Thank you @halspang  for your response . I am good for now, so please close the issue.
Cheers!

[2022-04-14 21:32] #854 closed

[2022-04-17 01:25] rheckart commented on #813
I'm getting the same issue. My statestore is labelled as `actorstatestore: true`

The error message on calling the actor method on the proxy (in my case, `await proxy.ProcessUpdate(update)`) is:

[code]
The logs when debugging looks like this:

[code]

If Dapr isn't able to hit my app when calling `dapr/config`, what would that look like?

[2022-04-18 03:20] stulzq commented on #860
/assign

[2022-04-18 08:56] zhenlei520 opened #865 "A get request method, the parameters must be obtained from the Body"
## Expected Behavior

For Get requests, I want the data to be fetched from FromQuery, not from Body

## Actual Behavior

For the Get request, get the parameters from FromQuery, start through dapr, the request fails and fails

## Steps to Reproduce the Problem

[code]

## Release Note

RELEASE NOTE:
Fix Get request, parameter value must be obtained from FromBody

[2022-04-18 09:26] #865 closed

[2022-04-18 16:41] halspang commented on #813
@rheckart - This line would be followed by more things:

`time="2022-04-16T21:10:23.3493114-04:00" level=info msg="application protocol: http. waiting on port 3000.  This will block until the app is listening on that port." app_id=teletodoapp instance=LAPTOP-EOLFRVG5 scope=dapr.runtime type=log ver=1.7.0`

For example:

`INFO[0009] application discovered on port 5010           app_id=demo_actor in

[2022-04-18 19:17] rheckart commented on #813
I'm instantiating from a minimal API project and I don't see any entries past the `application protocol: http. waiting on port 3000.` log line. The code runs and debugs and does find the secrets manager.

[code]

[2022-04-19 07:30] rovangju commented on #783
I noticed this with the `go-sdk` as well; the direct HTTP store API stores as an object whereas thru the client it's turning into string.

[2022-04-19 21:25] halspang commented on #861
@beakersoft - Is the ask here to allow full precision by default? If I had to guess, the default encoding truncates it to make it a more consistent parsing experience on the read side.

Instead of creating a customer parser, have you considered saving it as a string in your message? That'd guarantee the raw value and leave all the encoding/decoding responsibility to your code which gives you more

[2022-04-19 21:27] #835 closed

[2022-04-19 21:30] halspang commented on #813
@rheckart - Where do you set your app port, I don't see anything that makes your app listen on port 3000 in that code sample. If you don't see anything past that log message it's most likely because dapr isn't able to contact your app.

The other thing that could be happening here is your app could be crashing because you try and get a secret from Dapr before it's initialized. Your app failing to

[2022-04-19 22:45] rheckart commented on #813
@halspang I found out the the app port was set incorrectly in my launchsettings.json file. I changed the applicationUrl property in that file to use port 5001 and got farther, including the message about the actor runtime starting. So in my case, it looks like the Curious Case of Incorrect Port Assignment.

[code]
I have a different error occurring, but it may be me doing Dapr wrong:

`Dapr.DaprAp

[2022-04-19 22:54] halspang commented on #813
@rheckart - Glad we're making progress!

Do you see any messages like this:

[code]

After your app starts? The versions are probably different, but you should see those if you're getting updates from the placement service.

If you do see that, what do you get from calling `/dapr/config` when pointing at your local app? That'll show you what actor type is registered.

[2022-04-20 00:53] rheckart commented on #813
@halspang It was me doing Dapr wrong - I was messing with the placementHostAddress property for the VSCode tasks to see if that was the original issue. I had it set to the incorrect address and port number. Setting it to localhost:50005 fixed my issue - I'm all set at this point - thanks for the assistance! Hopefully it will help others.

[2022-04-20 03:21] rynowak commented on #861
@beakersoft  - this might be a silly question but just in case:

[code]

Your `DeliveryRequest` type is defining these properties with `double` but your **initialization** of the properties is using `decimal` (`-2.2299881m`) literals. Did you mean to define the properties as decimals?

Also as-of .NET 5 there is an attribute you can use to get string-serialization without writing a converter https

[2022-04-20 22:10] halspang commented on #813
@darthmolen - Were you able to get past your issue? If not, can you share some logs so we can troubleshoot it?

[2022-04-24 03:43] suraciii commented on #773
Some thoughts:

1. Add two new types, `CloudEvent` and `CloundEvent<TData>`, and change dapr client's internal behavior to attach `"application/cloudevents+json"` content type when publishing cloud events, like this:
[code]
usage:
[code]

2. Change/Add APIs to allow users to specify data content type manually:
[code]
usage:
[code]

3. Or just make `DaprClientGrpc` public to let users extend it eas

[2022-04-27 07:59] ChristianWeyer commented on #809
Sorry for asking in a closed issue @halspang @rynowak - could you please point me to the documentation of this behavior? We just ran into it, as well ;-)

Thanks!

[2022-04-27 18:31] halspang commented on #809
@ChristianWeyer  - It's mentioned in the description of the environment variable: https://docs.dapr.io/reference/environment/

[2022-04-27 18:42] ChristianWeyer commented on #809
Thank you.

I think it needs to be mentioned in a more prominent place, not just in the reference. It is too easy to miss it and makes this mistake.

[2022-04-28 06:49] cciobanu98 opened #869 "Filter and Sorting not working in the state query API for mongoDB"
## Expected Behavior

When I use such json for querying data.
[code]
I should have the correct data returned.

Example of data
[code]

## Actual Behavior
Instead of that, I have returned an empty array.
I tried different keys for EQ for example
'Name', 'name', 'value.name', 'value.Name', 'Value.name', 'Value.Name', '.value.name'
Also this behaviour is the same when I try to sort some entities.

##

[2022-04-29 19:50] halspang commented on #790
Closing this issue due to inactivity. If you have more questions feel free to reopen this issue or create a new one.

[2022-04-29 19:50] #790 closed

[2022-05-03 01:55] francotiveron opened #871 "WaitForSidecarAsync works only if there is a daprd.exe instance running on port 3500"
## Expected Behavior

DaprClient.WaitForSidecarAsync() to correctly detect sidecar

## Actual Behavior

If there is not an instance of daprd.exe running on port 3500, it fails

## Steps to Reproduce the Problem

Debug a dapr application in VS code using the daprd task with an http dapr port different from 3500

N.B.  if a daprd.exe instance on port 3500 (also different from the one under debugging

[2022-05-03 05:41] rynowak commented on #871
@francotiveron - I suspect what's going on in your case is that the `DAPR_HTTP_PORT` and `DAPR_GRPC_PORT` env-vars are not set.

There's a set of environment variables that dapr sets for you when you do `dapr run ...` to launch your app. The SDK is aware of these variables and uses them to configure things like ports.  The SDK also gives you ability to set these values manually if you want to get

[2022-05-03 06:09] francotiveron commented on #871
@rynowak The VS Code task has settings for those ports, hence I think that is not the problem

[code]

[2022-05-03 21:44] halspang commented on #869
@cciobanu98 - It's currently known that the objects you put into Mongo with the DaprClient don't get encoded properly. This is an issue with how dapr handles the content type. They have been putting work into how content types are handled, but there is a workaround right now which is using the `HttpClient` instead of the DaprClient to put objects into the statestore. Can you try that and see if it

[2022-05-03 21:57] halspang commented on #871
@francotiveron - I'm also not super familiar with the VSCode extension, but taking a quick look at it and the VS Code Task settings, I wonder if it's looking for the `args` and `command` values:

https://github.com/microsoft/vscode-dapr/blob/main/src/tasks/daprCommandTaskProvider.ts#L31

This makes me think that the dapr sidecar and the application are being run in separate commands which would me

[2022-05-03 22:56] francotiveron commented on #871
@halspang Tried, no difference. The env variable gest overridden by the task settings, as expected

[2022-05-03 22:58] halspang commented on #871
So if you add logging into your app, what does it think the env variable is?

Similarly, what does the output your `dapr list` command look like?

[2022-05-03 23:01] philliphoff commented on #871
@francotiveron Ah, yes, @rynowak is correct.  The Dapr sidecar is started entirely independent of the .NET process being debugged, so if using the Dapr SDK and non-standard ports, you'll need to supply the same Dapr ports as environment variables to the .NET debug launch configuration as supplied to the Dapr task itself.

VS Code can't use `dapr run` for debugging because that CLI doesn't allow a

[2022-05-04 04:41] francotiveron commented on #871
see https://github.com/dapr/docs/issues/2417

[2022-05-04 04:41] #871 closed

[2022-05-07 01:08] saber-wang opened #873 "[proposal]Subscription supports adding custom metadata"
## Describe the proposal
https://github.com/dapr/dotnet-sdk/blob/291f73758d9231e72198c124c6286643fc8795df/src/Dapr.AspNetCore/TopicAttribute.cs#L22

Incoming metadata required for custom subscriptions

For example, rabbitmq use topic exchange to route messages
[code]

Given c#'s Attribute limitations, can  design to add an independent 'TopicMetadataAttribute'`
Examples:
[code]
`ITopicMetadata` add

[2022-05-08 07:17] saber-wang commented on #873
Given c#'s property limitations, can  design to add an independent 'TopicMetadataAttribute'`
Examples:
[code]
`ITopicMetadata` add `MetadataIds`(array) to point to ` TopicMetadataAttribute.Id`

Use example
[code]

[2022-05-10 05:40] zivfuture commented on #807
sorry, i opend it again.    it was resolved by creating a warpper class.  but it's not elegant  i think.
 i have read the source code of fegin(java) .   there is a interceptor  we can do something ( add Authorization header) before send request.   anything i missed in dapr?

[2022-05-10 06:48] saber-wang commented on #873
@halspang Can it be implemented?

[2022-05-11 14:18] Banchio opened #874 "TaskCanceledException while WaitForSidecarAsync"
## Expected Behavior

With the release of SDK 1.7, when adding a secret store, my component should wait for the sidecar to be able to accept request from my component, and then use the actual api to retrieve the secret store.
I'm thinking also that the root cause can be a timing problem, in this case how can I set the maximum time to wait for the sidecar?

## Actual Behavior

I'm registering an ex

[2022-05-12 08:19] Banchio commented on #874
I'm seeing in the code that SidecarWaitTimeout exists and is passed imperatively. Since I have many services can I pass this parameter in a declarative way   (i.e. annotation, configmap, whatever)?
Thanks

[2022-05-13 18:26] senthomas commented on #659
If you leave the Configure for HTTPS checkbox checked when you created the Project, the generated ASP.NET Core API project includes middleware to redirect client requests to the HTTPS endpoint.
This breaks communication between the Dapr sidecar and your application unless you explicitly configure the use of HTTPS when running your Dapr application.
To enable the Dapr sidecar to communicate over HT

[2022-05-16 02:45] francotiveron opened #875 "Dapr Actor system exception after stopping at a breakpoint while debugging"
## Expected Behavior
If breapoint is hit in actor code, and after some debugging (few minutes) the execution is restored (F5), no actor error should occur

## Actual Behavior
more often than not a transient exception is raised

[code]

After 2/3s the exceptions stops.

## Steps to Reproduce the Problem
- Run an app with an actor in standalone mode, either with VS or VS Code. the application code s

[2022-05-17 12:38] spottedmahn commented on #774
Oh, interesting, thanks 👍!  Reference [official docs](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/breaking-changes#binary-breaking-change):

[2022-05-17 17:34] halspang commented on #874
@Banchio - Thanks for opening this issue!

You have to add the timeout by adding it to the method call. Choose any of the calls with the `TimeSpan sidecarWaitTimeout`.

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Extensions.Configuration/DaprSecretStoreConfigurationExtensions.cs#L66

[2022-05-17 17:36] halspang commented on #873
@saber-wang - I'm a little confused as to what this is trying to accomplish. Can I have a full example of what this would do/is for?

[2022-05-17 22:03] francotiveron commented on #875
@halspang
I understand. The important thing is that this has an explanation and doesn't show a buried bug that could manifest in production. I'll close this issue.

However, at a second level, perhaps it is possible to do something to detect whether the app is under debugger and suspend the health checks and timeouts. One option is some env. variable.

[2022-05-17 22:03] #875 closed

[2022-05-18 01:14] saber-wang commented on #873
@halspang
Simply put, it is to add more diversified data for subscription

At present, the metadata to be added is the `routingkey` of `rabbitmq`

[2022-05-18 21:17] jkears commented on #632
@rynowak I hope all is well.

I realize this thread is over a year old but I have a similar need..

I am trying to upgrade an existing GraphQL framework to run on Dapr.   which provides a single GraphQL Gateway and uses preconfigured **Named** Http Clients, that get resolved at query-time, from the HttpClientFactory in order to resolve each node of a GraphQL query per each downstream service.

As

[2022-05-19 03:47] jkears commented on #632
@rynowak Actually I got it to work based upon your example....

[code]
Very simple so thank you!

[2022-05-19 08:32] saber-wang commented on #873
@halspang  I created a merge request. You can check it.

[2022-05-20 00:44] francotiveron opened #877 "Pub/Sub doesn't unwrap CloudEvent envelope"
I have F# Asp.NET application with the following controller

[code]

Then I invoke the endpoint using the service invoke dapr api

[code]

The output is correct as expected

[code]

Then, I invoke the app using the pub/sub api

[code]

## Expected Behavior

The same output (Dapr pubsub api should unwrap the CloudEvent schema)

## Actual Behavior

the output is the full CloudEvent
[code]

I tried a

[2022-05-20 03:43] francotiveron opened #878 "Adding JSON converter doesn't work"
## Expected Behavior
I am using F# and need to use F# types in pub/sub and actors

[code]

I add [JsonFSharpConverter ](https://github.com/Tarmil/FSharp.SystemTextJson/blob/master/docs/Customizing.md)at startup as follows:

[code]

I should be now able to publish mesages of ServiceMessage type

## Actual Behavior

An exception  '**F# discriminated union serialization is not supported**'  is raised

[2022-05-20 21:51] #773 closed

[2022-05-20 22:20] halspang commented on #873
@saber-wang - Thanks for adding the PR, but I'm still not super sure how it really changes anything. The subscription endpoint code doesn't seem to be referencing it except to add it to the class, but it doesn't appear used after that.

The goal is to be able to use this metadata as routing at the endpoint level? If so, I don't think it's hooked in quite like that. If that's the end goal, I'd just

[2022-05-20 23:18] yaron2 commented on #773
@halspang why is this closed?

[2022-05-21 05:22] saber-wang commented on #873
@halspang It mainly realizes the routingkey function in this [document](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/#use-topic-exchange-to-route-messages). the current  publishing already supports adding metadata, but the subscription lacks any entry to add relevant metadata.of course, we can also implement this function like rawpayload https://github.com/da

[2022-05-21 05:41] saber-wang commented on #798
@halspang  Currently, direct publishing of cloud events is supported #868 . Should this issue be reconsidered?

[2022-05-22 14:52] kalprajkakani opened #879 "Dapr Azure Service bus Exception when amqp:resource-limit-exceeded"
## Expected Behavior

When the Azure service bus reaches its max limit, this exception occurs for publishing messages..  `Dapr.DaprException: Publish operation failed: the Dapr endpoint indicated a failure. See InnerException for details.  ---> Grpc.Core.RpcException: Status(StatusCode="Internal", Detail="error when publish to topic **** in pubsub pubsub: *Error{Condition: amqp:resource-limit-exce

[2022-05-22 22:03] rynowak commented on #878
Hi @francotiveron - this error is coming from MVC not Dapr

Relevant snippet of stack:

[code]

Here's an example of configuring MVC's JSON settings: https://makolyte.com/aspdotnet-how-to-change-the-json-serialization-settings/

[2022-05-22 22:55] francotiveron commented on #878
Works now
[code]

[2022-05-22 22:55] #878 closed

[2022-05-23 20:08] hhunter-ms opened #880 "Refresh docs and fill documentation gaps"
.NET SDK docs need:

* General freshness pass for accuracy/grammar
* TOC/index page restructure to be easier for newer users to navigate
* Clarity/readability pass
   * Some articles currently have the same title but discuss different topics
   * One article doesn't have any content, just "TODO" - needs to be completed?
 * Examples more easily linked to/reached within the docs

Might need to add t

[2022-05-23 20:08] hhunter-ms commented on #880
/assign

[2022-05-26 10:00] ChristianWeyer commented on #773
Yes, pls re-open it. This is a really important addition.
Thanks! @halspang

[2022-05-26 10:04] ChristianWeyer commented on #773
Ah, it seems it has already been merged @yaron2:
https://github.com/dapr/dotnet-sdk/pull/868

[2022-05-26 21:36] halspang commented on #877
@francotiveron - Are you using the `UseCloudEvents()` extension in your application builder? That's what should unwrap this into a domain object for you as it would deserialize your data.

[2022-05-26 21:43] #822 closed

[2022-05-26 21:47] #857 closed

[2022-05-26 22:53] halspang commented on #879
@kalprajkakani - Thanks for opening this issue. I think this is more of a components-contrib or runtime issue. What do you think @berndverst.

[2022-05-26 22:54] halspang commented on #860
This was completed in #864

[2022-05-26 22:54] #860 closed

[2022-05-27 08:23] zivfuture opened #881 "Add intercepters or filters during invocation?"
## Describe the proposal
Hello guys,  I think We need  intercepters or filters(mvc?) during invocation(befor invoke or after invoke) for those reasons:

One:
I have a uniformed api result :
[code]
but we can do nothing after get invoke response.

Two:
the endpoint(api) usually protected by "authorize" attribute, so we need to add the authorization header in every request:
[code]
as you see,  we ha

[2022-05-27 16:41] halspang commented on #813
Closing this issue as it seems things were resolved. Feel free to re-open or create a new issue if you're still experiencing problems.

[2022-05-27 16:41] #813 closed

[2022-05-28 02:38] DanielHazlewood commented on #401
Could we include something in the documentation for this? So far only IntelliJ and VSCode is documented.

[2022-05-28 09:40] saber-wang commented on #873
@halspang At present, it is difficult to express metadata under V2 routing.
for example,this will be understood as setting metadata for each endpoint.
[code]
In fact, the metadata of a topic only needs to be set once.
[code]

[2022-05-31 14:07] itsoli91 opened #882 "Support of Microsoft.AspNetCore.Mvc.Versioning ?"
Currently dotnet-sdk is not supporting Microsoft.AspNetCore.Mvc.Versioning.
Is there any plan to support this package ?

For more information check this  #791

[2022-05-31 14:28] saber-wang commented on #791
@itsoli91 Because dapr does not support subscribing to the same topic multiple times in an instance, it is meaningless to support versions.
@halspang For this error, I think we should throw more explicit exceptions and add relevant documents.

[2022-05-31 15:52] 0xakihiko commented on #828
Imo, this should be prioritized.

[2022-06-01 05:52] pravinpushkar opened #883 "Provide a support for Dapr sidecar Metadata API"
## Expected Behavior

SDK should provide a support for Sidecar Metadata APIs (HTTP and gRPC)-
1. Get Metadata
2. Set Metadata

## Actual Behavior

It does not support Metadata APIs

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **ADD** Support for Sidecar Metadata APIs

[2022-06-01 09:11] saber-wang commented on #873
@halspang  @rynowak Any better advice?😖

[2022-06-01 18:50] amulyavarote opened #884 "Change configuration API response to dictionary"
## Describe the proposal
Change the configuration API response to handle dictionary.
Main issue in dapr/dapr in pasted here.
https://github.com/dapr/dapr/issues/4556

[2022-06-01 19:36] amulyavarote opened #885 "Add distributed lock API support"
## Describe the proposal

Add methods for distributed lock API.

Main Issue: https://github.com/dapr/dapr/issues/3549

[2022-06-02 04:33] saber-wang commented on #873
@rynowak  The current problem is how to add more diverse data for subscriptions from applications, just like 'rawpayload'.Is `IEndpointSelectorPolicy` used to handle routing, or do I have problems understanding `IEndpointSelectorPolicy`?

[2022-06-02 04:39] saber-wang commented on #873
@halspang The dapr runtime itself supports adding metadata from outside components, but many components do not use these metadata. See my proposal in [dapr ](https://github.com/dapr/dapr/issues/4694)

https://github.com/dapr/components-contrib/blob/6c7ff60c9ea0d98f1d9c0ed19b26525eb3e67e07/pubsub/requests.go#L26-L28
[code]

[2022-06-02 17:00] rynowak commented on #873
Thanks @saber-wang for the explanation - this makes sense to me now, and I agree. We should add support for passing through metadata to Dapr with attributes 👍

[2022-06-02 17:57] saber-wang commented on #873
@rynowak However, I find it very difficult to express metadata using attributes in V2 routing

You can view previous discussions https://github.com/dapr/dotnet-sdk/issues/873#issuecomment-1140222734  and RP #876 😖

[2022-06-03 20:48] amulyavarote commented on #885
/assign

[2022-06-06 14:16] BCoskun opened #887 "Error Suppression and Vault Name Mapping"
## Describe the proposal
We are working on Azure Key Vault in our project and notice that there is no error suppression functionality (or not granular enough for certain use case) when there the Key Vault Secret name doesn't have match with application configuration name.

For example;
We couldn't define .NET configuration hierarchy  in Azure KeyVault due to naming convention limitation for secret

[2022-06-07 03:06] saber-wang commented on #873
@rynowak @halspang RP #876  can check.

[2022-06-07 23:44] halspang commented on #887
@BCoskun - Thanks for opening this issue!

Just to clarify for myself, what we're trying to do here is:

1. Allow secrets which can't be stored in the .NET hierarchy pattern to still be referenced in the code that way. We're doing this by providing a secondary key that will actually be used to query the secretstore.
2. Allow certain keys to not exist, also based on a specific key.

I can see the v

[2022-06-09 21:47] #843 closed

[2022-06-09 23:50] halspang commented on #837
Validated the Query API still works. Utilized a Cosmos backend for the test and was able to query items without providing/using `value`.

[2022-06-09 23:50] #837 closed

[2022-06-14 04:43] francotiveron opened #891 "Adding Custom Json Converters to actor serialization options doesn't seem to work"
I add custom serializers for DateOnly and TimeOnly

[code]

Now I need to call an Actor method with a parameter of type DateOnly

[code]

## Expected Behavior
The actor method should receive the correct value 2022-06-01 for the parameter
## Actual Behavior

The actor method receives zero (0001-01-01). The converter is never called

[2022-06-16 14:05] BhargavaM91 commented on #803
Have you checked the Scopes in both publisher and Subscriber?

[2022-06-21 16:49] #873 closed

[2022-06-21 18:28] halspang commented on #803
@SarangRapid - You also need to see a message like:

[code]

If you see something like that, we know your subscriptions are actually being loaded. The component loading is just the actual connection to the service. Aside from that, nothing is actually happening yet.

[2022-06-21 21:13] halspang commented on #856
@togacaptain - Any updates here? What component are you using for this?

[2022-06-21 22:17] francotiveron commented on #877
Will try asap

[2022-06-21 23:20] halspang commented on #869
@cciobanu98 - Are you still having issues here?

[2022-06-21 23:20] halspang commented on #861
@beakersoft - Are you still having problems here?

[2022-06-23 05:42] msislam3 opened #894 "Actor method invocation throws error for Services in different solution"
I have two services Service1 and Service2. Service1 supports Actor1 which has method1.

Service2 would invoke Actor1.method1 in Service1

Now when both Services are in same solution with the common interface and classes in a Common project referenced by both the services the call from Service2 to Actor1.method1 is successful

But if the Services are in different solution where the common interface

[2022-06-23 23:17] halspang commented on #894
@msislam3 - Thanks for opening this issue!

I've never seen this error before, if I had to guess it has to do with how .NET is handling the serialization. If the two projects don't have knowledge of each other, did you recreate the data class in both solutions? I'm not super familiar with how remoting's serialization works, but I would bet it needs to have knowledge of the class to handle that.

I

[2022-06-24 03:39] msislam3 commented on #894
Yes, both the solution have the exact same project (same project name, assembly name, namespace) with all the data classes replicated.

The setup is like this because the two services are in two different repo. I don't think we would be able to bring the two services in the same repo to share a common project. The other possibility is to create a nuget package from one repo and use it in another b

[2022-06-27 06:23] saber-wang opened #897 "Support the DeadLetter Topic of pubsub"
## Describe the proposal
Support the DeadLetter Topic of pubsub.
Issue: https://github.com/dapr/dapr/issues/2217

The problem is how to use the attribute to express `deadletter topic` for V2 routing.
[code]

[2022-06-27 17:03] bcraun opened #899 "Daprd gRPC proxy initialization failure when using PostSharp Logging"
Originally reported on Dapr Discord server. I was working with @Pundil for initial diagnosis. I was asked to open the issue here.

## Expected Behavior

Dapr gRPC proxying without PostSharp works correctly. Dapr gRPC proxying with PostSharp fails.

## Actual Behavior

Dapr gRPC proxying when using PostSharp Logging fails with daprd proxy initialization failure:

[code]

## Steps to Reproduce the P

[2022-06-29 17:23] #885 closed

[2022-06-30 07:06] saber-wang opened #901 "Fix the problem of determining whether there is a MetadataSeparator error"
Fix the problem of determining whether there is a MetadataSeparator error see: #900

[2022-07-06 10:15] penfold opened #902 "Invoke with method containing query string needs to be /?"
## Expected Behavior

The method parameter passed to DaprClient.InvokeMethod***Async with query parameters should work with 'method?param1=123'.

## Actual Behavior

Using 'method?param1=123' leads to an internal error reported back

Using the method parameter method/?param1=123' works.

## Steps to Reproduce the Problem

CLI version: 1.7.1
Runtime version: 1.7.4

[2022-07-07 12:54] kou-h opened #903 "bindings.azure.blobstorage:Exception of type 'System.OutOfMemoryException' was thrown."
Hello, I'm using bindings azure. Blobstorage for file upload. The uploaded file is relatively large, about 10MB. The first upload was successful, but the following error occurred in the second upload of files above 10MB. There is no problem uploading small files (about 200K). What can I do to solve this problem. thank you

Package Dapr.AspNetCore Version="1.7.0"

ERROR    at System.GC.AllocateNewA

[2022-07-07 22:56] halspang commented on #903
@kou-h - Thanks for opening this issue! What environment are you running your app in? Does this happen on the 2nd request? Or is it just sometime after the first?

[2022-07-07 22:56] halspang commented on #902
@penfold - Thanks for opening this issue! Can you please paste the error you get here?

[2022-07-07 22:57] halspang commented on #899
@bcraun - Thanks for opening this! Can you fix your command for Step 1.? I want to make sure I'm trying to reproduce this correctly.

[2022-07-07 23:36] halspang commented on #852
@stg609 - Did you get a chance to try out gRPC proxying?

[2022-07-08 00:24] artursouza opened #904 "Exception from Actor's method is not surfaced to the caller"
## Expected Behavior

Exception's error message (not stacktrace) from Actor's method is surfaced to the caller.

## Actual Behavior

![image](https://user-images.githubusercontent.com/130954/177892380-af0c80ab-f5b7-41e3-b82e-2bf195fbf9c0.png)

## Steps to Reproduce the Problem

See example from [actor exception](https://github.com/fabistb/dotnet-dapr-actor-exception).

## Release Note

RELEASE NOT

[2022-07-08 00:44] kou-h commented on #903
@halspang
Hello,The app running environment is azure k8s. There is no problem uploading large files for the first time. This error occurs when uploading large files for the second time, and then small files will not appear this error. thank you

[2022-07-08 01:14] bcraun commented on #899
@halspang done. Thanks for looking into this issue.

[2022-07-08 03:39] kou-h commented on #903
@halspang
Hello, this problem is solved. Increased the memory of the container. But now when downloading large files, the following problems occur. How can I solve it.
Status(StatusCode="ResourceExhausted", Detail="Received message exceeds the maximum configured message size.")

[2022-07-08 06:05] francotiveron commented on #877
It works

[2022-07-08 06:05] #877 closed

[2022-07-08 06:36] francotiveron opened #905 "SDK serialization when Invoking services doesn't work properly with primitive data types"
F# code
[code]

[code]
Method1 is called, but strIn is not passed (it is null even if the contract in the call is not null)
InvokeMethodAsync fails with the following exception:

[code]

if I change app2 as follows, so to return an actual string

[code]

a different exception is raised:

[code]

I tried with int instead of string (of course changing both applications). In this case there is no exc

[2022-07-11 05:47] saber-wang opened #906 "The State API supports direct storage and reading of byte arrays"
## Describe the proposal
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientGrpc.cs#L789

Can I simply add 2 methods, for example

[code]

RELEASE NOTE: **ADD** support for saving and retrieving state as byte arrays without serialization to and from JSON

[2022-07-11 20:32] artursouza commented on #904
@amulyavarote @halspang Please, consider ramifications of this change to the runtime as well. We might need to agree on a metadata/header to propagate the error message. In addition, consider truncating error message from the Actor SDK to avoid header size limit issues, as pointed out by @berndverst.

[2022-07-11 21:17] halspang commented on #906
Just to clarify, this is asking for raw data from the state APIs instead of the Json path we have now?

[2022-07-11 21:21] halspang commented on #904
As an alternative approach, would something like additional logging at the time of error be sufficient here? It seems like the issue is we raise the exception and it's tossed across enough areas that we lose the stack. However, we could just dump the stack trace when we catch the first exception and then it requires no change to the runtime. Thoughts @artursouza?

[2022-07-11 21:24] halspang commented on #903
@kou-h - Glad you got past the first issue. For the 2nd one, is that a log from Dapr or from your app? I know there are some limits in terms of request size but we should track down if it's the binding or the SDK first.

[2022-07-11 21:27] halspang commented on #894
@msislam3 - Making a Nuget package should work. Or putting the common code in a 3rd repo that they can both depend on. This is a better coding practice as well as you'd only have to update the interface in one place and then both solutions could know about it.

[2022-07-11 21:28] halspang commented on #856
@togacaptain - I'm closing this issue due to inactivity. Feel free to reopen if you're still having problems.

[2022-07-11 21:28] #856 closed

[2022-07-11 23:31] rynowak commented on #904
@artursouza can you provide a more detailed explanation? It's not super clear to me from the screenshot what is supposed to be different.

If this is about serializing .NET exception types over the wire, we deliberately avoid that for security reasons. It's very unsafe.

If this is about serializing .NET call stacks over the wire, we deliberately also avoid that for security reasons.

We should ma

[2022-07-12 03:19] saber-wang commented on #906
@halspang Yes, because the value may not be json

[2022-07-12 05:14] kou-h commented on #903
@halspang
  Thanks for your reply. I added the following code to solve this problem. Is this setting ok? thank you

  builder.Services.AddControllers().AddDapr(x => x.UseGrpcChannelOptions(new Grpc.Net.Client.GrpcChannelOptions()
        {
            MaxReceiveMessageSize = 150 * 1024 * 1024,
        }));

[2022-07-12 13:47] halspang commented on #903
That looks like the correct way to do it to me! Glad you could get it working. Do you need anything else, or can we close the issue?

[2022-07-12 14:02] halspang commented on #902
@penfold - I tried to repro this and found it works fine for me:

Calls:
[code]

App response:
[code]

Code:
[code]

What does your endpoint setup look like?

[2022-07-12 14:10] kou-h commented on #903
@halspang
Thank you very much.This issue can be closed, thanks again

[2022-07-12 14:10] #903 closed

[2022-07-12 21:07] #792 closed

[2022-07-12 21:10] yash-nisar commented on #897
/assign

[2022-07-13 00:32] cgillum opened #907 "Allow HttpRequestMessage to accept relative URLs in service invocation"
## Background
The Dapr SDK allows invoking service methods using an `HttpRequestMessage` parameter. However, this overload requires a fully qualified URL to the Dapr sidecar. Otherwise, an `InvalidOperationException` is thrown.

[code]

Here is the exception:

[code]

Generally speaking, code that already has a fully configured `DaprClient` should not need to provide redundant endpoint information

[2022-07-13 01:05] cgillum commented on #907
Shortly after posting this, I noticed that there's a simple workaround to the problem, demonstrated [here](https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#invoke-the-service).

Here's my updated code, which uses `DaprClient.CreateInvokeMethodRequest` to create a preconfigured `HttpRequestMessage` object. It works great and doesn't req

[2022-07-13 01:10] rynowak commented on #907
Thanks for the feedback @cgillum

Irrespective of this actual proposal ... I'd recommend using https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClient.cs#L75 to create an `HttpClient` and just using the standard .NET APIs. There's a wealth of existing libraries and knowledge for how to use `HttpClient`.

[2022-07-13 01:15] cgillum commented on #907
Oh, that's even better! The next problem I needed to tackle was how to customize the parsing of the return value. Going with `HttpClient` directly will make that *much* easier. Thanks, @rynowak!

[2022-07-13 15:38] rynowak commented on #907
Glad that this helps!

The APIs you're referring to are meant to support the original Dapr service invocation RPC - which does a lot of tricky stuff. For example, it tries to support interop between gRPC and HTTP - which hasn't been very successful for folks in practice.

I don't think we'll ever remove those APIs and break the people using them, but I definitely would tell new users to start with

[2022-07-13 19:04] cgillum commented on #907
Got it. I have a couple suggestions related to this:

* Consider going through the existing documentation and changing examples to use the "better" APIs. For example, [this service invocation example](https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-client/#invoke-a-service) could use an update.
* Consider updating the XML documentation comments to make users aware of the "better" A

[2022-07-13 20:27] cgillum commented on #907
Oh, one thing I just realized about `CreateInvokeHttpClient` is that it's static and requires me to provide an App ID and a Dapr endpoint address. ☹️ How do I get these values?  Currently I'm using dependency injection to get the `DaprClient` object and I'm not required to explicitly know what these values are. It would be ideal if I could get the `HttpClient` from the DI-injected DaprClient rathe

[2022-07-13 21:01] rynowak commented on #907
You need the appId of the destination - not the current app. So the `DaprClient` won't help you with that either way.

[2022-07-13 22:51] rynowak commented on #907
This is the case, if you omit the endpoint argument then the SDK will do it for you.

Alright cool 😆 - feel free to reach out if you want to spend some time talking in details.

[2022-07-15 06:59] mitchelboxloanmarket opened #908 "Actor Healthz unauthorized when using Require Authorization on MapActorsHandlers"
As per [documentation](https://docs.dapr.io/operations/security/app-api-token/) we are requiring all incoming requests to Dapr endpoints to have an "Api Key" in the `dapr-api-token` header. In the case of Actors when using MapActorsHandlers and chaining RequireAuthorization the Healthz endpoint will now require authorization. However the Daprd runtime excludes the `dapr-api-token` header when requ

[2022-07-15 23:34] berndverst commented on #904
@rynowak I think the request is essentially that an ExceptionName and Message are returned to Dapr Actor Runtime so that the callee can see what error occurred in the Actor Method. Feels a bit weird, but that is my understanding.

In JSON I sometimes see things like:

[code]

Of course changing what the .NET SDK returns upon encountering an exception in the Actor case would break some people.. so

[2022-07-16 11:36] mandarsj opened #909 "Subscription name for service bus topic .net c# sdk"
## Ask your question here
I have a .net console application deployed in container and publishing topic works well.However I have issues subscribing to the topic.My component looks like this

componentType: pubsub.azure.servicebus
version: v1
metadata:
 - name: connectionString # Required when not using Azure Authentication.
   value: "connectionstring;EntityPath=daprmessaging"

 I am using quickst

[2022-07-19 17:55] bcraun commented on #899
hi @halspang were you able to repro?

[2022-07-20 13:20] rquackenbush opened #910 "How to run c# actor example?"
I followed the instructions here: https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-actors/dotnet-actors-howto/

I am able to launch the service app with:
[code]

And when I launch the client:
[code]

statestore.yaml:
[code]

Environment:
- Windows 10
- .NET SDK 6.0.302
-  Docker for Desktop 4.10.1

How do I get past that exception?

[2022-07-20 13:53] halspang commented on #910
The app port and what the app is actually listening on is important here. You specified `--app-port 5000` when the example uses `--app-port 5010`. I also noticed that your actual application appears to be listening on `5037`.

When that happens, the runtime doesn't finish initializing because it is waiting for your app to respond on a port that it isn't listening to. Update the port and you should

[2022-07-20 15:32] #901 closed

[2022-07-20 15:34] halspang commented on #899
@bcraun - I haven't had a chance to repro it yet, hoping I can get to it soon.

[2022-07-20 15:54] halspang commented on #830
The .NET SDK utilizes the built in .NET tracing support via `Activity`. What methods are you trying to add custom annotations to?

[2022-07-20 15:59] halspang commented on #869
Closing due to inactivity.

[2022-07-20 15:59] #869 closed

[2022-07-20 16:02] halspang commented on #879
Opened issue in components contrib. https://github.com/dapr/components-contrib/issues/1899

Closing this issue.

[2022-07-20 16:02] #879 closed

[2022-07-20 16:04] halspang commented on #872
This is done: https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-client/#get-configuration-keys-alpha

[2022-07-20 16:04] #872 closed

[2022-07-20 16:07] halspang commented on #798
@saber-wang - Circling back to this, if the raw cloud events doesn't work, I think it would be due to the runtime not actually passing the extra attributes through. If we want them here, we'd have to take care of it there first.

[2022-07-20 16:08] halspang commented on #786
Closing due to inactivity.

[2022-07-20 16:08] #786 closed

[2022-07-21 18:52] rquackenbush commented on #910
Ahh - the fundamental issue was I have .NET 6 installed, and it has a new way of configurating ASP.NET core. I recreated using .NET 5 and everything worked according to the docs.  Thanks for your help!

[2022-07-21 18:52] #910 closed

[2022-07-21 19:09] lw-imranmomin commented on #798
@halspang  @saber-wang

I wanted to see if there is any workaround to access those cloud events attributes from request headers. I see that the current middlleware does not capture all the attributes from the body and pass them into the header as specified in the their documents.

https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#313-metadata-headers

[2022-07-21 19:09] imranmomin commented on #798
@halspang  @saber-wang

I wanted to see if there is any workaround to access those cloud events attributes from request headers. I see that the current middlleware does not capture all the attributes from the body and pass them into the header as specified in the their documents.

https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#313-metadata-headers

[2022-07-21 22:06] liupeirong opened #911 "Subscription handling using own grpc service"
With `proxy.grpc` we can already invoke existing grpc service without changing server code. However, it doesn't seem to be possible to use existing grpc service for Subscription. We still have to create another grpc service that inherits from `AppCallback.AppCallbackBase` and implements own serialization/deserialization in `OnTopicEvent`. Is it possible to use own grpc service as a Subscription ha

[2022-07-22 01:18] saber-wang commented on #798
@imranmomin  At present, I have implemented middleware and handled cloudevent properties

[2022-07-22 14:23] wmeints commented on #846
For people wondering: I've got a similar thing, how am I going to serialize my event?
Here's the trick:

[code]

You have to cast your event to `object` to make the serializer work as intended.

[2022-07-26 01:33] imranmomin commented on #798
I guess I will also have to rewrite the middleware

[2022-07-28 08:04] saber-wang commented on #883
/assign

[2022-07-28 19:12] halspang commented on #884
This will be added to whatever milestone we happen to be in when the change goes into the runtime.

[2022-07-29 05:36] VenkateshSrini opened #914 "No option to shut down the side car"
## Expected Behavior
When using Dapr with Kubernetes Job it is advised by the documentation that we should call the shutdown endpoint either using the Dapr SDK or using the command option in deployment. The reference to the document is attached herewith (https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-job/). The Dapr SDK at present does not have a shutdown method. The "dispose" metho

[2022-07-29 15:50] GianvitoDifilippo opened #915 "SaveStateAsync not working with tuples"
## Expected Behavior

Saving a tuple variable saves the actual value.

## Actual Behavior

Saving a tuple variable saves the default value of that tuple type.

## Steps to Reproduce the Problem

Assuming 'daprClient' is an instance of 'DaprClient':

[code]

Edit:
This issue was about nullable tuples, but I then found out it also affects regular tuples.

[2022-07-29 16:40] halspang commented on #915
@GianvitoDifilippo - Thanks for opening this issue! This actually has to do with the `System.Text.Json` serializer that we're using. In order to use tuples, you have to set the option `IncludeFields` to be true. If you don't, it'll ignore Tuple values.

I made a quick little validation if you would like to see how to set that and that it works with both nullable and non-nullable tuples.

[code]

A

[2022-07-29 16:40] #915 closed

[2022-07-29 16:42] halspang commented on #914
@VenkateshSrini - Thanks for opening this issue. This does seem to be something we're missing, but it should be easy to add.

[2022-07-30 02:27] VenkateshSrini commented on #914
@halspang ,
I think this is a somewhat very painful issue. I say this because especially with .NET, as the .NET has multi-arch base images. When we create containers in the local WSL for local testing we use the ubuntu base image then the command is as below
`command: ["sh", "-c","apt-get update && apt-get -y install curl && dotnet dapr.state.console.dll && curl -X POST localhost:3500/v1.0/shutdow

[2022-07-31 07:19] GianvitoDifilippo commented on #915
@halspang thank you for your reply. Moral of the story... never use plain tuples when doing anything more than basic stuff :)

[2022-08-01 23:34] halspang commented on #904
Before we get too far into making a solution, I want to make sure we're covering what the initial issue is.

From the initial conversation, it seemed to me like what they wanted was for the actual line number/stack trace to be given when the called actor has an exception instead of what we see here on the caller side.

@artursouza - Let me know if you think I'm interpreting this incorrectly.

Does

[2022-08-01 23:36] artursouza commented on #904
We should not return stack trace. We should return more info about the error not the trace. If possible, I would include line number and file name too.

[2022-08-01 23:38] halspang commented on #904
I'm not saying returning, I'm saying printing at the callee side.

Regardless, as long as we have the line number/area of the code that it failed in, I think we're OK. I just wanted to make sure that was being covered. Though I do worry we're rushing into a notoriously finicky codebase.

[2022-08-03 18:56] #788 closed

[2022-08-04 11:24] hanxinimm commented on #811
someone to fix it?

[2022-08-04 14:59] richbeales commented on #793
MSFT is there any plans to integrate this more 'obviously' into VS 2022?  Rather than 3rd party extensions.

[2022-08-08 15:51] JasonRodman commented on #811
I am just now trying actors for the first time and thought that debugging was not possible by the way it behaved. Its good to know it did work before and this is an actual issue that might be fixed in the future. It was going to be a major sticking point and barrier to adoption if this was not the case. Has there been any news on this?

[2022-08-09 21:06] mcandeia opened #919 "Upgrade grpc.tools version to 2.47.0 for supporting arm64 architecture"
## Expected Behavior

Expected to support builds for arm64 architecture.

## Actual Behavior

Grpc.Tools versions lower than 2.40.0 does not support arm64 architecture, we're mostly using 2.38.0 version.

## Steps to Reproduce the Problem

Try to build on an apple m1 machine (for instance).

[Gprc.Tools issue](https://github.com/dotnet/aspnetcore/issues/39394)

## Release Note

RELEASE NOTE: **UPD

[2022-08-09 21:06] mcandeia commented on #919
/assign

[2022-08-09 23:54] tmacam opened #921 "SDK code doesn't reflect renaming on UnlockResponse.Status"
PR dapr/dapr#4989 (issue dapr/dapr#4988) updated the names of some enums in `UnlockResponse.Status` ProtoBuff definition:

* `LOCK_UNEXIST` became `LOCK_DOES_NOT_EXIST `
* `LOCK_BELONG_TO_OTHERS`  became `LOCK_BELONGS_TO_OTHERS`

Code in clients SDKs needs to be updated to account for this modification.

This modification should not cause any change in over-the-wire encoding but will cause problem

[2022-08-10 08:51] chris-theodorson commented on #891
This is because internally Dapr will use a DataContractSerializer/Remoting when using a strongly typed client to call an Actor, I believe that using a weakly typed client doesn't use the DataContractSerializer and will use the assigned Json converters.

Another option would be to use the OnSerializingAttribute and OnDeserializedAttribute to store the DateOnly/TimeOnly fields into a property that c

[2022-08-10 13:23] mcandeia commented on #908
/assign

[2022-08-10 19:31] #908 closed

[2022-08-10 19:43] #919 closed

[2022-08-10 22:42] mcandeia commented on #914
/assign

[2022-08-10 22:46] halspang commented on #914
@mcandeia - I took care of this one yesterday, see the PR referenced above.

[2022-08-10 23:18] mcandeia commented on #914
Totally! My bad, I really missed the assignment above, thanks for the headsup

[2022-08-11 02:34] VenkateshSrini commented on #914
@halspang could you please let me know when this upgraded nuget package will be available?

[2022-08-11 20:11] rangers-globecar opened #925 "Support for .NET standard 2.0 and/or 2.1"
Is there any reason this project is not compiled against `netstandard2.0` ?   I checked all the dependencies, and they would all be compatible with `netstandard2.0`

this would enable us to use it with legacy (for example 4.8) application that are migrating....  to be able to breakout components-by-components....

[2022-08-14 16:59] liupeirong opened #928 "Option to publish message data already in bytes without serializing to json"
Currently it looks like PublishEventAsync always serializes event data into json and encode in utf8 bytes. This becomes inefficient if the application already has data in bytes format. Today the application will need to base64 encode the bytes to pass it to Dapr, which will serialize it to json, and then encode it to utf8 bytes. On the receiving end, the corresponding steps of deserialization/deco

[2022-08-16 23:39] halspang commented on #921
@tmacam - Can you add a release note for this? It is an alpha version, but it'll have a breaking change here. That's fine for alpha APIs but we should let people know that in the release notes so they aren't surprised.

[2022-08-17 20:18] #921 closed

[2022-08-19 21:38] halspang commented on #925
@robert-stratecglobal - Thanks for opening this issue! However, we have no plans to support `netstandard` and have turned it down in the past. We have limited resources here and want to limit our scope to match the supported versions of .NET. `netstandard` is past LTS (so is 5.0). Though we'll retain 5.0 since we already support it and can't remove it without a breaking change, we don't want to br

[2022-08-19 21:44] halspang commented on #911
@liupeirong - Currently, that's not supported. This would have to be a feature on the runtime first. If it's important to you, I'd add the issue over there.

[2022-08-20 13:15] AndrewSafwatFrancis opened #932 "Duplications in running Dapr events"
Hi all, I have an issue with dapr grpc events. **Sometimes **the events runs multiple times. I'm using redis and in another env. I'm using azure queues as I thought that the issue was related to redis but I have the same issue.
I created a sample project the simulate what I'm doing. Here is the project [](https://github.com/AndrewSafwatFrancis/DaprTest)
and here is the settings in dapr pubsub.yml

[2022-08-21 00:02] yash-nisar opened #933 "Integrate dapr-bot support"

[2022-08-22 08:37] tomhreb opened #934 "Streaming configuration - updates are not propagated"
## Expected Behavior

Using IOptionsMonitor<T> I can receive updates from dapr configuration store.

## Actual Behavior

I am not receiving updates from the configuration store.

## Steps to Reproduce the Problem

This can be reproduced using minimal api app

Project file
[code]

Program.cs
[code]

By periodically quering this endpoint while updating the key in redis, the response shculd report up

[2022-08-22 20:39] #897 closed

[2022-08-23 16:14] #914 closed

[2022-08-23 16:30] yash-nisar commented on #785
/assign

[2022-08-25 18:25] yash-nisar opened #936 "Change log level to information in pubsub examples"
## Expected Behavior

Currently, we do support logging but the log level is debug in pubsub examples. Since the default log level in `appsettings.json` is information, logging is suppressed. We need to enable logging by replacing `logger.LogDebug(...)` by `logger.LogInformation(...)`.

## Actual Behavior

Logging should not be suppressed as it would hide useful information for understanding the fl

[2022-08-25 20:21] bledbet opened #937 "HttpClient created by DaprClient.CreateInvokeHttpClient can't find the target service to invoke"
Per the recommendation here:
https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/service-invocation#invoke-http-services-using-httpclient

I am trying to use the HttpClient that is created by DaprClient.CreateInvokeHttpClient() to make a service invocation call in a self-hosted dapr environment.  I was successful in modifying the "service_invocation" quickstart by modifyin

[2022-08-26 01:44] Namohar opened #939 "Dapr.DaprApiException: the state store is not configured to use the actor runtime"
## Ask your question here
While Running with  dapr Actor in c#, below error is occurring

Dapr.DaprApiException: the state store is not configured to use the actor runtime. Have you set the - name: actorStateStore value: "true" in your state store component file?
   at Dapr.Actors.DaprHttpInteractor.SendAsyncHandleUnsuccessfulResponse(Func`1 requestFunc, String relativeUri, CancellationToken cance

[2022-08-29 01:56] tomfanara commented on #939
Hello I am having the same issue. I have built the example in Docker and using the runtime and I get this same error. I have this set to true in the state store as stated in the error in my docker components folder in the yaml.

"Have you set the - name: actorStateStore value: "true" in your state store component file?"

[2022-08-29 03:35] Namohar commented on #939
yes,
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
spec:
  type: state.redis
  metadata:
  - name: redisHost
    value: localhost:6379
  - name: redisPassword
    value: ""
  - name: actorStateStore
    value: "true"

[2022-08-29 16:16] amulyavarote commented on #884
/assign

[2022-08-29 16:54] halspang commented on #939
When you run Dapr, do you see a log like:

[code]

Or

[code]

[2022-08-29 17:01] halspang commented on #937
Thanks for opening this issue!

I wonder if it's something as simple as a casing mismatch? You launch it with `orderApi` but it's sayin git can't find `orderapi`. I tried this locally (using the standard `DaprClient` and casing did have an impact.

[2022-08-29 20:23] halspang commented on #46
I'm going to close this issue due to age and the fact that retries have been taken into consideration at the Dapr runtime level.

[2022-08-29 20:23] #46 closed

[2022-08-29 20:26] halspang commented on #437
This was being tracked for 1.0, which is a while ago now. We do have test coverage reports and are continuing to improve.

[2022-08-29 20:26] #437 closed

[2022-08-29 20:26] halspang commented on #452
We did this: https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientGrpc.cs#L1353

[2022-08-29 20:26] #452 closed

[2022-08-29 21:58] halspang commented on #716
Given the age of the issue, and the general nature of the question, I'm going to close this. If you still need help, feel free to reopen this issue or open a new one.

[2022-08-29 21:58] #716 closed

[2022-08-29 22:14] halspang commented on #698
I was playing with this recently in an attempt to get tracing working across bindings. As it turns out, it's the dapr runtime that strips the headers. .NET's tracing infrastructure automatically applies the header and it's up to the runtime to preserve these things.

In short, there's actually no change in the .NET SDK, we're just making changes on the runtime so I'm closing this issue. If you hav

[2022-08-29 22:14] #698 closed

[2022-08-29 22:26] halspang commented on #902
@penfold - Are you able to provide a repro for this?

[2022-08-29 22:26] halspang commented on #909
@mandarsj  - Do you still need help?

[2022-08-29 22:31] halspang commented on #861
@beakersoft - Since you've found a way to handle this, I'm going to close this issue. If you think this is worth a feature add, please feel free to reopen this issue or create a more specific one with the requested behavior.

[2022-08-29 22:31] #861 closed

[2022-08-29 22:41] halspang commented on #830
@shobhitkasliwal-onbe - Do you need anything else here?

[2022-08-29 22:44] halspang commented on #780
@rizamarhaban - What are you trying to add into your services? There is a separate method for the client if that's all you need. I believe this method is on top of controllers because we need controllers to setup the various Dapr endpoints.

[2022-08-29 23:12] halspang commented on #811
@jsaelmackers - I did try this and found that I also couldn't attach to a process to debug it. However, I've also never tried that really, so I can't speak to regressions.

However, I was able to start dapr separately and start the app with the debugger. That allowed me to step through the code, even for actors. Does that work for you? Or do you need the attach flow?

[2022-08-29 23:22] halspang commented on #793
@wjkhappy14 - You can also start dapr separately from your app as it will wait for your app port to start listening to finish starting. You can then debug your app normally.

@richbeales - Not that I'm aware of, but we can take it into consideration. What kind of features/abilities would you want from a Dapr extension in VS?

[2022-08-29 23:39] halspang commented on #784
@tstojecki - Let me know if you're still experiencing any issues or can provide a repro.

[2022-08-29 23:56] halspang commented on #797
@repne - Are you still having trouble here/can you provide a repro?

[2022-08-30 02:47] JasonRodman commented on #811
Unfortunately no since we use Tye to run all the components of our app and launches dapr as well. Tye has a debug option where it waits for debugger to attach before proceeding with startup, which is our usual avenue for debugging. I am holding out hope that a fix is found for this, otherwise I will have to resort to something like what you suggest to test actors.

[2022-08-30 04:54] Namohar commented on #939
![image](https://user-images.githubusercontent.com/20857542/187352248-7f1f85d7-745d-481e-abd3-5a7e39e3bd3d.png)

detected actor state store

[2022-08-30 06:49] jsaelmackers commented on #811
@halspang - It would be great if you could explain a litlte bit more the attach flow.

[2022-08-30 09:52] repne commented on #797
I haven't seen the issue since 1.7 I think. We can close this.

[2022-08-30 09:52] #797 closed

[2022-08-30 13:21] DaleyKD commented on #793
I'm with @richbeales here. I'm just starting to investigate how I can use Dapr with my current microservices, which is quite a few different .sln's in Visual Studio 2022. All the steps around Dapr, having to use manual CLI all the time, etc., sure makes me not interested in using it.

I realize, as developers, we're going backwards (used to be DOS/CLI, then we had nice GUI, but now we're back to C

[2022-08-30 14:46] richbeales commented on #793
Yes @DaleyKD we've become accustomed to Visual Studio giving us "Right click to add feature x" (Dapr in this case), then "F5 to run" the project.

VS's key advantage over the terminal/VSCode is it should be able to bootstrap this stuff for you (and keep that tight debugging loop)

[2022-08-30 19:11] bledbet commented on #937
Yes, it does appear to be an issue with a casing mismatch.  I had consistently used the casing "orderApi" throughout my code, and it appears that DaprClient modified the casing that I passed to it in the call to CreateInvokeHttpClient() so that it no longer matched.

[2022-08-30 19:12] bledbet commented on #937
@halspang Yes, it does appear to be an issue with a casing mismatch. I had consistently used the casing "orderApi" throughout my code, and it appears that DaprClient modified the casing that I passed to it in the call to CreateInvokeHttpClient() so that it no longer matched.

[2022-08-30 19:53] DaleyKD opened #941 "Azure Service Bus - Topic Subscription Name"
BRAND new to Dapr (just started looking today).

Our current infrastructure has already set up a Service Bus Namespace with a single topic (_also many queues; that's for later_). Then in that topic, we have 8 subscriptions. These are named SIMILAR to what we call the microservice. Then, within each subscription, the `$Default` filter is removed, and the name of the event is added as a correlation

[2022-08-31 22:23] #904 closed

[2022-09-01 21:06] #936 closed

[2022-09-04 18:41] toresenneseth commented on #401
Just starting to explore Dapr, and came across [Dapr sidekick](https://github.com/man-group/dapr-sidekick-dotnet) which seems to make debugging in VS very easy. Might get me into trouble...don't know yet :)

[2022-09-05 17:18] mzj opened #944 "Custom CloudEvent serialization problem - Data property"
## Intro
I've stumbled on a problem while publishing events with a custom CloudEvent wrapper.
I'm trying to use custom CloudEvent<TData> so that I can specify the type property and use it for routing functionality inside subscribers.

Related to **Allow publishing cloud events directly #868**
The project is using docker-compose to set up the whole infrastructure (pub/sub services, dapr sidecars, K

[2022-09-07 20:11] luboshl opened #945 "How to get all entries using QueryStateAsync?"
I use state store to save and get items to/from `Redis` using .NET client, it works fine. Now I need to `get all entries with query state`. I try different forms of query:

[code]

But I constantly get `failed query in state store statestore: query index not found`:

[code]

What is the correct form for the query? Or do I need to initialize the store? I haven't found anytning about that in the doc

[2022-09-07 20:39] berndverst commented on #486
@halspang please assign to @addjuarez. Priority P1, for upcoming v1.9 release. FYI @artursouza

This is related to https://github.com/dapr/dapr/issues/5118

[2022-09-08 16:53] dale-personal opened #946 "Add ability to cap the number total number of active actors (by type)"
Add a MaxActiveActorCount setting similar to other settings in ActorRuntimeOptions that would cap the number of active actors of a given type.

A use case might be to support authenticated and unauthenticated actors within a system. but capping the number of unauthenticated actors in order to have a more deterministic calculation of resource requirements with a knowable number of authenticated use

[2022-09-08 22:37] yash-nisar commented on #702
/assign

[2022-09-13 20:49] doccompany opened #948 "Query State is not working with cockroachDB and .net Dapr Client"
## Expected Behavior

Query should retrieve the stored record.

## Actual Behavior

Query doe not return any records.

## Steps to Reproduce the Problem

Store the state as below
[code]

Retrieving state works fine:
`var x = (await _daprClient.GetStateAsync<a>(StoreName, "Api--2"));`

However, query state always return no record:
[code]

The data stored in database is binary:
[code]

[2022-09-13 21:59] doccompany commented on #948
I managed to store the json into cockroachDB but the query with EQ: {"b", "c" } or EQ: {"value.b", "c"} still returns nothing.
[code]

[2022-09-13 22:10] #884 closed

[2022-09-19 13:32] nelson-b opened #952 "Unable to fetch secret as daprClient.GetSecretAsync returning error"
## Expected Behavior

Should fetch the secret from azure key vault using c sharp dapr client

## Actual Behavior

When executing

daprClient.GetSecretAsync getting below error

Dapr.DaprException
  HResult=0x80131500
  Message=Secret operation failed: the Dapr endpoint indicated a failure. See InnerException for details.
  Source=<Cannot evaluate the exception source>
  StackTrace:
<Cannot evaluat

[2022-09-20 06:12] mandarj123 opened #953 "subscribe to raw messages using .Net Core 6"
I am listening to MQTT provider using Dapr and it will be not be sending events in CloudEvents Format.

My intention is to be able to process messages as raw string and then do any conversion needed.

Currently my setup is as follows.

[code]
In controller

        [Topic("mqtt-pubsub", "testtopic", true)]
        [HttpPost("ReceiveMessages")]
        public ActionResult<string> Process([FromBody]

[2022-09-20 18:16] dmitriy-pisarevskiy commented on #928
+1, the same issue currently.

[2022-09-21 21:41] addjuarez commented on #486
/assign

[2022-09-22 02:08] Hsuwen opened #956 "Issue with HTTP call formatting in DaprClient"
I am using DaprClient for HTTP calls.
I'm having an issue with the format of the response when getting the string of the response via a get request.

### My RPC (my-app):
`[HttpGet]`
`public IActionResult Test()`
`{`
`    return Ok("my string text");`
`}`

### DaprClient Invoke 1:
`string str = await daprClient.InvokeMethodAsync<string>(HttpMethod.Get, "my-app", "test");`
I got "**Dapr.Client.Invo

[2022-09-22 02:14] Hsuwen commented on #956
I think the comment in the source code mentions "The type of the data that will be JSON deserialized from the response body" is ambiguous, which would mean that the SDK internally defines the "JSON" format and then doesn't actually specify "Accept" .

Please confirm.

[2022-09-22 07:09] SPrabaga opened #957 "Unable to send SNS with MessageAttribute in InvokingBindingAsync()"
We need to send sns notification with message attribute also on daprClient.InvokingBindingAsync(), to filter sns message based on message attribute filter policy subscription. could you please help.

[2022-09-23 05:27] SPrabaga commented on #957
Could you please confirm message attribute added on daprClient.InvokingBindingAsync() method Request. Like this
**Request:**
request.MessageAttributes.Add(
    "SNSType",
    new MessageAttributeValue()
    {
        Type = "String",
        Value = "SNS"
    });
**Response:**
    For the Subscription filter policy. Like this on AWS
{
  "SNSType": [
    "Type ":"String"
    "Value":" SNS"
  ]
}

[2022-09-23 19:06] #883 closed

[2022-09-23 19:11] halspang commented on #957
The InvokeBinding call just takes your provided object/data (serialized to json if an object) and sends it to the component. So if you're encoding that into your request object, it should be fine.

If you're asking if the `BindingRequest` object has a `MessageAttributes` field. It does not. Bindings are generic and we don't have anything tech specific in the object.

[2022-09-23 19:25] halspang commented on #956
I don't believe we specify any content headers, though you could yourself by providing an appropriate httpclient/factory to the client construction.

`InvokeMethodAsync<TResponse>()` does try and deserialize whatever the response is into the given object. Since you aren't passing an object back, but rather a raw string, the serialization fails.

[2022-09-23 19:35] halspang commented on #952
@nelson-b - What ports is your dapr sidecar running on? It looks like the connection was refused talking to it.

[2022-09-26 04:37] mukundansundar opened #958 "Bulk Pubsub implementation in SDK"
## Describe the proposal

Add SDK support for the new bulk Pub/Sub API runtime issue: https://github.com/dapr/dapr/issues/2218

[2022-09-26 10:03] MargaretKrutikova opened #959 "Why is second level InnerException from actors not serialized?"
## Ask your question here

I am using virtual actors and have encountered a situation where the actor throws `DaprException` with its `InnerException` set to `RpcException` with more details on why the actor can't connect to its state store. However, on the caller side I only get `ActorMethodInvocationException` with inner exception `ActorInvokeException` that breaks the chain and has its `InnerEx

[2022-09-26 14:01] olitomlinson commented on #939
@Namohar @halspang

I had this problem too when I was following the documentation here : https://v1-9.docs.dapr.io/developing-applications/sdks/dotnet/dotnet-actors/dotnet-actors-howto/

**Make sure you are using version 1.8.0 of the SDK if you are using the 1.8.x runtime - the docs incorrectly use 1.0.0.**

I then also went down a rabbit hole with trying to use the dapr VS Code extension so I cou

[2022-09-29 01:09] aktxyz commented on #792
I did finally get around to trying this ... and it looks like the headers required for re-entrant actor calls are not getting passed along when there is a service invocation in the mix ... ie ... client -> actor(a) -> serviceinvocation -> actor(a)

Any thoughts on how to get access to the magic header info ... and then add to the actor call?

[2022-09-30 00:39] yash-nisar opened #963 "Update examples to include support for Bulk State"
## Describe the proposal
Update examples to show the usage of Bulk State.
Ref PR: https://github.com/dapr/dotnet-sdk/pull/962

[2022-09-30 00:39] yash-nisar commented on #963
/assign

[2022-09-30 21:56] aktxyz opened #964 "preserve reentrant header used for actors ... through the service invocation process"
In the dapr doc info, they show some reentrant actor scenarios. It looks like the dapr dotnet sdk automatically creates and passes the reentrant header id ... so as long as you follow the basic scenarios described in the docs it works fine.

[code]
https://docs.dapr.io/developing-applications/building-blocks/actors/actor-reentrancy/

I am wanting a do a slightly different scenario that includes a

[2022-09-30 22:00] aktxyz commented on #964
I actually have this working with out too many changes ... that said I am sure the implementation is not up proper standards ... is it worth submitting a PR or pointing to a fork to have folks take a look?

[2022-09-30 23:11] aktxyz commented on #964
basically tuck away the reentrant header id here (before service invocation)
https://github.com/dapr/dotnet-sdk/blob/01cdc89710c16712442474afea97693f22c5852b/src/Dapr.Client/DaprClientGrpc.cs#L278
[code]

and then on the receiving end, pluck out the reentrant header id here
https://github.com/dapr/dotnet-sdk/blob/01cdc89710c16712442474afea97693f22c5852b/src/Dapr.AspNetCore/CloudEventsMiddleware.cs

[2022-10-03 23:40] spottedmahn commented on #774
for those interested, I took [halspang's sample](https://github.com/dapr/dotnet-sdk/issues/774#issuecomment-966721169) and turned it into a [runnable test here](https://github.com/spottedmahn/experiments-2020/blob/master/Dapr%20unit%20testing%20research/Dapr%20GitHub%20Issue%20774/UnitTest1.cs).

[2022-10-03 23:53] spottedmahn commented on #774
How about for the mental gymnastics one has to go through to write a service invocation test?  See how clean & simple [this is](https://github.com/spottedmahn/experiments-2020/blob/1ef97b9d26406d6e4233ff92527716989615e826/Dapr%20unit%20testing%20research/Dapr%20unit%20test%20prj%201/UnitTest1.cs#L93) vs [this](https://github.com/spottedmahn/experiments-2020/blob/1ef97b9d26406d6e4233ff9252771698961

[2022-10-07 18:27] danielgerlag opened #967 "Pubsub name only known at runtime"
How do I subscribe to a topic where I only know the pubsub name or topic name at runtime?
The [Topic] attribute only accepts constants, and cannot be populated with a value from a variable.

[2022-10-08 05:14] saber-wang commented on #967
https://github.com/dapr/dotnet-sdk/blob/master/examples/AspNetCore/ControllerSample/CustomTopicAttribute.cs#L26

[2022-10-08 11:55] ChristianWeyer commented on #773
@mcrio
Did you try to use DaprClient in the latest version for the correct end-to-end tracing?

[2022-10-08 12:16] mcrio commented on #773
Hi @ChristianWeyer I haven't had yet the chance to try it out.

[2022-10-08 17:39] ChristianWeyer commented on #773
Thanks!
Do you have the sample code for your HttpClient-based solution?

[2022-10-08 18:00] mcrio commented on #773
Hi @ChristianWeyer

Something along these lines:

[code]

[2022-10-13 11:26] yash-nisar opened #969 ".NET SDK Contribution Guide Link Broken"
## Expected Behavior

https://docs.dapr.io/contributing/dotnet-contributing/ does not exist on https://github.com/dapr/dotnet-sdk/blob/master/README.md
## Actual Behavior

The link should point to https://docs.dapr.io/contributing/sdk-contrib/dotnet-contributing/

## Steps to Reproduce the Problem

Just go to https://github.com/dapr/dotnet-sdk/blob/master/README.md and click on the .NET SDK Contri

[2022-10-14 08:55] ChristianWeyer commented on #773
It is still unclear how to do end-to-end tracing as described here with the latest addition of CloudEvent support in DaprClient.
https://github.com/dapr/dapr/issues/4571

Any hints @halspang ?

Thanks!

[2022-10-14 20:49] MatiKloster commented on #659
This worked for me!
Thanks a lot!

[2022-10-17 17:54] halspang commented on #967
You can also use `WithTopic` like this: https://github.com/dapr/dotnet-sdk/blob/master/examples/AspNetCore/RoutingSample/Startup.cs#L106.

If you need truly programmatic subscriptions, those are not yet supported by Dapr. If you're just loading the name at runtime, this or the above post should work.

[2022-10-17 17:56] halspang commented on #959
With 1.9, we now pass some more actor exception information back to the caller. Though I believe it's still wrapped in the ActorException. Let me know if that works for you.

As for the historical reason, we don't send the whole trace back over the wire as it is generally considered a security risk to send that kind of information across hosts.

[2022-10-17 19:08] halspang commented on #946
I think this issue would have to exist on the runtime first before we can support it here. When you create a proxy you aren't guaranteed to hit the host you're calling from, so the SDK would need to track all instance. If we have it on the runtime, that's a lot easier.

Though it would be harder to get ActorProxy.Create to fail, since activation happens during invocation. Instead, it'd be an invoc

[2022-10-19 06:31] zivfuture commented on #807
solution:
[code]

[2022-10-19 06:31] #807 closed

[2022-10-20 19:38] ChristianWeyer opened #970 "Failing resiliency feature (like retry) throws HttpException instead of InvocationException"
When using a Resiliency feature like retries with the .NET SDK client (`InvokeMethodWithResponseAsync`) and the retry is finally unsuccessful, I get an `HttpException` rather than an `InvocationException`.

A repro can be seen here:
https://github.com/thinktecture/dapr-basics-demos

This is the code in question:

[code]
(https://github.com/thinktecture/dapr-basics-demos/blob/main/ClientDaprized/Pr

[2022-10-21 08:37] iamsourabh-in opened #971 "Service Invocation not working as Expected, Error invoking method: 'XXXX' on app-id: 'uploader'"
## Expected Behavior

I have Two Service `Processor` and `Uploader`. Processor Service can reach out to uploader for getting any service details.

The Processor Service should be able to invoke method in Uploader Service

## Actual Behavior

Getting an error after trying Multiple Routes and Scenarios. Processor Service is unable to Invoke any method in Uploader Service

`An exception occurred whil

[2022-10-21 17:47] levimatheri opened #972 "Cannot get gRPC invocation to work in .NET 6"
I'm trying to follow the gRPC sample provided, but using .NET 6. Running the sample as is (.NET Core 3) works just fine. Maybe I'm missing something?
## Expected Behavior
Should be able to invoke gRPC service using Dapr
## Actual Behavior
Not able to invoke gRPC service using Dapr

Getting the following error at `daprClient.InvokeMethodGrpcAsync`:
[code]
I also see when that Dapr is not calling th

[2022-10-21 20:12] levimatheri commented on #972
Turns out I was launching the grpc service Dapr client using `dapr run --app-id grpcsample --app-port *5050* --app-protocol grpc -- dotnet run` but using `options.ListenLocalhost(5000, o => o.Protocols = HttpProtocols.Http2);`, i.e. different port numbers. Changed to `options.ListenLocalhost(5050, o => o.Protocols = HttpProtocols.Http2);` and it started working 😄

[2022-10-21 20:12] #972 closed

[2022-10-24 15:39] yash-nisar commented on #963
Blocked by https://github.com/dapr/dotnet-sdk/pull/962

[2022-10-25 00:09] halspang commented on #971
Do you see any indication that the uploader app is receiving a request? Or is it failing to even get there? Also, can you print the inner exception, if there is one?

How are you constructing your `DaprClient`? Given that you're running locally, most of that setup should just work out of the box.

I'd also takea a look at your model class. Perhaps the json deserialization is causing problems?

[2022-10-25 00:12] halspang commented on #970
@ChristianWeyer - Thanks for opening this! Quick question, based on the title, are you saying we get a different response if we don't use resiliency?

Or, is this issue just stating that we do not return an `InvocationException` in the case of a `500` from a request?

[2022-10-25 00:12] halspang commented on #967
@danielgerlag - Do you need any more information?

[2022-10-25 00:13] halspang commented on #959
Closing this issue with the release of 1.9, we include some more actor exception information. Feel free to re-open if you think additional action is needed here.

[2022-10-25 00:13] #959 closed

[2022-10-25 00:14] halspang commented on #957
@SPrabaga - Do you need anything else here?

[2022-10-25 05:58] yash-nisar commented on #702
@halspang Do you want to add this to 1.10 ?

[2022-10-25 06:02] yash-nisar commented on #963
@halspang Can you also add this to 1.10 ?

[2022-10-25 06:07] yash-nisar commented on #963
Included in https://github.com/dapr/dotnet-sdk/pull/962

[2022-10-25 07:02] ChristianWeyer commented on #970
Hey @halspang - actually, the latter. We just get the `HttpRequestException` from "down below" 😉

[2022-10-25 18:34] danielgerlag commented on #967
Thanks that worked for me... but it was hard to find these examples.

[2022-10-26 13:31] brettveenstra commented on #971
@iamsourabh-in did you remember to include
[code]

for `Uploader` project?  I believe you'd need that to invoke the methods off the controller.

[2022-10-26 20:14] brettveenstra commented on #967
@danielgerlag are you looking for examples to Subscribing in the pubsub docs [here](https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-client/)?

[2022-10-26 20:35] brettveenstra commented on #941
I don't believe a Subscription filtering is available to do what you're asking.  If you let Dapr manage the service bus setup (`disableEntityManagement="true"`) , Dapr-ized applications that subscribe to the topic in your component file will automatically create a subscription.

If that is not acceptable, perhaps you can describe your use case a little further?  Are you looking to only send a cert

[2022-10-26 20:43] brettveenstra commented on #932
@AndrewSafwatFrancis I believe this is a feature of Dapr itself the Pub/sub API "Offers at-least-once message delivery guarantee." per the [Overview](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview)

You'll need to make allowances in your application code to ignore repeated events, the State Store component might be a good tool for you here.

[2022-10-27 03:46] san-chang opened #975 "Dose this package has plan to support TTL on state store"
https://docs.dapr.io/developing-applications/building-blocks/state-management/state-store-ttl/

[2022-10-28 12:48] brettveenstra commented on #881
Have you looked into the [middleware capabilities](https://docs.dapr.io/reference/components-reference/supported-middleware/) of Dapr?

[2022-10-28 13:28] iamsourabh-in commented on #971
No, I am not able to see any logs showing any indication for the same. Also, tried with log level=debug, uploader still shows no sign of invocation.

`DaprClient` Initialize in Program.cs
[code]

The Model Class looks like this:
[code]

[2022-10-28 18:59] halspang commented on #975
We already support saving state with metadata, which is where you put the TTL. Closing as non-issue. If you want, you can request an example on that page but that should be done in the docs repo `dapr/docs`.

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClient.cs#L741

[2022-10-28 18:59] #975 closed

[2022-10-28 20:13] halspang commented on #971
@iamsourabh-in - This may be a shot in the dark here, but I wonder if you have your ports backwards for your uploader app.

I noticed in the postman call that you were hitting `localhost:2500/uploads`. That's the direct app endpoint, not the Dapr one. In your run command, you have `--app-port 2000 --dapr-http-port 2500`. Is it possible those should be reversed?

If it's not that, I may need the co

[2022-10-28 21:01] iamsourabh-in commented on #971
@halspang  - I might have miss understood it, but I am under an impression, this is the port which dapr side car is running,

For `Uploader Service` the `GET /uploads` endpoint can be invoke it via two ways

[code]
I am sharing the logs here and also sharing the repo details.

Commands to run the apps are in the read me. LEt me know if you need any more details.

Uploader Service:
Processor Servic

[2022-10-28 21:15] iamsourabh-in commented on #971
Also , to add

I can see the dapr dashboard showing the uploader service up.

![image](https://user-images.githubusercontent.com/22702292/198734094-96c6733e-6538-49cd-8ba3-48277e6f8060.png)

[2022-10-28 21:41] halspang commented on #757
A very delayed response, but this was an issue with the runtime that was actually fixed in 1.9.

The issue being that the runtime was trying to validate the reminder's remaining invocations/ttl and would actually cause it to be replaced at the end of the call. Since you were removing it in the method itself, it would hit an etag error and replace the reminder.

Closing as this has been fixed.

[2022-10-28 21:41] #757 closed

[2022-10-28 21:47] halspang commented on #971
@iamsourabh-in - I actually didn't know you could access an app that way, but I just tried and it worked, so I guess I learned something new today :)

The mDNS timing out is interesting and would be a runtime problem. So, you may need to ask over there/in components-contrib.

Do you have the logs for the uploader as well?

[2022-10-28 21:48] halspang commented on #957
I'm going to close this issue, feel free to reopen if you need more help.

[2022-10-28 21:48] #957 closed

[2022-10-28 21:53] halspang commented on #945
From what I see in the docs, it looks like Redis requires query indices which need to be setup in the yaml.

https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-redis/#querying-json-objects-optional

Closing this as it's a component question.

[2022-10-28 21:53] #945 closed

[2022-10-28 22:12] halspang commented on #941
@DaleyKD - I believe the consumerID defaults to your app ID, but I think that's all we really have. If all you want to do is filter messages, we do have the ability to do that, but I don't think we do on the correlation ID. I'd also love to hear more about your use case.

[2022-10-30 10:16] iamsourabh-in commented on #971
@halspang -   I have raise the ticket in dapr runtime. [5430](https://github.com/dapr/dapr/issues/5430)

Upgraded to dapr runtime 1.9.1, No luck Yet

When running AspNetCore in Debug, was able to get some insights, but still not able to invoke the method.

The dapr dashboard shows the below status

![image](https://user-images.githubusercontent.com/22702292/198873365-1af4d8a9-e802-41af-aad4-f9c509

[2022-10-30 10:18] iamsourabh-in commented on #971
Seems to some issue with the runtime or TLS Config.

I have raise the ticket in dapr runtime. [5430](https://github.com/dapr/dapr/issues/5430) for further discussion.

Closing this ticket.

[2022-10-30 10:18] #971 closed

[2022-10-31 07:12] saber-wang opened #976 "Should CloudEvent.Data property be lowercase?"
## Describe the proposal

https://github.com/dapr/dotnet-sdk/blob/56017dd94ad860911beba4b6d15081d9f4d6aae8/src/Dapr.Client/CloudEvent.cs#L60

[2022-10-31 14:00] BartNetJS opened #977 "[Question] api routes and versioning"
What is the best practice to implement route versioning in asp.net core and dapr?
When using route versioning in aps.net core, you typically have the following routes:
/api/v1.0/controller/action
/api/v2.0/controller/action
Dapr also has route versioning:
/v1.0/invoke/appid/method/action

Above example would lead to
/v1.0/invoke/appid/method/api/v1.0/controller/action
Not so clean....
and when usi

[2022-10-31 18:06] #785 closed

[2022-10-31 18:06] #963 closed

[2022-10-31 18:27] halspang commented on #976
@saber-wang - Has this caused any problems for you? If it did, it feels like something that would've come up before. Making a change to the serialization/naming conventions though would probably be considered a breaking change, so we need to be careful with what we do here.

[2022-10-31 18:35] halspang commented on #977
@BartNetJS - Thanks for opening this issue! There isn't really a way for us to avoid having that really long (and technically dual versioned) dapr endpoint, as that's just how dapr invocation works.

As for the client abstracting it away, I could see us making that work for certain use cases, like the minimal API there, though we'd probably want it for attributes as well.

As a rule of thumb thoug

[2022-10-31 18:35] halspang commented on #909
Closing this issue due to inactivity. Feel free to reopen if you need something.

[2022-10-31 18:35] #909 closed

[2022-10-31 18:44] #967 closed

[2022-10-31 20:26] halspang commented on #952
@nelson-b - I've confirmed that I have no problem fetching a secret from Azure Keyvault with the client. Can you give some more information on how you're connecting/running Dapr?

[2022-10-31 21:44] halspang commented on #939
@Namohar - Are you sure that your component was scoped to the appropriate apps? And did you see the next log line that I asked for?

[2022-11-01 01:35] saber-wang commented on #976
@halspang Recently processed the serializer inside the project, and the case is not processed during serialization,so...

At present, other attributes are all lowercase, and the 'CloudEvent' protocol is also lowercase, so this problem exists.

[2022-11-02 12:38] ChristianWeyer commented on #970
Do you already have any idea of where we are heading with this @halspang?

Thanks!

[2022-11-02 21:01] berndverst opened #978 "Support requests larger than the default gRPC message length limit of 4 MB"
The Dot Net SDK does not support gRPC payloads beyond the default 4 MB.

Allow configuring the max send and receive message length for gRPC

You have to set these gRPC client options. The value provided is in bytes with a default of 4 MB.
[code]

For reference see:
https://github.com/dapr/python-sdk/pull/375
https://github.com/dapr/python-sdk/pull/458

[2022-11-02 21:02] berndverst commented on #978
This issue is impacting a container apps user for example: https://github.com/microsoft/azure-container-apps/issues/411

[2022-11-02 21:04] berndverst commented on #978
As an aside, this also need to be implemented for actors. Essentially it needs to be added for every gRPC client in the DotNet SDK!

[2022-11-02 21:07] kendallroden commented on #978
Thanks for creating this bernd!

[2022-11-03 17:20] amulyavarote opened #979 "Add initial Dapr workflow authoring APIs"
## Describe the proposal

Add workflow authoring APIs to the dotnet sdk based on the initial proposal for dapr workflows for dotnet-sdk.
Linking the issue here.

[2022-11-04 13:05] flomader commented on #952
I am having the same issue accessing a statestore (SQL Server). It only occurs when I start Dapr via CLI:
`dapr run --app-id MyApp --components-path .\components`
If I run daprd it works:
`daprd --app-id MyApp --components-path .\components`

If I use the CLI and start my application together with dapr in the same command line call then it works as well:
`dapr run --app-id MyApp --components-path

[2022-11-04 18:05] amulyavarote commented on #969
/assign

[2022-11-04 20:28] #969 closed

[2022-11-10 10:43] BartNetJS commented on #977
I understand the api "v1" concerns that it is not a concern for the dapr sdk.
About the client abstraction for minimal api like this: endpoints.MapPost(.....).WithMethod("MethodName")
I'm looking if I already can accomplish it with custom code.
Is it possible to write meta data to the sidecar (in my case a mapping between MethodName and the route that will be written by a custom WithMethod extensi

[2022-11-16 02:16] yash-nisar commented on #978
/assign

[2022-11-21 14:29] TonyFjo opened #982 "Getting TopicAttribute information from config"
## Ask your question here
I would like to be able to dynamically populate the PubSubName, Name and Match from environment variables via configuration, do you have any example of how to do this? I can not find any....

[2022-11-21 14:38] River-Prince commented on #928
+1. The main problem this causes me though is that I can't use Newtonsoft.Json to serialize events whereas I can to invoke bindings as they can take a request object. I deserialize using newtonsoft and having to have attributes for newtonsoft and .NET JSON in my model to ignore properties is really annoying

[2022-11-22 10:51] lsoft-bho opened #983 "AddDaprSecretStore always times out"
I have services deployed in Azure Container Apps with Dapr enabled. I'm trying to add a secrret store to the configuration like this:
[code]

This works locally running with docker compose, but in the container app this always creates the following exception:

[code]
I have tried with timeouts of up to one minute.

Is there some configuration I am missing that I should have set?

[2022-11-25 00:15] m1t0k commented on #983
I had the same issue, fixed in docker-compose.yml file by adding network_mode:

  test-api:
  ...
  ...
  test-api-dapr:
   .....
    depends_on:
      - test-api
    **network_mode: "service:test-api"**

[2022-11-25 06:17] lsoft-bho commented on #983
Thank you for your answer @m1t0k, but you misunterstood my problem. It is working with docker-compose - it is not working in Azure Container Apps.

[2022-11-25 12:21] ChristianWeyer commented on #970
Pinging... @halspang 😉

[2022-11-27 22:23] bobbyangers opened #985 "Introduce DOTNET version specific versions"
Although technically `dotnetcore3.1` is compiler compatible with `net5`, `net6`, `net7`, there are some differences, especially regarding the referenced **nuget** packages.

This said with the battery of tests that is in this project, it would make sense to compile against each framework individually and make the specific version available.

By adding these sections where appropriate in the `.cspr

[2022-11-28 08:08] zaksnet commented on #129
I had the same error and what fixed it was switching from .NET 7 to .NET 6.
NOTE: My actor's service was using .NET 6 and the gateway was .NET 7. I have not tested using .NET 7 on both services, in the end, the issue might have been that i was using different frameworks for each service but for now i assume that this was .NET 7 issue.

[2022-11-28 08:26] marcelk-workstreampeople-com commented on #976
Had the same issue, found out that I incorrectly configured daprClient with default JsonSerializerOptions() while it should be JsonSerializerOptions(JsonSerializerDefaults.Web).

JsonSerializerDefaults.Web sets naming policy to CamelCase and case insensitive naming policy.

[2022-11-29 12:08] vmarusic opened #986 "Internal Actor cache not invalidated after rebalance"
Question around Actors (using Dapr 1.7):

I'm having an actor type distributed across multiple pods. At some point daprd sidecar fails on one pod, after which Placement will failover the Actor to a different pod.
As soon as the daprd sidecar is up and running on the original pod, it's deactivated on the new pod and resumes working on the original pod.
This works great, BUT there is a slight issue

[2022-11-29 16:44] dmitriy-pisarevskiy opened #987 "How I can run integration tests on project which is used Dapr?"
## Ask your question here

Hey! I'am trying to run integration tests with WebApplicationFactory, but it crashed on create Dapr services, how I can avoid to use docker-compose to run integration tests?

[2022-11-29 18:12] dmitriy-pisarevskiy commented on #983
@isoft-bho locally too, when I use dapr init --slim or local install
[code]