[2019-07-10 17:59] lukekim opened #1 "Merge Skeleton branch to master branch"
With appropriate engineering review/gates/

[2019-07-10 18:00] lukekim opened #2 "Setup C# SDK CI build including Nupkg publish"

[2019-07-10 18:00] lukekim opened #3 "Automatically publish Nuget packages on CI build"

[2019-07-17 22:32] amanbha opened #5 "Enable RPC like calls using ActorProxy."
Add codegen to enable RPC like calls using ActorProxy to allow following strongly typed invocations:

[code]

[2019-07-17 23:10] amanbha opened #7 "Add Actor runtime core components to sdk."
Add following runtime components to SDK:
1. Actor registration.
2. Actor activation/deactivation.
3. Method invocation.
4. Reminder/Timer firing.
5. Actor state management.
6. Add routes for activation, deactivation, method, reminder, timer invocation.

[2019-07-18 20:00] #1 closed, assigned to amanbha

[2019-07-22 18:29] lukekim opened #8 "Create test infrastructure for testing CS SDK with Dapr"

[2019-07-22 18:31] lukekim opened #9 "Add integration test for C# actor runtime components with Dapr runtime"

[2019-07-26 16:35] msfussell opened #10 "Create preview kit for private preview release"

[2019-08-14 04:55] yaron2 opened #14 "Create README"

[2019-08-15 03:18] amanbha opened #15 "Build only for .net core 3.0"
**Proposal:** This is the proposal to build cs-sdk for .netcore 3.0 only
This would put us on the most latest release for .netcore.

**What it means for users:** This would mean that user applications have to be built with .netcore 3.0. They will not be able to build full framework version.

**What it means for partners during private preview:** Since .netcore 3.0 is in preview, partners will have

[2019-08-17 18:08] amanbha opened #17 "Enable non-RPC method calls using ActorProxy."
Add non-RPC calls using ActorProxy., this allows for cross-language/direct-http of Actors methods.

[2019-08-19 23:39] #3 closed, assigned to lukekim

[2019-08-20 01:55] #2 closed, assigned to lukekim, youngbupark

[2019-08-26 16:30] amanbha opened #25 "Split nuget package into Actors and Actors.AspNetcore"
Split nuget package into Actors and Actors.AspNetcore so that client side code doesn't need to depend on AspNetcore.

[2019-08-26 16:31] amanbha opened #26 "Create documentation to show usage of cs-sdk for actors"

[2019-08-26 20:01] youngbupark opened #27 "Change repo name from cs-sdk to dotnet-sdk"
Regardless of language, anyone who use dotnet core can use dapr cs-sdk so it makes sense to rename the repo from cs-sdk to dotnet-sdk

[2019-08-28 00:36] #5 closed, assigned to shalabhms

[2019-08-28 00:38] #25 closed, assigned to amanbha

[2019-08-28 00:38] #17 closed, assigned to amanbha

[2019-08-28 00:39] #7 closed, assigned to amanbha

[2019-08-28 17:52] #27 closed, assigned to youngbupark

[2019-08-28 19:51] amanbha opened #30 "Merge Actor activation and first method/reminder call to user service."
Handle the changes in SDK for runtime behavior change https://github.com/actionscore/actions/issues/219

[2019-08-28 21:53] #30 closed, assigned to amanbha

[2019-08-29 00:08] shalabhms opened #31 "Throw unwrapped exception instead of Aggregate Exception"
Currently in the actor remoting based request,  the exception is thrown as Aggregate exception which is not adhering to new async/await pattern.  The exception should be thrown as unwrapped to the client.

[2019-08-29 17:19] #31 closed, assigned to nobody

[2019-08-29 23:37] #14 closed, assigned to youngbupark

[2019-08-30 16:43] amanbha opened #37 "Throw a custom Exception in Remoting, inner exception will be the serialized exception from user service code."
currently the code throws the exception directly on the client side which rewrites the call stack, the code should wrap the exception in another Exception.
Alternatively an Aggregate Exception can also be thrown with the actual exception as its inner exception. Since user code awaits on tasks, throwing AggregateExceptions will not be right thing to do as await should not throw AggregateException a

[2019-08-30 16:44] #26 closed, assigned to amanbha, youngbupark, shalabhms

[2019-08-30 18:06] amanbha opened #38 "Update nuget package versions"

[2019-09-01 03:12] #38 closed, assigned to nobody

[2019-09-01 03:14] amanbha opened #41 "NonRemoting calls: Write exception from Actor method invocation in response body"
NonRemoting calls: Write exception from Actor method invocation in response body

[2019-09-01 03:19] amanbha opened #44 "Handle state deserialization from base64 encoded string for data contact serialization."

[2019-09-01 03:22] #41 closed, assigned to nobody

[2019-09-01 03:38] #44 closed, assigned to nobody

[2019-09-02 14:57] #37 closed, assigned to shalabhms

[2019-09-04 00:15] amanbha opened #46 "Add retry for exceptions for remoting calls."

[2019-09-04 17:12] youngbupark opened #47 "Adopt open-telemetry to dotnet sdk"
it is good to consider using [open-telemetry](https://opentelemetry.io/) in dotnet-sdk; open-telemetry for dot-net sdk - https://github.com/open-telemetry/opentelemetry-dotnet

Note: open-telemetry is new telemetry library which replaces open-census and open-tracing. open-census and open-tracing projects will be deprecated soon.

[2019-09-04 20:17] #10 closed, assigned to amanbha, youngbupark, likamrat

[2019-09-06 18:57] amanbha opened #49 "Use Exists api for granular state management to determine of a state exists."

[2019-09-06 18:59] amanbha opened #50 "Integrate reentrancy for Actors in C# sdk when implemented in Dapr runtime."
needs runtime support https://github.com/dapr/dapr/issues/21

[2019-09-06 19:00] amanbha opened #51 "Allow users to plug-in custom serialization for remoting calls."

[2019-09-06 19:00] amanbha opened #52 "Allow users to provide custom serializer foractor states,"

[2019-09-06 19:02] amanbha opened #53 "Remove Query all statenames from IActorStateManager because it does not behave as expected"
need support from runtime  https://github.com/dapr/dapr/issues/27

[2019-09-09 18:27] amanbha opened #54 "Extend Distributed Tracing Header into Actor SDK."
This allows calls into actors sdk to participate into Distributed Tracing.

[2019-09-10 02:48] amanbha opened #55 "Support CancellationToken for Remoting calls"
Support CancellationToken in actor method calls with remoting. When CancellationToken is cancelled on the client side, the cnacellation token in remote method should be cancelled as well.

[2019-09-17 23:41] youngbupark opened #57 "Publish nuget package to nuget.org for public preview"
For public preview, we need to publish nuget pkg to nuget.org.

* [ ] - Review OSS pkg release - https://devdiv.visualstudio.com/DevDiv/_wiki/wikis/DevDiv.wiki?pagePath=%2FProduct%20Development%20Reference%2FNuGet&pageId=972&wikiVersion=GBwikiMaster
* [ ] - Publish nuget package to nuget.org

[2019-09-19 16:10] #54 closed, assigned to nobody

[2019-09-24 21:17] amanbha opened #58 "Serialize actor state as json by default"
Serialize actor state as json by default, currently the state is DataContract serializable to follow the Service Fabric reliable Actor models. Change the behavior to serialize state as json and consider adding a compatibility option as an attribute on Actor type for allowing Data Contract serialization for state so that SF Reliable Actors can also run using Dapr

[2019-09-28 15:10] amanbha opened #59 "Remove usage of Newtonsoft.Json and use System.Text.Json"
after move to .netcore 3.0, remove usage of NewtonsoftJson and use System.Text.Json so that Microsoft.Actions.Actors package has no external pkg dependency.

[2019-10-01 17:57] #15 closed, assigned to amanbha

[2019-10-02 17:12] amanbha opened #62 "Modify code to use new name dapr"

[2019-10-02 23:01] #62 closed, assigned to nobody

[2019-10-04 18:21] amanbha opened #66 "Handle exceptions in non-remoting calls using proxy."

[2019-10-05 00:00] youngbupark opened #67 "ESRP signing step is not working after installing dotnetcore 3.0"
ESRP signing is broken because ESRP package is using dotnet core 2.0.

[2019-10-05 15:38] #67 closed, assigned to youngbupark

[2019-10-05 23:07] #66 closed, assigned to amanbha

[2019-10-07 02:34] amanbha opened #72 "Update AspnetCore integration to handle namechange"
Update AspnetCore integration to handle namechange

[2019-10-07 02:35] #72 closed, assigned to amanbha

[2019-10-07 02:36] amanbha opened #73 "Update Gettting started and aspnetcore samples for name change"

[2019-10-07 19:05] amanbha opened #74 "Handle Cloud Events from dapr in aspnetcore integration"
Dapr sends events for topics in a cloudevent format, aspnetcore integration should handle it.

[2019-10-07 21:04] #73 closed, assigned to amanbha

[2019-10-07 23:31] youngbupark opened #77 "Change projectUrl in nuspec files once Dapr goes public"
Change projecturl to `https://github.com/dapr`

https://github.com/dapr/dotnet-sdk/blob/7c74ed90c444daab72ce5dd4f62b3d66861a5800/src/Microsoft.Dapr.Actors.AspNetCore/nuspec/Microsoft.Dapr.Actors.AspNetCore.nuspec#L10

https://github.com/dapr/dotnet-sdk/blob/7c74ed90c444daab72ce5dd4f62b3d66861a5800/src/Microsoft.Dapr.AspNetCore/nuspec/Microsoft.Dapr.AspNetCore.nuspec#L10

[2019-10-08 21:27] amanbha opened #80 "Update license to MIT in all .cs files"

[2019-10-08 21:54] #80 closed, assigned to amanbha

[2019-10-10 22:34] amanbha opened #85 "Handle SaveState correctly when an actor method throws an exception."

[2019-10-10 22:35] #85 closed, assigned to amanbha

[2019-10-11 18:37] amanbha opened #90 "Change namespace, assembly & package to Dapr.*"
Change namespace, assembly & package to Dapr.* from Microsoft.Dapr.*

[2019-10-12 23:43] rynowak opened #91 "Relationship with cloudevents/sdk-csharp"
I'm digging through https://github.com/dapr/dotnet-sdk/issues/74 - and there's a bunch of non-trivial stuff that CloudEvents do.

It's going to be easy to do #74 because the scope is very limited - but for the longer term, have you had any conversations with the maintainers of that project? Someone who *wants* to process CloudEvents other than their payload will likely end up using it - I'm hoping

[2019-10-12 23:47] rynowak opened #92 "Moar gRPC?"
Now that we've got a gRPC client - do we want to take a more thorough look at the experience for ASP.NET Core + gRPC + Dapr? I happen to [know a guy](https://ndcsydney.com/talk/grpc-for-asp-net-core-a-new-framework-for-lightspeed-web-apis/).

At this minimum this would probably be a review of some of the practices + more samples, at the maximum we might identify more features and integration point

[2019-10-13 03:25] #74 closed, assigned to rynowak

[2019-10-14 06:28] yaron2 opened #96 "Samples - Add k8s deployment yaml to demoactor sample"
It'd be helpful to create a Dockerfile and detail how one goes about building the C# actor into a Docker image and then deploying it to Kubernetes with Dapr.

[2019-10-14 15:53] #90 closed, assigned to nobody

[2019-10-14 15:54] amanbha opened #98 "Update icons in nugets to dapr icon"
Update icons in nugets to dapr icon

[2019-10-14 16:29] #98 closed, assigned to amanbha

[2019-10-14 16:30] #77 closed, assigned to amanbha

[2019-10-14 17:47] shalabhms opened #99 "Scan the Issues/Pull Requests and code for any offensive terms in the context"
Run tools to scan for offensive terms in every context and triage the term if found and correct it.

[2019-10-14 17:48] #99 closed, assigned to shalabhms

[2019-10-14 18:21] amanbha opened #100 "Remove signing for binaries and nugets"

[2019-10-14 18:30] #100 closed, assigned to amanbha

[2019-10-14 20:54] shalabhms opened #103 "Fix Dapr API specifications to point to docs reference"
Fix Dapr API specifications to point to docs reference

[2019-10-14 20:55] #103 closed, assigned to shalabhms

[2019-10-15 03:33] amanbha opened #104 "Add generaetd grpc client and a sample showing its usage."
## Describe the proposal

[2019-10-15 03:38] #104 closed, assigned to amanbha

[2019-10-15 20:55] mattchenderson opened #106 "Rename UseCloudEvents()"
Cloud Events is an established CNCF sandbox project: https://cloudevents.io/

The method here has nothing to do with this and only creates confusion. It should be renamed.

[2019-10-15 22:11] #106 closed, assigned to nobody

[2019-10-17 17:50] shalabhms commented on #103
@shaggygi , thanks for reporting this issue. This issue is fixed now.

[2019-10-18 22:18] philliphoff opened #112 "Unable to reference Dapr.Client or Dapr.AspNetCore due to use of netstandard3.0"
## Expected Behavior

The reference is added, the package is restored, and the library can be built.

## Actual Behavior

The reference is not added, failing with the error:

[code]

The issue appears to be due to the fact that `Dapr.Client` assemblies are added to the NuGet package in the `netstandard3.0` folder instead of `netcoreapp3.0` folder (despite being built as `netcoreapp3.0` assemblies)

[2019-10-18 22:41] youngbupark commented on #112
cc/ @amanbha @shalabhms

[2019-10-18 23:53] amanbha commented on #112
@philliphoff  Thansk for reporting the issue.
I have uploaded new packages https://www.nuget.org/packages/Dapr.AspNetCore/0.1.0-preview02
These are being indexed now and should be available soon

[2019-10-19 00:06] #112 closed

[2019-10-19 04:38] davidfowl commented on #112
@amanbha Why are we using exact version ranges? We shouldn't be. I'll open an issue for that.

[2019-10-19 04:40] davidfowl opened #114 "Dapr.AspNetCore uses exact version ranges"
https://www.nuget.org/packages/Dapr.AspNetCore/0.1.0-preview02

![image](https://user-images.githubusercontent.com/95136/67137807-d4bacb00-f1ef-11e9-903a-540bd036c8a0.png)

It should be a minimum version like the rest.

[2019-10-19 04:44] amanbha commented on #112
Sure, makes sense.

[2019-10-19 16:12] #57 closed

[2019-10-21 01:56] ElderJames opened #117 "error finding address for actor type DemoActor with id abc"
service output:

[code]

client output:
[code]

[2019-10-21 02:33] amanbha commented on #117
Is something else running on port 3500? Did you run some other sample before this and that's still running?

[2019-10-21 03:12] ElderJames commented on #117
I'm afraid not, because dapr is working.

[2019-10-21 03:57] ElderJames opened #118 "Please use .NET Standard for abstracts libraries"
## Describe the proposal

I think there only ASP.NET Core depend the .net core 3.0, but as the clear architecture, developers prefer to put the interfaces and other abstracts to a single library using .net standard.

[2019-10-21 04:03] davidfowl commented on #118
Which interfaces?

[2019-10-21 04:56] ElderJames commented on #118
Like `IActor`,`Actor` and `ActorId` etc.

[2019-10-21 09:40] gmanvel opened #119 "Use Array.Empty<> instead of allocating empty arrays"
Use Array.Empty<byte>() for empty byte arrays instead of allocating an empty array.

Examples of this can be found at src/Dapr.Actors/Runtime/ActorManager.cs.

[2019-10-21 13:02] behoyh commented on #51
Does this include users being able to make deserialization as strict or as flexible as desired?

[2019-10-21 16:39] amanbha commented on #117
@ElderJames  I see following error in Dapr logs, so some other instance is listening on the port 3500, could you please check again.
== DAPR == time="2019-10-21T09:49:56+08:00" level=fatal msg="listen tcp4 :3500: bind: Only one usage of each socket address (protocol/network address/port) is normally permitted."

[2019-10-21 16:40] amanbha commented on #51
@behoyh  yes, it would use a user provided Serializer/Deserializer so it can do whatever it wants.

[2019-10-21 16:58] amanbha commented on #118
@ElderJames How would that help, for this SDK, we only want to support .netcore 3.0.

[2019-10-21 16:59] #119 closed

[2019-10-21 17:31] behoyh commented on #51
I have an idea for how this should work... where do you say would be the best step in the Actor process to plug in the serializer?

[2019-10-21 17:38] amanbha commented on #51
@behoyh It would be needed both on the client and service side. On the service side it can be plugged in when (registering the Actor)[https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/ActorRuntime.cs#L45]. On the client side it can be plugged in while creating a ActorProxy. May be we need to introduce a ActorProxyFactory, user will create a ActorPrpoxyFactory  which will take

[2019-10-21 17:42] behoyh commented on #51
Very cool. How does the client register the ActorProxy? It sounds like the client might know too much about the request before it is sent.

[2019-10-21 17:52] amanbha commented on #51
The serializer/deserializer needs to work both for request/response both on client and service side, so we will have to plug them in on both the sides. When you say failed/incomplete warning, is that a compile time or runtime thing?

[2019-10-21 17:56] behoyh commented on #51
Oh right, I see it now. Would the serializer be required if there was deserializer specified?

Ideally I would have that as a runtime thing in Prometheus format and allow a separate structured logger pick it up.

[2019-10-21 18:14] amanbha commented on #51
Yes both the things will be required.
The flow would be:
1. Serialize on Client side and send the request.
2. On the service side, deserialize the request and call method on actor.
3. Get the return value(or exception) from actor method, serialize and send it as response to client.
4. On the client side, get the response, deserialize to return type (or exception) and  give it to user code.

[2019-10-21 18:42] philliphoff commented on #112
Thanks for the quick turnaround!

[2019-10-21 18:56] behoyh commented on #51
Got it. I will aim at implementing this!

[2019-10-21 19:12] amanbha commented on #51
Great, thanks, looking forward tot he contribution!

[2019-10-21 20:53] loic-sharma commented on #118
That means .NET Framework customers cannot use this project. Is that intended?

[2019-10-21 21:55] amanbha commented on #118
Yes, that's intended

[2019-10-21 23:04] shaggygi opened #123 "Consider using xUnit as testing framework"
It seems like xUnit would be a better choice for testing, especially since other main .NET repos are using (e.g. corefx, iot, etc.).  Would it be possible to convert before too many tests are created?

[2019-10-21 23:27] amanbha commented on #123
@shaggygi Could you please share why xUnit would be better, may be share some benefits over what we have today? That would help us make a educated decision.

[2019-10-21 23:28] shaggygi opened #124 "Use editorconfig and remove Stylecop.Analyzers dependency"
It might be better to use Microsoft.CodeAnalysis.FxCopAnalyzers instead of the StyleCop.Analyzers package.

Don't get me wrong as I've used StyleCop.Analyzers in many projects and is very helpful.  It just appears Microsoft.CodeAnalysis.FxCopAnalyzers is the future direction IMHO.

Referencing...  https://github.com/dotnet/roslyn-analyzers

[2019-10-21 23:40] shaggygi commented on #123
@amanbha This probably comes down to my experience while working on projects (both for employer and GitHub), so don't let me sway if the core dapr team already has experience/decision to use the current test framework.  I've also used NUnit, but as mentioned, it appears xUnit has a good traction in the wild and is used by many of the core .NET repos like Roslyn and such.

I'm sure they all have si

[2019-10-21 23:44] #118 closed

[2019-10-22 00:00] amanbha commented on #124
@shaggygi Thansk for suggesting this, it would be a good idea. Do you have suggestion for some subset of categories rules to enable in first iteration and then make it stricter it overtime. Based on my experience with StylecopAnalyzer, turning all the rules in first iteration would be too many issues.

[2019-10-22 00:05] shaggygi commented on #124
Not at the moment, but could review in the near future.  I'm cc-ing @sharwell as he is the creator of StyleCop.Analyzers and now works on the Roslyn team.  He might be able to provide some initial content to get started.

[2019-10-22 00:05] amanbha commented on #123
@shaggygi I don't have strong preference for xunit or mstest, If xunit is more preferable by community and makes the life easier then sure, lets use it.

[2019-10-22 00:09] shaggygi commented on #123
@amanbha thank you for being flexible.  If you don't mind, let me add the xunit packages while I'm working on #121.  I don't think there should be any conflicts with both.  This would allow you to review the PR and if all good, I can circle back and update the current tests with xunit and remove the older package dependencies.  Thoughts?

[2019-10-22 00:10] amanbha commented on #123
Would there be an issue with 2 different Adapters? I believe it should be fine, You can go ahead and make the changes to all.

[2019-10-22 02:56] sharwell commented on #124
These are two different products serving two different needs. They can be used separately or together depending on the specific goals of the project.

[2019-10-22 17:01] amanbha commented on #117
@ElderJames  I am closing it based on the error in the logs pasted above as it looks like you have somethign else listening on port 3500.  Please feel free to reopen if you need more help from us.

[2019-10-22 17:01] #117 closed

[2019-10-22 19:32] gmanvel commented on #59
Should this porting guide be used when replacing ?
https://github.com/dotnet/corefx/blob/61024c30b966ee63c357a491370a2daf94c4c42f/src/System.Text.Json/porting_guide/README.md

[2019-10-22 19:43] gmanvel opened #125 "JsonReaderExtensions.ReadValueAsTimeSpanDaprFormat should return TimeSpan instead of TimeSpan?"
JsonReaderExtensions.ReadValueAsTimeSpanDaprFormat method signature is the following

`public static TimeSpan? ReadValueAsTimeSpanDaprFormat(this JsonReader reader)`

It initializes return value to null at the begging of the method:
`TimeSpan? value = null;`

DueTime & Period properties of ReminderInfo are non nullable TimeSpan, so even if they're not set, TimeSpan.Zero will be used & serialized.

[2019-10-22 23:29] #123 closed

[2019-10-23 04:32] rynowak commented on #124
I'd suggest editorconfig **enthusiastically** over stylecop. The IDE has really rich support for editorconfig, and it supports running formatting with a command line tool (`dotnet format`).

When I saw that this repo was using Stylecop, it was like being transported back in time 😆

[2019-10-23 04:33] rynowak commented on #125
@gmanvel - are you saying there's a functional bug here? What would a repo for that bug look like?

[2019-10-23 08:53] gmanvel commented on #125
@rynowak if `reader.ReadValueAsTimeSpanDaprFormat();` returns null, then `dueTime = (TimeSpan)reader.ReadValueAsTimeSpanDaprFormat();` will throw an exception.

I also can't see in which case [JsonReaderExtensions.ReadValueAsTimeSpanDaprFormat](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/JsonReaderExtensions.cs#L387) will return null, so I think this can be simplified to return

[2019-10-23 14:41] RicardoNiepel opened #129 "Void methods on actors cannot be deserialized"
## Expected Behavior

Methods on actors don't need to return anything.

## Actual Behavior

If using the strongly typed ActorProxy, the following exception is thrown: "System.Runtime.Serialization.SerializationException: There was an error deserializing the object of type WrappedMessageBody. Unexpected end of file. Following elements are not closed: ."

## Steps to Reproduce the Problem

Using voi

[2019-10-23 15:26] amanbha commented on #129
Thanks for reporting it @RicardoNiepel, we will take a look at it.

[2019-10-23 15:38] msfussell opened #130 "Curl samples are incorrect"
## Expected Behavior
Curl examples on this page are wrong https://github.com/dapr/dotnet-sdk/tree/master/samples/Actor

## Actual Behavior
Should be for Windows (also need to fix Linux)

curl -X POST http://localhost:3500/v1.0/actors/DemoActor/abc/method/SaveData -d "{ \"PropertyA\": \"A\", \"PropertyB\": \"B\" }"
"Success"

curl -X POST http://localhost:3500/v1.0/actors/DemoActor/abc/method/GetDa

[2019-10-24 01:06] amanbha commented on #129
@RicardoNiepel  I am not able to repro this, I am adding this scenario to the sample which is checked in this PR https://github.com/dapr/dotnet-sdk/pull/132

[2019-10-24 02:48] amanbha opened #133 "use github actions for CI"
use github actions for CI

[2019-10-24 03:00] #133 closed

[2019-10-24 12:51] #125 closed

[2019-10-24 14:13] RicardoNiepel commented on #129
I've tried to build a repo but this doesn't show up again.
Close it for now and reopen it with a repo next time.

[2019-10-24 14:13] #129 closed

[2019-10-24 15:51] sharwell commented on #124
@rynowak StyleCop Analyzers is not StyleCop.

[2019-10-24 19:04] gmanvel opened #134 "Remove usage of string.Substring and use Span API instead"
[JsonReaderExtensions.ReadValueAsTimeSpanDaprFormat](https://github.com/dapr/dotnet-sdk/blob/df58a98be9cfb5c7ea3b633be3ac2e28494c93cb/src/Dapr.Actors/JsonReaderExtensions.cs#L387) uses substrings to parse Dapr format TimeSpan string.
Change the method to make use of Span API.

[2019-10-24 19:17] gmanvel opened #136 "Redundant null checks in ActorTimer"
ActorTimer.cs `SerializeToJson` method has redundant null checks:
DueTime property -> [https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/ActorTimer.cs#L50](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/ActorTimer.cs#L50)
Period property -> [https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/ActorTimer.cs#L55](https://github.com/dapr

[2019-10-24 20:58] #136 closed

[2019-10-24 21:58] philliphoff opened #138 "Request body deserialization failure when calling actor from Dapr-enabled service"
## Expected Behavior

Assume an actor (A1) is registered with Dapr-enabled service (S1).
Assume another Dapr-enabled service (S2) calls actor (A1) when invoked via client (C1).

The expectation is that the call to actor A1 succeeds.

## Actual Behavior

The call to actor A1 fails in service (S1) with a request body deserialization error:

[code]

## Steps to Reproduce the Problem

1. Extract the a

[2019-10-24 23:31] amanbha commented on #138
@philliphoff  Thanks for reporting it,  Could you please share what was your response body?
Our samples make similar calls https://github.com/dapr/dotnet-sdk/blob/master/samples/Actor/Readme.md

[2019-10-25 00:19] philliphoff commented on #138
@amanbha The request body (of the call being made into the actor service) looks similar to:

[code]

Note that the sample makes calls into the actor service from a non-Dapr-enabled console application, which does not exhibit this behavior; to reproduce the issue, the service making the call to the actor service must, itself, be within the context of Dapr.

[2019-10-25 00:26] amanbha commented on #138
I see, For invocation without Remoting directly over http, it  has to be json. The server side deserializes the json and uses that as the actor method argument.
https://github.com/dapr/dotnet-sdk/blob/master/docs/get-started-dapr-actor.md#invoke-actor-method-without-actor-service-remoting

[2019-10-25 03:54] philliphoff commented on #138
@amanbha In my scenario (and the repro solution), the strongly-typed remoting API is used.  In any. case, since the solution is using the .NET SDKs on both sides, how the call is made is completely opaque to the business logic.

[2019-10-25 04:03] amanbha commented on #138
Oh ok,. The repro steps shows invoking directly over http without remoting. I will take a look at your sample code also.

[2019-10-25 04:26] philliphoff commented on #138
@amanbha Sorry, I probably could have been more clear.  The HTTP call is being made to a Dapr service which is then invoking an actor in *another* Dapr service (which fails).

Fails: `Client C1 --> Dapr --> Service S2 --> Dapr --> Service S1 with actor A1`

Works: `Client C1 --> Service S2 --> Dapr --> Service S1 with actor A1`
Works: `Client C1 --> Dapr --> Service S1 with actor A1`

[2019-10-25 18:33] #134 closed

[2019-10-28 01:20] #114 closed

[2019-10-28 21:20] amanbha commented on #138
@philliphoff  Its because because the [header](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Constants.cs#L14) which client side adds to signify its a remoting call is missing when it comes to the server side, so it gets treated as a [non-remoting call](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors.AspNetCore/RouterBuilderExtensions.cs#L58), let me debug it furthe

[2019-10-29 22:33] RicardoNiepel opened #141 "Missing debug documentation"
Currently, information about starting and debugging (multiple) Dapr apps from Visual Studio and Visual Studio Code is missing and should be provided.

(outcome from a discussion at https://gitter.im/Dapr/community @LukePammant @lynn-orrell)

[2019-10-30 11:05] RicardoNiepel opened #142 "ETag usage"
I cannot find any usage of etag fields or headers in the codebase, but for my understanding this should be used.

E.g.
- for actors reminders, see dapr/dapr#677 and dapr/docs#211
- for state, see https://github.com/dapr/docs/blob/master/reference/api/state.md

[2019-10-30 15:13] amanbha commented on #142
Yes, for state management it should be exposed.

[2019-10-30 18:24] RicardoNiepel commented on #142
I can do this, if you've not already started

[2019-10-30 19:24] amanbha commented on #142
Sure, thanks, please assign it to yourself.

[2019-10-30 20:01] amanbha commented on #141
@RicardoNiepel currently we don't have any tooling integration, but for debugging you can attach to user app process after it's launched by Dapr cli

[2019-10-30 21:52] amanbha commented on #138
Investigated further and created Daprd issue: https://github.com/dapr/dapr/issues/717

[2019-10-30 22:58] philliphoff commented on #141
I've been doing some Dapr application building in VS Code and am using the following running/debugging pattern.  It's a bit tedious to setup and manage with a lot of services (I'm up to 9 services so far), but it works well enough for now.

 - When needing to simply run a service (e.g. DeckManager):
   - Run the `DeckManager: Launch` task from the command palette
     - This will rebuild the servi

[2019-11-03 22:56] JamesNK opened #143 "Use Grpc.Net.Client"
This sample - https://github.com/dapr/dotnet-sdk/blob/07fa2c615dd4c5c9df35947f7fc7262d8205ae94/samples/Grpc/GrpcClient/Program.cs#L33 - is using Grpc.Core as the client.

Consider removing `Grpc` and `Grpc.Core` package references and use `Grpc.Net.Client` as the client. `Grpc.Net.Client`, unlike `Grpc.Core`, doesn't have any native dependencies.

To call unsecured services, set an AppContext flag

[2019-11-03 22:58] JamesNK opened #144 "Async main in console"
Is there a reason why the Main method here is not async?

https://github.com/dapr/dotnet-sdk/blob/07fa2c615dd4c5c9df35947f7fc7262d8205ae94/samples/Grpc/GrpcClient/Program.cs

Making this method async will allow you to replace `.GetAwaiter().GetResult();` with `await`.

Details: https://blogs.msdn.microsoft.com/mazhou/2017/05/30/c-7-series-part-2-async-main/

[2019-11-04 00:28] amanbha commented on #144
No specific reason, yes, It can be made async.

[2019-11-05 03:32] #143 closed

[2019-11-05 03:32] #144 closed

[2019-11-05 03:40] rynowak opened #146 "AddDapr() should return IMvcBuilder instead of void"
## Expected Behavior

It's conventional with MVC builder methods to return the `IMvcBuilder` to support chaining. We forgot this on `AddDapr().

**Compiles**

[code]

**Doesn't compile**

[code]

This was just missed while building this out. I'd be happy to send a PR

[2019-11-05 04:00] amanbha commented on #146
Thanks @rynowak I have assigned it to you.

[2019-11-07 18:00] #146 closed

[2019-11-07 18:55] rynowak commented on #124
and I'm suggesting using neither 😆

[2019-11-07 19:41] rynowak commented on #124
@sharwell - thanks for reaching out to me offline.

The StyleCop analyzers add some features that editorconfig doesn't support, as well as the ability to enforce style rules at build time.

My feedback was mostly about:
- StyleCop's default rules, which doesn't match the style of most .NET OSS today
- Breaking the build for style validation (which I think can become warnings instead)

I'd suggest

[2019-11-09 21:27] davidfowl opened #148 "Improve actor method invocation performance and flexibility"
ASP.NET Core uses a type called [ObjectMethodExecutor](https://github.com/aspnet/AspNetCore/tree/dbba49cc256ef2ac0d4cc94cfd0e256d70dfea46/src/Shared/ObjectMethodExecutor) to generate efficient code for calling methods that take any arguments and return any result (async or not). It's pretty hardened and should be used instead of the raw method info to dispatch to actor methods.

cc @amanbha

[2019-11-13 12:14] DavidHoerster opened #149 "UnregisterTimerAsync Throws ServerErrorNoMeaningFulResponse"
## Expected Behavior

Calling `await UnregisterTimerAsync`, passing in either the timer name or the reference to the timer, I expect that the timer should be unregistered and not continue firing. It should not throw an exception.

## Actual Behavior

Calling `await UnregisterTimerAsync`, passing either the timer name (`string`) or the reference to the timer (`IActorTimer`), an exception of type `S

[2019-11-14 05:20] amanbha commented on #138
Issue in Dapr runtime is fixed and will be available in 0.2.0 release which is planned for later this week.

[2019-11-14 05:20] #138 closed

[2019-11-16 06:14] rynowak opened #155 "Dapr dotnet-sdk libraries have Stylecop.Analyzers as a public dependency"
## Expected Behavior

Using `Stylecop.Analyzers` is an implementation detail of this repo, users of the Dapr packages shouldn't automatically get stylecop as a dependency.

## Actual Behavior

Since `Stylecop.Analyzers` is a public dependency of the `Dapr` packages, anyone referencing Dapr gets it included. In my project I now have 400+ warnings 😆

## Steps to Reproduce the Problem

Create a proje

[2019-11-17 00:28] rynowak commented on #155
Temporary workaround:

[code]

[2019-11-18 17:39] #155 closed

[2019-11-18 17:41] amanbha commented on #155
@rynowak I just merged your PR, I will release updated nugets based on this.

[2019-11-18 17:55] rynowak commented on #155
Thanks!

[2019-11-18 18:08] Shawn-Fan opened #159 "Problem in running "Dapr Actor Sample""
When I follow the instruction to run dotnet-sdk/samples/Actor on local dev machine at the first time, everything looks fine.  it looks like dapr should be running based on the docker container.
Recently, the code can not work, I try to figure it out. the strange thing is that dapr can work even without docker!! can you let me know how can i check if the dapr works properly or not?

[2019-11-18 18:48] amanbha commented on #159
@Shawn-Fan Dapr runtime can run without docker, however for local Actor development you need docker as it runs a placement service(used by Actors) in a docker container. It also runs a redis docker container which is used by default by dapr cli to provide state & pubsub capabilities.
Could you pleases explain specific issues you are running into?

[2019-11-18 20:13] Shawn-Fan commented on #159
The problem is for the example code under "dotnet-sdk/samples/Actor/"folder. At the first time, it can be run on the local dev machine when docker is running(The command "daps run --port 3500 --app-id demo_actor --app-port 5000 dotnet run " can be excuted successful), Actor service works fine, Actorclient running well. Without running docker, actor service and actor client can not work properly.
B

[2019-11-18 20:23] amanbha commented on #159
@Shawn-Fan  for using Actors, you would need placement service. And by placement service is setup to run in a docker container when you do dapr init. Without the placement service, clients will not be able to discover service which hosts an actor type.

[2019-11-18 21:05] Shawn-Fan commented on #159
@amanbha

Fallowng is the exciting result:
docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                      NAMES
77d38ee4b04b        daprio/dapr         "./placement"            4 hours ago         Up 9 seconds        0.0.0.0:50005->50005/tcp   dapr_placement
41de22934a5d        redis               "docker-entrypoint.s…"

[2019-11-18 21:20] amanbha commented on #159
@Shawn-Fan  Thanks for reporting the issue, I believe the sample doc is slightly incorrect as the app is running on port 5001. I will update it. Could you please try and run the actor service as dapr run --port 3500 --app-id demo_actor --app-port 5001 dotnet run

[2019-11-18 21:42] Shawn-Fan commented on #159
Thanks! It works.

[2019-11-18 21:53] codeputer commented on #159
Why would the application run on 5001 when the app-port was specified as 5000?

Just a question as I was playing with this the other day, and noticed that I only got a response on 5001...

In the documentation I always try and document the why, not the how.  For example,
Because the -app_port number is set to 5000, interaction will occur.
So
dapr run --port 3500 --app-id demo_actor --app-port 5001

[2019-11-18 22:03] amanbha commented on #159
@codeputer I believe you wanted to say Dapr instead of Docker.
The app-port is the parameter to tell Dapr on what port the application will be listening.
Dapr and app both communicate with each other over http/grpc. --port is the port used by dapr for its http server. --app-port is the port at which app will be listening.

[2019-11-18 22:04] #159 closed

[2019-11-18 22:14] codeputer commented on #159
Thanks and your right - I meant Dapr...

So why would the application respond on  5001 when the app-port was specified to be 5000

Did I miss something?

R

From: Aman Bhardwaj <notifications@github.com>
Sent: November 18, 2019 3:04 PM
To: dapr/dotnet-sdk <dotnet-sdk@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dapr/dotnet-sdk]

[2019-11-18 22:35] amanbha commented on #159
@codeputer --app-port is just telling dapr that application will be listening on 5001, its not configuring app to run on 5001. The port logic is for the application to decide. For more info, please see: https://github.com/dapr/cli#launch-dapr-and-your-app

[2019-11-19 07:20] philliphoff opened #164 "Allow actor type be specified during registration"
Currently actors are registered via:

[code]
The "type" of the registered actor is inferred from the actor implementation class name.  However, clients of the actor must specify the same type string when invoking actor methods.  This makes the implementation class name an implicit component of the actor contract, subject to the risk of breaking the contract due to an innocent refactoring of the im

[2019-11-19 17:31] amanbha commented on #164
@philliphoff This sounds good. Would you like to do a PR for this?

[2019-11-19 18:21] philliphoff commented on #164
Sure!

[2019-11-21 15:43] Shawn-Fan opened #167 "Example Project"
It looks like too early to ask this question, but I am still wondering if you guys have a road map for a n example application like "dotnet-architecture/eShopOnContainers" ?

[2019-11-21 17:38] amanbha commented on #167
@Shawn-Fan  This is currently not on our roadmap. If you want to try and help the project with the port, it would be really appreciated by the team.

[2019-11-22 02:09] shaggygi opened #170 "Update description for repo"
Description for this repo should be...

"Dapr SDK for .NET"

instead of...

"Dapr SDK for .Net"

[2019-11-22 16:18] Shawn-Fan commented on #167
Thanks in advance

[2019-11-22 17:17] amanbha commented on #170
Updated.

[2019-11-22 17:17] #170 closed

[2019-11-22 20:37] #164 closed

[2019-11-24 16:00] shaggygi commented on #167
Not .NET, but referencing... [How to get the App running on dapr?](https://github.com/dapr/dapr/issues/774) and [microservices-demo](https://github.com/GoogleCloudPlatform/microservices-demo).

[2019-11-24 17:18] Xorpio opened #171 "Dependency injection for Actors"
Ass the basis of the Actor project is a .net core webapp we should be able to use the asp.net Dependecy Injection framework. However if you try to use it now the ActorService cannot create the Actor as it is not setup to create actors with other constructors.
see:
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/ActorService.cs#L43

[2019-11-24 20:14] Shawn-Fan commented on #167
@shaggygi Sound exciting, Polyglot reactive microservices in the future. Any plan yet?

[2019-11-25 17:29] amanbha commented on #171
@Xorpio When you register your actor, you can provide a Func to create Actor instances, it will be sued to create your actor instances, you can inject through this Func.
`actorRuntime.RegisterActor<DemoActor>(
                (type) =>
                new ActorService(type, (actorService, actorId) =>
                new DemoActor(actorService, actorId)));`

[2019-11-25 17:43] amanbha commented on #167
@shaggygi  & @Shawn-Fan Polyglot would be a good sample, Could you please open it in samples repo, this repo is for dotnet sdk only.

[2019-11-25 17:52] Shawn-Fan commented on #167
Sorry, @amanbha, Please close this topic.

[2019-11-25 18:04] #167 closed

[2019-11-25 18:25] Xorpio commented on #171
Great! Missed that one. Works like a charm. Thanks!

[2019-11-26 02:28] Xorpio opened #173 "Make it possible to create unit tests for Actors"
Right now i can't create a actor inside a unit test. Take the following Actor code for example

    public class TestActor : Actor
    {
        public TestActor(ActorService actorService, ActorId actorId) : base(actorService, actorId)
        {
        }

        public async Task<string> GetString()
        {
            return await StateManager.GetStateAsync<string>("Test");
        }
    }
An

[2019-12-03 22:13] #149 closed

[2019-12-03 22:30] amanbha opened #177 "DemoActor calling RegisterRemind start to error on each remind"
Cloning from dapr repo to dotnet-sdk repo
https://github.com/dapr/dapr/issues/864

What version of Dapr?
0.2.x

Expected Behavior
After Registering a reminder, the ReceiveReminder executes without error

Actual Behavior
Solution works great, however, as soon as a reminder is added, the ReceiverReminder fails each time it's invoked. - see attached screen shots of console log

Steps to Reproduce the

[2019-12-03 22:55] amanbha commented on #177
cc @codeputer Thanks for reporting the issue,
I looked at it, the issue is happening because ReminderInfo is serialized synchronously and aspnetcore 3.0 disallows it by default.
I will update the code to async deserializtion.

To unblock, you can change the code where AspNetCore WebHost is created to allow Synchronous IO

Add to `.ConfigureKestrel(options => options.AllowSynchronousIO = true)` to

[2019-12-03 23:11] codeputer commented on #177
I tried this in the ConfigureServices....

   public void ConfigureServices(IServiceCollection services)
    {
      services.AddRouting();
      services.Configure<IISServerOptions>(options =>
      {
        options.AllowSynchronousIO = true;
      });
    }

but as far as I can tell, it didn't have any effect

[2019-12-03 23:14] amanbha commented on #177
@codeputer Could you please try as I suggested above?

[2019-12-03 23:16] codeputer commented on #177
Working on it....

From: Aman Bhardwaj <notifications@github.com>
Sent: December 3, 2019 4:15 PM
To: dapr/dotnet-sdk <dotnet-sdk@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dapr/dotnet-sdk] DemoActor calling RegisterRemind start to error on each remind (#177)

@codeputer<https://t.sidekickopen09.com/s1t/c/5/f18dQhb0S7lM8dDMPbW2

[2019-12-03 23:59] codeputer commented on #177
I'm not sure what is going on... but I put in the changes you suggested, and got a 502 back
With the as the payload (I'm using fiddler to post )
HTTP/1.1 502 Fiddler - Connection Failed
Date: Tue, 03 Dec 2019 23:52:14 GMT
Content-Type: text/html; charset=UTF-8
Connection: close
Cache-Control: no-cache, must-revalidate
Timestamp: 16:52:14.245

[Fiddler] The connection to 'localhost' failed. <br />E

[2019-12-04 00:22] amanbha commented on #177
@codeputer The screenshots are not attached above, Could you paste them here

[2019-12-04 03:19] amanbha commented on #177
@codeputer I have created the PR to fix this https://github.com/dapr/dotnet-sdk/pull/178
You can checkout branch issue_177 and try

[2019-12-04 06:03] codeputer commented on #177
Thanks - I had to reset docker and few things, still not quite working right, but I will try the branch! thanks.

[2019-12-04 06:51] codeputer commented on #177
My status is at this point ActorClient can invoke DemoActor - which is when I refactored to code to include IRemindable, and things broke.  The fix worked, but my new Actor that I've been testing against is having an issue.  It still unclear to me how the proxy "knows" where the hosting actor in terms of path and port.  Mean time, I'm geting...
HTTP/1.1 500 Internal Server Error
Server: fasthttp
D

[2019-12-04 17:26] amanbha commented on #177
@codeputer The proxy sends the call to Dapr runtime, Dapr runtime has a map of ActorIds and the Actor Service instances which can serve the requests. The map is populated by a placement service. For more info about it, please see https://github.com/dapr/docs/blob/master/concepts/actor/actor_overview.md#distribution-and-failover

Most probably the placement service is not able to talk to Dapr runti

[2019-12-04 18:23] amanbha opened #179 "Make Serialization, Deserialization of ReminderInfo, Timer async"
Making Serialization, Deserialization of ReminderInfo, Timer async and use System.Text.Json for them instead of Newtonsoft

[2019-12-04 19:39] #179 closed

[2019-12-04 19:57] codeputer commented on #177
thanks - I was doing a spike on using Actors with Twilio and what I think is a new way to handle webhooks, and in particular, twilio web hooks.  I'm cleaning up the project as I started it within the dapr branch and got carries away :)   I have to commit to some other work today, but I'll share the repo with  you later... can I send that invite to you directly? I'll need an email via a private cha

[2019-12-04 20:19] amanbha commented on #177
sure, you can send it to me at amanbha@microsoft.com

[2019-12-04 22:15] codeputer commented on #177
I had a good look a that documentation, and I believe I understand how the Actor proxy can find the Actor Implementation (and hence the ActorID) WITHIN a cluster - but what if the Actor client is outside of the cluster?  in my case, I ran the web service as a local IIS service, and it was communicating to the actor in the docker container  Is there something in the web service that points to the p

[2019-12-05 16:57] amanbha commented on #177
@codeputer Actors will be called from other services inside the cluster, so you need another service which has a docker side car running with it and then just use ActorProxy from within that service, it will make calls to Actors through its Dapr side car.

[2019-12-05 17:50] codeputer commented on #177
In my code review last night, I found a couple of errors in my code: 1) in my rework of my project structure, I somehow lost the registration of my own actor, and hence placement services won't know anything about it...a more explicit error message in this regard would be interesting.  The magic string in the proxy call is also something that will cause an issue IMO, and is not emphasized enough i

[2019-12-05 21:05] amanbha commented on #177
@codeputer On your dev machine, the actor proxy call will go to localhost:3500 (by default). So if you had Dapr running on port 3500, it will resolve the ctor correctly.
For missing documentation, please feel free to raise PR or suggest the changes.

[2019-12-05 21:11] amanbha commented on #177
@codeputer Can I close this issue, it should be fixed with latest release. We can open new issue to track if you run into problems with it

[2019-12-05 21:15] amanbha commented on #173
@Xorpio Thanks for reporting. Will using Moq and setting them correctly for ActorService help in this case? Or do you have other suggestions in mind?

[2019-12-05 21:33] codeputer commented on #177
that fine, please close - thanks very much for your help - I've moved to the nuget packages - which I'm assuming has this fix already.  If not, please let me know.

Regards,
Richard

[2019-12-05 21:35] amanbha commented on #177
Sounds good.
Yes, the latest nuget package has the fix. We also released 0.3.0 version of Dapr today, you can update to it as well https://github.com/dapr/dapr/releases/tag/v0.3.0

[2019-12-05 21:35] #177 closed

[2019-12-07 04:16] codeputer opened #182 "Reminder will not restore state correctly - End of Stream encountered exception"
## Expected Behavior
when reminder is activated, the state returned is 9 bytes, the bytes sent was 421 - error on deserialization  - End of stream encountered before parsing was complete....

## Actual Behavior

returned only 9 bytes, then failure

## Steps to Reproduce the Problem

Set a reminder with State over 9 bytes ( mind was 421)
![DaprrRemindIssue](https://user-images.githubusercontent.com

[2019-12-10 00:56] #141 closed

[2019-12-10 16:41] Shawn-Fan commented on #130
I tried the command( in windows 10),
  curl -X POST http://localhost:3500/v1.0/actors/DemoActor/abc/method/SaveData -d "{ "PropertyA": "A", "PropertyB": "B" }"
not working,
but curl -X POST http://localhost:3500/v1.0/actors/DemoActor/abc/method/SaveData -d '{ "PropertyA": "A", "PropertyB": "B" }' works fine except the return value is "null".

[2019-12-10 18:24] Shawn-Fan opened #183 "How to debug in "Invoke Actor method without Remoting over Http"?"
Using the example in "dotnet-sdk/samples/Actor/ActorClient/", I am wondering if it is possible to debug the code by applying curl command "curl -X POST ....." ?

[2019-12-10 18:49] amanbha commented on #183
@Shawn-Fan, when you make curl calls, they will directly go to Dapr runtime which will route it to your actor service. Yes, so you can attach debugger to your Actor Service process.

[2019-12-11 02:40] Shawn-Fan commented on #183
@amanbha , Thanks for quick response. I use vs 2019 but it can not touch the debug point of the source code when I run curl command, could you let me know the right way?

[2019-12-11 17:24] Xorpio commented on #173
The problem is that there are some hardcoded dependencies that cannot be faked. (as far as i know). Like on this line:
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/Runtime/Actor.cs#L42

[2019-12-11 20:28] jeastham1993 opened #184 "Add an InvokeClient and InvokeHttpClient implementation"
Add an InvokeClient to the Dapr.Client library to allow the use of the Invoke API Endpoints in the same way the StateClient currently works.

[2019-12-11 20:30] amanbha commented on #183
@Shawn-Fan  Could you please share some screenshots showing the steps?

[2019-12-11 21:56] jeastham1993 commented on #92
@amanbha  Not familiar enough with gRPC in dotnet core to help with a gRPC wrapper, but happy to help with the grunt work on the restructuring on the client packages if needed.

[2019-12-11 22:48] jeastham1993 opened #186 "Add a PublishClient and a PublishHttpClient implementation"
Add a PublishClient to the Dapr.Client library to allow the use of the Publish API Endpoints from within the .NET client

[2019-12-12 02:37] Shawn-Fan commented on #183
**step 1**
PS C:\Users\Ac\Desktop\Dapr\dotnet-sdk-master\samples\Actor\demoactor> dapr run --port 3500 --app-id demo_actor --app-port 5000 dotnet run          Starting Dapr with id demo_actor. HTTP Port: 3500. gRPC Port: 54821
You're up and running! Both Dapr and your app logs will appear here.

[93;1m== DAPR == time="2019-12-11T19:29:02-07:00" level=info msg="starting Dapr Runtime -- version 0.2

[2019-12-12 02:51] amanbha commented on #183
After step 1, you should attach debugger to DemoActor process.  Debug-Attach to Process.

[2019-12-12 02:56] Shawn-Fan commented on #183
Could let me know how to "Iattach debugger to DemoActor process. Debug-Attach to Process."?

[2019-12-12 03:02] #183 closed

[2019-12-12 21:23] Shawn-Fan opened #187 "gRPC(Grpc) Roadmap"
It looks like you guys are working on gRPC, I am just wondering if you have a roadmap of gRPC for the dapr/dotnet-sdk?

[2019-12-12 21:31] amanbha commented on #187
@Shawn-Fan Currently we have autogenerated gRPC clients from proto files. We would create convenience wrapper apis on top of the autogenerated once, but we are not actively working on it as of now.

[2019-12-13 14:43] Shawn-Fan commented on #187
thanks

[2019-12-13 14:43] #187 closed

[2019-12-13 18:06] amanbha commented on #184
Closed by PR https://github.com/dapr/dotnet-sdk/pull/185

[2019-12-13 18:07] #184 closed

[2019-12-14 04:08] amanbha opened #188 "Build for .netcore v3.1 LTS"
Build for .netcore 3.1.0. as its LTS>
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2019-12-14 04:35] amanbha commented on #188
Fixed with https://github.com/dapr/dotnet-sdk/commit/bead12b1d8387f6e4b915411e58968b305939acd

[2019-12-16 17:31] #188 closed

[2019-12-18 02:23] xewn opened #190 "abp integrate Dapr"
[abp integrate Dapr](https://github.com/abpframework/abp/issues/2183)
Any better suggestions?

[2019-12-18 19:31] #182 closed

[2019-12-18 19:32] amanbha commented on #182
@codeputer I have fixed the issue. It will be part of next release. You can sync and build the master branch now to try it.

[2019-12-28 18:44] darraghjones opened #192 "Is this a typo in the StateHttpClient?"
When BaseAddress is not null, the separator looks to be missing between StatePath and Key

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/StateHttpClient.cs#L57

[2019-12-29 01:15] rynowak commented on #192
`StatePath` has a leading `/`. https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprUris.cs#L12

Writing URI paths this way is a habit of mine based on `PathString` which requires the leading slash (asp.net core). It's a convetion that makes segments easier to concatenate.

[2019-12-29 01:30] darraghjones commented on #192
But I was pointing out there is no "/" here: `$"{StatePath}{key}";`

[2019-12-29 01:56] rynowak commented on #192
Ah, I think you're right. I'll submit a fix.

[2019-12-29 02:24] rynowak opened #193 "Integration tests spam the console"
## Expected Behavior

(peaceful, beautiful, silence)

## Actual Behavior

Integration tests output about 100 lines of spew to the console.

[code]

## Steps to Reproduce the Problem

run `dotnet test` in the repo root

----

This has an easy fix. I'll submit a PR.

[2019-12-29 02:53] rynowak opened #196 "Add support for delete operations to StateClient"
## Describe the proposal

We're currently missing support for delete operations in `StateClient` - but this is part of the spec: https://github.com/dapr/docs/blob/master/reference/api/state.md#delete-state

**Proposed API:**

[code]

[2019-12-29 03:22] rynowak opened #197 "Improvements to dapr client"
## Describe the proposal

This is a larger issue to propose, debate, and track completion of some larger improvements to the dapr client for dotnet-sdk. Consider all of this up for discussion for now until we decide on direction.

I've already worked through some of these, I plan to send as piecemeal improvements if they are wanted.

We can discuss all of these line-items and then turn them into i

[2019-12-29 03:23] rynowak commented on #197
/cc @amanbha @yaron2

[2019-12-30 06:31] i542873057 opened #199 "Error converting value "ERR_INVOKE_ACTOR" to type 'System.Nullable"
## Expected Behavior

i expected my program running correctly

## Actual Behavior

whenever run，it's throw an error like this :
Error converting value "ERR_INVOKE_ACTOR" to type 'System.Nullable`1[Dapr.Actors.DaprErrorCodes]

## Steps to Reproduce the Problem

i think the class "DaprErrorCodes" missing enumeration for "ERR_INVOKE_ACTOR"

[2020-01-01 20:15] darraghjones commented on #186
This seems like an obvious addition, especially as there is already code to support handling subscriptions.

[2020-01-02 11:53] jeastham1993 commented on #186
@darraghjones absolutely agree! I'm planning on working on it over this weekend

[2020-01-03 17:52] darraghjones commented on #197
Regarding unification of the gRPC and HTTP APIs, how about having 3 nuget packages?
Dapr.Client.Abstractions
Dapr.Client.Http
Dapr.Client.Grpc

[2020-01-03 22:49] yaron2 commented on #197
For unification and consistency, the SDK should probably be more prescriptive. We are having the same discussion for the Java SDK now.

Definite yes. We should use gRPC for everything besides actors, which are not implemented in the Dapr gRPC proto yet, but there's an [open issue](https://github.com/dapr/dapr/issues/927) for it.

There's no reason to not use gRPC everywhere to call into Dapr.

A s

[2020-01-04 10:26] jeastham1993 commented on #186
@amanbha not sure if you want to assign this to me, but I'm working on it now

[2020-01-08 19:36] #193 closed

[2020-01-08 19:41] #192 closed

[2020-01-09 17:53] #196 closed

[2020-01-10 17:48] amanbha commented on #197
@rynowak A single client is better.
Usage could be:

Reg. Packaging, following are my thoughts:
Dapr.Client  (Contains interfaces/abstract classes)
Dapr.Client.Grpc (Implements the interface in Dapr.Client Over gRPC, its a wrapper over auto-generated gRPC client)

If needed we can keep following:
Dapr.Client.Http (Implements interfaces Over Http)

 `
var httpClient = new HttpClient();
var daprClie

[2020-01-15 01:20] ElderJames opened #201 "Use Orleans as Actor Framework"
## Describe the proposal
Orleans is a great Actor Framework, we can use Orleans to handle actor-to-actor in the same application and use dapr to proxy the messaging between different application.

[2020-01-16 03:09] amanbha commented on #201
While Orleans is a good Actor framework but its C# only. Dapr runtime has an in built virtual Actor framework built into it which encapsulates core functionalities of Actors (turn based concuurrency, activation/deactivation, placement reminders etc) in the runtime. This allows users to can write Actors in any language and make cross language Actor calls. We would like users to use Dapr's in built

[2020-01-16 08:38] nero-philip-wang opened #202 "Add registering actor from Type but not only GenericType"
Add registering actor from Type but not only GenericType so that we can registe actor automatically.
[code]

[2020-01-16 16:18] amanbha commented on #202
@nero-philip-wang Could you explain the scenario in a bit more detail. How would you enforce here that TActor is of type Actor? It would be a runtime exception.

[2020-01-16 16:29] amanbha commented on #199
The Error codes in Dapr runtime have changed after 0.3.0 release and master branch here uses the new error codes. 0.3.0 branch has compatible error codes with 0.3.0 Dapr runtime.

[2020-01-17 20:24] shalabhms opened #204 "Update Proto files from Dapr runtime for gRPC client"
There are new Proto files after multi state stores support , which causes breaking changes in state API.

So need to update Proto files from Dapr runtime for gRPC client in dotnets-sdk.

[2020-01-19 22:42] #204 closed

[2020-01-23 00:21] amanbha commented on #190
@xewn It would be to good to generate Dapr integration code leveraging state management, pubsub capabilities for Dapr.

[2020-01-25 01:57] shalabhms opened #206 "Add support in dotnet client sdk to support multi state store support"
There is now multi state stores support feature in Dapr runtime.
This issue is to add support in dotnet client sdk to support multi state store support.

[2020-01-25 11:56] chgeuer opened #208 "Actor Reminders with `period=TimeSpan.FromMilliseconds(-1)` corrupt state passed to `IRemindable.ReceiveReminderAsync()`"
## Expected Behavior

Actors can register reminders. The .NET API indicates that passing a TimeInterval value of -1ms means that the timer is never triggered. My actor code has a `Tick` function, and after receiving `Tick` message, my actor should independently do some long-running stuff. So I decided to call `RegisterReminderAsync` with a DueTime of +1ms (so that the registered core is executed d

[2020-01-29 15:00] malotho commented on #173
Any traction on this?

[2020-01-30 20:49] malotho commented on #173
@Xorpio please check out this work.
https://github.com/Ignition-Group-Open-Source-Contrib/DaprDotnetActorUnitests. Code coverage, and 100% testebility on the actor.

[2020-01-31 07:41] Xorpio commented on #173
Oh nice work. it looks like a working solution. I can look further in depth in the coming days.

[2020-02-06 01:42] LMWF opened #215 "Connect to daprd using loopback ipv4 or ipv6 address instead of localhost"
## Expected Behavior

The sdk connects to daprd using localhost which may hit issues similar to https://github.com/dapr/java-sdk/issues/210.  The sdk should explicitly use the ipv4 or ipv6 loopback address through a configuration.

## Actual Behavior

"localhost" is used to connect to daprd today.

## Steps to Reproduce the Problem

[2020-02-06 08:10] RicardoNiepel commented on #215
Already done with: #214

[2020-02-06 17:06] #206 closed

[2020-02-06 22:35] #208 closed

[2020-02-06 22:42] LMWF opened #216 "Clarify client behavior/way to run in sample"
Clarify actor + client sample here:  https://github.com/dapr/dotnet-sdk/tree/master/samples/Actor.

The "Running the sample" and "Making client calls" sections have a number of places where assumptions are made and things could be clearer.
1) If you run a client containing an ActorProxy without dapr run, there are some things the user needs to do first to specify the port.  It happens to work in t

[2020-02-12 07:42] larserikfinholt opened #217 "Using output bindings (writing to blobstore)"
## Ask your question here
Will there be any built in support for writing/reading to blobstore from the dotnet-sdk?

Or should we be using the InvokeClient and pass in some different data based on what binding we are using? It would be great to see a sample of working with blobstorage.

[2020-02-12 17:28] amanbha commented on #217
@larserikfinholt Dotnet sdk will be adding APIs to write to bindings. Currently the auto generated grpc wrapper can be used to make calls to dapr to invoke a binding. Where that binding writes is determined by the components configured with Dapr, so when invoking a binding for blob storage it will write to blob storage, Its explained here https://github.com/dapr/docs/tree/master/concepts/bindings

[2020-02-12 18:32] malotho commented on #173
@amanbha should this issue be closed?

[2020-02-12 18:33] amanbha commented on #173
@malotho I would suggest to keep it open to track more improvements needed in SDK itself to make it easier to write unit tests.

[2020-02-12 22:06] #216 closed

[2020-02-13 06:35] youngbupark opened #219 "Support the granular Actor config such as actor idle time"
## Describe the proposal

dotnet-sdk doesn't provide the option to configure actor configurations such as idle timeout, scaninterval, etc. So, in the scenarios which need longer actor idle time, users cannot configure idle time.

https://github.com/dapr/docs/blob/master/reference/api/actors.md#get-registered-actors

[code]

[2020-02-13 08:49] malotho commented on #173
@amanbha that makes sense.

[2020-02-14 06:01] pacodelacruz opened #221 "Support optional behaviours in the `SaveStateAsync` method"
## Describe the proposal

I'd expect the `SaveStateAsync` method to support the use of [optional behaviours](https://github.com/dapr/docs/blob/master/reference/api/state.md#optional-behaviors), such as

- concurrency
- consistency
- retry policy

This is somehow mentioned in #197 , but I believe it deserves an independent issue for tracking purposes.

Additionally, these might have a dependency on

[2020-02-14 06:16] pacodelacruz opened #222 "Dapr client to support multi-operation state requests (need runtime implementation)"
## Describe the proposal

The Dapr client should support multi-operation requests, i.e. atomic transactions as mentioned in the  [state management documentation ](https://github.com/dapr/docs/blob/master/concepts/state-management/state-management.md#bulk-operations)

[2020-02-14 17:12] amanbha commented on #222
@pacodelacruz Thsi is being added in dapr runtime, once added to runtime, we will add support in sdks. https://github.com/dapr/dapr/pull/931

[2020-02-14 17:13] amanbha commented on #221
@pacodelacruz Yes, its on the plan and we will be overhauling our client apis in dotnet sdk, that work would add all these behaviors.

[2020-02-14 17:17] amanbha commented on #173
Keeping this open for tracking more improvements to making actor unit tests

[2020-02-14 17:51] #201 closed

[2020-02-14 17:52] amanbha commented on #199
@i542873057  Are you still seeing the issue with new dapr release and new nuget packages

[2020-02-14 17:53] amanbha commented on #190
@xewn ARe mor einputs needed for this, I am closing this issue, please feel free to reopen

[2020-02-14 17:53] #190 closed

[2020-02-15 01:25] LMWF opened #223 "Add client apis for bindings (wrapper over gRPC calls)"
This should be a wrapper above the generated grpc code.

[2020-02-15 01:25] LMWF opened #224 "Add client apis for pubsub (wrapper over gRPC calls)"
This should be a wrapper above the generated grpc code.

[2020-02-15 01:25] LMWF opened #225 "Add client apis for state management (wrapper over gRPC calls)"
This should be a wrapper above the generated grpc code and will also allow the user to specify etag and StateOptions.

[2020-02-15 01:27] LMWF opened #226 "Refactor client call apis into one class"
The class should be called DaprClient and existing ones (e.g. StateClient) should be merged in.

[2020-02-18 21:21] #124 closed

[2020-02-19 18:46] #59 closed

[2020-02-20 08:15] nero-philip-wang commented on #202
I think if registering actor from GenericType, types should be konwn when writing code. But if some types are found by reflection in runtime, I cannot register them.

[2020-02-20 18:36] amanbha commented on #217
@larserikfinholt

[2020-02-20 18:36] #217 closed

[2020-02-20 18:37] amanbha commented on #221
Thsi should be handled by https://github.com/dapr/dotnet-sdk/issues/225

[2020-02-20 18:39] amanbha commented on #197
Granular items for this are:
https://github.com/dapr/dotnet-sdk/issues/226
https://github.com/dapr/dotnet-sdk/issues/225
https://github.com/dapr/dotnet-sdk/issues/224
https://github.com/dapr/dotnet-sdk/issues/223
https://github.com/dapr/dotnet-sdk/issues/222

[2020-02-20 18:41] amanbha commented on #142
Tracked by P0 item https://github.com/dapr/dotnet-sdk/issues/225
This item will add state apis as wrapper over gRPC api.

[2020-02-22 17:57] CarlosLanderas opened #230 "Bindings Http Client proposal"
I can't see the bindings http client in the Dapr.Client. Looking at the source code I see we have available State, Invoke and Publish but not bindings.

I find it would be very interesting to extend this functionality so we do not have to be working with Http Client Directly

I've seen the go sdk has it:

[code]

I can create a pull request with this functionality if you considering interesting.

[2020-02-22 17:59] amanbha commented on #230
@CarlosLanderas  We are int he process of refactoring the client sdk. The sdks will nto have independent clients, instead there will be one client with multiple methods on it. The SDK underneath will use auto-generated gRPC.
Work item is tracked in following:
 https://github.com/dapr/dotnet-sdk/issues/223
https://github.com/dapr/dotnet-sdk/issues/197

[2020-02-22 18:17] CarlosLanderas commented on #230
@amanbha thank you for the information!. I've already created the bindings http client (I need it for a talk this thursday) but what you mention makes sense. I'm glad @rynowak is involved here. He is a super master :)

Thank you!

Closing!

[2020-02-22 18:22] #199 closed

[2020-02-22 18:22] #186 closed

[2020-02-22 18:24] CarlosLanderas commented on #230
PD: @amanbha when this unified client will be available? Do you find interesing having this client in the meantime, or shall I close the issue

[2020-02-22 18:32] amanbha commented on #230
@CarlosLanderas The new integrated client will be available with our next release 0.5.0 slated for March end. Givne that it will be available in next release, you can close this issues.

[2020-02-22 18:37] #230 closed

[2020-02-24 19:15] larserikfinholt commented on #217
@amanbha  sorry, I did not understand. Will the dotnet sdk:

* a) Provide a generic Invoke command that takes in an object and leave it the rest to the developer
* b) Add additional API that helps developers perform generic blob task like read/write/list folders / blobs etc

[2020-02-24 19:21] amanbha commented on #217
@larserikfinholt Output bindings are provided by Dapr runtime.
dotnet sdk will provide api to invoke a binding via Dapr runtime https://github.com/dapr/dotnet-sdk/issues/223
dotnet sdk will not provide apis to work with blobs directly.
I hope it clarifies, please let me know if you have any more questions or need more clarification.

[2020-02-25 01:59] #58 closed

[2020-02-25 11:19] TomHermolle opened #232 "Add examples of dotnet core gRPC service invocation to samples"
I am struggling to implement the invocation of a dotnet core gRPC service via Dapr, and no example exists in the samples project.

I have found an example in the Java SDK, and attempted to work from that (although I don't know Java), but I haven't managed to get it working, so some examples/documentation of how to invoke services over gRPC in C# would be greatly appreciated, including how to imple

[2020-02-25 12:16] sebader opened #233 "DaprError cannot be deserialized because of missing parameterless constructor"
## Expected Behavior

Code should run without such exceptions

## Actual Behavior

When [this line](https://github.com/dapr/dotnet-sdk/blob/7005e246240a4919863984c9ebf2a2206f9451c7/src/Dapr.Actors/DaprHttpInteractor.cs#L434)
`error = await JsonSerializer.DeserializeAsync<DaprError>(contentStream);`

is reached, JsonSerializer cannot deserialize the DaprError and throws:

This then results in this

[2020-02-25 12:55] sebader commented on #233
to add: When I added a parameterless constructor, the deserilization does not fail anymore. However, the new DaprError object is still empty (not message or error code set), so I guess there are also some serialization options needed.

[2020-02-26 14:49] CarlosLanderas opened #234 "InvokeHttpclient InvokeMethodAsync not considering JsonSerializerOptions"
I know you are migrating the current clients to a new one in 0.5.0
Just in case you move the code, line 69 of the InvokeHttpClient is serializing without considering the json options so no camelcase can be configured from C# pascal case properties

## Actual Behavior

JsonSerializerOptions is not being passed to JsonSerializer

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/InvokeH

[2020-02-26 17:25] #234 closed

[2020-02-28 11:08] sebader commented on #232
I am using this (not sure if this is best practice, though). So any feedback welcome as well.

[code]

[2020-02-28 17:48] amanbha commented on #232
@sebader Thsi seems fine. We are int he process of refactoring our SDK and we will be providing wrapper methods for App-> Dapr calls which will under the hood use autogenerated gRPC clients from proto. This it he main issue tracking the work and it will be part of our next release https://github.com/dapr/dotnet-sdk/issues/197

[2020-02-29 02:06] iamalexmang opened #236 "Error running Actor sample"
My expectation is that I can follow the readme.md guide and test DAPR Actors.
However, I come across this error when I'm running the DemoActor, which prevents the ActorClient from initializing an actor instance of type DemoActor:
[code]

[2020-02-29 03:06] codeputer commented on #236
I think it's state is not initialized.  Run " Dapr init" then run a docker command to see if you have a placement service/container, and a redis storage service/container.

R

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alex Mang <notifications@github.com>
Sent: Friday, February 28, 2020 7:06:24 PM
To: dapr/dotnet-sdk <dotnet-sdk@noreply.github.com>
Cc: S

[2020-02-29 03:17] amanbha commented on #236
@iamalexmang  I think you have ran sample with older version of Dapr earlier and older components yanl file is still used., A breaking change was introduced in latest release of DApr runtime which support multiple state stores. Could you please try with after deleting the components folder which is created by dapr cli in DemoActor directory. If you still see the issue, please share the components

[2020-02-29 07:58] iamalexmang commented on #236
@amanbha, you were correct.
For anyone else coming across this issue, the problem I was facing was that I was using a component configuration file which was missing the
[code]
metadata from the state.redis component type.
The previous redis.yaml confg was replaced in the latest repo version with statestore.yaml.

[2020-02-29 07:58] #236 closed

[2020-03-02 09:34] TomHermolle commented on #232
@sebader thanks for your response - I had also managed to access the statestore and publish events over gRPC without difficulty, but this issue more specifically relates to the invocation of another microservice over gRPC and Dapr i.e. Service A <-> Service B becomes Service A <-> Dapr A <-> Dapr B <-> Service B.

I have subsequently managed to get this working, although I think I've discovered a

[2020-03-02 20:22] cmendible opened #237 "Secret Store configuration provider implementation for Microsoft.Extensions.Configuration"
## Describe the proposal

A Dapr Secret Store configuration provider implementation for **Microsoft.Extensions.Configuration** should be provided.

The provider should enable a similar experience as the one provided in the [Microsoft.Extensions.Configuration.AzureKeyVault](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureKeyVault/) package

Developers should be able to write

[2020-03-03 00:41] amanbha commented on #237
Great, thanks @cmendible . I will take a look at the PR.

[2020-03-03 13:44] perokvist opened #239 "Pub/Sub - WithTopic and Topic attribute conventions"
## Guide to avoid breaking conversions of subscribers

It's easy to believe that an endpoint or controller route could differ from topic name.

[code]
or

[code]

Should the SDK care, or guide the user here ?
It's possible to setup a route that follow the conventions and forward to custom route, but is adding complexity.

[2020-03-03 13:45] perokvist commented on #239
another topic is exposing these endpoint to the sidecar/localhost only.

[2020-03-03 19:30] cmendible opened #240 "Secret Store Grpc Client"
## Describe the proposal

I know you are working to improve the dapr client as statedt in #197, but since the Secrets API endpoint has been merged (https://github.com/dapr/dapr/pull/1059 & https://github.com/dapr/dapr/pull/1085) a Secret Store grpc client should be provided

[2020-03-03 19:47] amanbha commented on #240
@cmendible Thanks for adding the secrets api, This add s a new SecretsClient, I would wait and add the api api refactoring which is being done for DaprClient.

[2020-03-03 19:50] cmendible commented on #240
Ohhh I see, so the http will be deprecated?

I just submitted #241 so I guess it will be a no go. If there is anyway I can help just let me know.

[2020-03-03 19:56] amanbha commented on #240
Yes, non-actor calls from .net sdk will go over gRPC/

Please modify the issue, to add it to DaprClient api over gRPC. This is the branch we will be working in https://github.com/dapr/dotnet-sdk/tree/one_client, currently it has an interface and a class please feel free to app secret api to this branch.

[2020-03-07 18:49] amanbha opened #243 "Add client apis for service method invocation (wrapper over gRPC calls)"
This should be a wrapper above the generated grpc code and will also allow the user to specify metadta.

[2020-03-08 10:55] wanton7 commented on #222
Will that change allow me to retrieve and store multiple keys with actor StateManager? Currently I have to use things like
`await Task.WhenAll(commentIds.Select(id => StateManager.GetStateAsync<CommentState>("comment" + id)));`

It would be even greater if I could retrieve and store different kind of states with single call. Example something like StateManager would return multiple StateValue clas

[2020-03-10 00:48] amanbha commented on #232
@TomHermolle The calls would be unary, the Dapr runtime itself doesnt support it.

[2020-03-10 03:52] #243 closed

[2020-03-10 03:52] #240 closed

[2020-03-10 03:53] #225 closed

[2020-03-10 03:53] #224 closed

[2020-03-10 03:53] #223 closed

[2020-03-10 03:53] #226 closed

[2020-03-10 03:53] #221 closed

[2020-03-10 03:53] #197 closed

[2020-03-10 03:54] #142 closed

[2020-03-10 03:55] amanbha commented on #92
Closed by https://github.com/dapr/dotnet-sdk/pull/244

[2020-03-10 03:55] #92 closed

[2020-03-10 03:57] amanbha commented on #232
With the refactored client the code snippet is added to samples https://github.com/dapr/dotnet-sdk/commit/51fc48fb743204d6e2a830bfb12568d1231fa410#diff-d43fb1cb49d2d5bea15afe07418dd112R87

Please feel free to reopen if you have more questions.

[2020-03-10 03:57] #232 closed

[2020-03-10 04:01] amanbha commented on #239
@rynowak for suggestion on route configuration in aspnetcore for topics.

[2020-03-10 09:54] sebader commented on #233
@LMWF did you check that deserialization works properly with your new constructor? As I wrote above, I added a similar constructor in a quick test that I did and after deserialization the fields were not set.

[2020-03-10 21:01] LMWF commented on #233
You are correct, sending a PR soon.

[2020-03-10 21:12] #233 closed

[2020-03-10 21:16] amanbha commented on #222
This request is for sdtate management api outside of actor and is requesting for addition of multiple state updates https://github.com/dapr/docs/tree/master/concepts/state-management#bulk-operations
Proto is https://github.com/dapr/dapr/blob/release-0.4/pkg/proto/dapr/dapr.proto#L21

[2020-03-12 16:31] amanbha commented on #202
@nero-philip-wang Would you like to contribute and create a PR for this.

[2020-03-13 14:33] wanton7 opened #249 "There should be exception if actor method has more than one parameter"
## Expected Behavior

Exception if actor method has more than one parameter. Example exception for `IUserActor.TryCreate(string email, string name)`

## Actual Behavior

There is JSON deserializing exception if you call method with more than one parameter like this

## Steps to Reproduce the Problem

Create actor method with more than one parameter and call it.
`curl -H "Content-Type: application/

[2020-03-13 18:18] amanbha opened #251 "Revert the workaround added by PR#250 once updated .netcore SDK is available with fix."
Revert the workaround added by PR#250 once updated .netcore SDK is available with fix.

The PR added ref. to System.IO.Pipelines explicitly to work around build issue with .netcore sdk 3.1.102
https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-known-issues.md#net-core-312
This will be reverted when the fix will be available in future .net core sdk.

[2020-03-13 18:25] amanbha commented on #249
@wanton7 Actor methods with 2 ards can be called using remoting apis. The restriction is only for methods called using the non-remoting apis in proxy.

For my understanding: Are you saying throw a more meaningful exception when its invoked over http and it has multiple args.

[2020-03-13 18:40] wanton7 commented on #249
Yes exactly meaningful exception. Now it's just crashing in JSON deserializer and I didn't understand what was happening and what did I do wrong. Should that single parameter be checked that it's a class or struct as well?

[2020-03-13 18:42] amanbha commented on #249
@wanton7 Yes, sure, it makes sense, I will look into it. Feel free to create a PR as well if you want to contribute

[2020-03-13 18:53] wanton7 commented on #249
It seems that checking for struct is not that easy because example DateTime is a struct. I haven't done pull requests to github before but it could be nice to try. If I will just do pull request to check for max one parameter.

[2020-03-14 10:12] jpiquot opened #253 "dotnet-sdk does not build with Net SDK 3.1.102"
Hi,

There is a bug in .Net Core SDK 3.1.102. The dapr dotnet SDK will not build.

Error CS0012 :	The type 'PipeWriter' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.IO.Pipelines, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.	Dapr.Actors.AspNetCore	D:\Dev\Audit\Dapr\src\Dapr.Actors.AspNetCore\RouterBuilderExtensions.cs	22	N/A

[2020-03-14 15:45] wanton7 opened #254 "What is the best place to validate actor id?"
I would like to validate that actor id is in Guid.ToString("N") format and stop actor activation if actor id is not in valid format. Is it ok to validate actor id in actor's constructor and throw exception, that should stop actor activation right? Or is there a better way to do it?

[2020-03-14 17:13] amanbha commented on #253
Fixed with PR https://github.com/dapr/dotnet-sdk/pull/250#merged-event

[2020-03-14 17:13] #253 closed

[2020-03-14 18:37] #249 closed

[2020-03-15 03:32] amanbha commented on #254
@wanton7 yes, that would do it, but I would not suggest it and want to understand your scenario for it. For almost every application leveraging the actor pattern, the client is controlled by the application developer when they make calls to the actor, so the best place to restrict it when you are calling actor service from client side rather than throwing exception form server side.

[2020-03-15 08:29] wanton7 commented on #254
I'm currently parsing ActorId back to Guid that I use in other places. Maybe my my design is flawed and I should actually store that Id to actors state when state is created the first time and let ActorId be anything?

[2020-03-15 10:38] codeputer commented on #254
I may be wrong in my assessment of an Actor Id, but I thought I would jump in in this discussion to discuss.

I see the thinking of an appropriate Actor Id in the same way I think about natural and surrogate keys in relational theory.

Selection of a natural key is easily used, but often comes with the issue of change.  For example, a phone number is a good natural key, but in reality, it can chan

[2020-03-15 16:41] chleit opened #255 "Standard Dependency Injection for Actors"
## Describe the proposal
The ActorService should instantiate actors through the ASP.Net Core DI container and inject the ActorId through a property or method.

Yes I know that you can use ```actorRuntime.RegisterActor<DemoActor>( (type) => new ActorService(type, (actorService, actorId) => new DemoActor(actorService, actorId)));```

But the problem IMHO is that at the place you register the actor t

[2020-03-16 16:07] amanbha commented on #255
@chleit Thats a good idea. The curent approach was chosena s the Actors library itself is not dependent on Aspnet core.

[2020-03-17 18:32] cmendible opened #256 "Create documentation and samples for the Secret Store configuration provider implementation"
## Describe the proposal

Create documentation and samples for the Secret Store configuration provider implementation described in #238

[2020-03-17 22:52] philliphoff opened #257 "Can SDK use same default GRPC port as `daprd`?"
Currently the .NET SDK [defaults to using port `52918`](https://github.com/dapr/dotnet-sdk/blob/51fc48fb743204d6e2a830bfb12568d1231fa410/src/Dapr.Client/DaprClientBuilder.cs#L17) when `DAPR_GRPC_PORT` is *not* set.  Is there a specific reason for this port (e.g. it's the canonical port used by gRPC-based applications)?

The Dapr daemon (`daprd`) [defaults to port `50001`](https://github.com/dapr/d

[2020-03-17 23:03] amanbha commented on #257
@philliphoff Sure, it can use 50001 by default. It relies on DAPR_GRPC_PORT when its launched by dapr.
If user is launching daprd manually then it can still fail if a mom-default port is specified for gRPC but app is not told about it.

[2020-03-18 02:38] #257 closed

[2020-03-18 17:43] #237 closed

[2020-03-18 19:51] amanbha commented on #239
@perokvist IMO Mapping a route to topic name should be left to the user.
I am closing this issue, feel free to open if you have more questions.

[2020-03-18 19:51] #239 closed

[2020-03-19 17:28] cmendible opened #261 "New gRPC DaprClient fails for Secret API requests if mTLS is enabled"
## Expected Behavior

DaprClient should work with mTLS enabled.

## Actual Behavior

clients created through the builder:

[code]

Fail to get secrets through calling `client.GetSecretAsync` when Dapr mTLS is enabled.

## Steps to Reproduce the Problem

Deploy the following yaml to K8s:

[code]

Create and deploy an ASP.NET Core application which implements the following call:

[code]

The call wi

[2020-03-19 17:42] amanbha commented on #261
@cmendible I believe, it would not be specific to dotnet sdk as the calls from user service code to Dapr is not secured.

[2020-03-19 17:44] cmendible commented on #261
@amanbha should I post a bug or question on the Dapr repo?

[2020-03-19 17:47] amanbha commented on #261
Yes, it would be in dapr/dapr repo as the calls to dapr sidecar from user service code is not secured. Is the issue only with secret api or with any api?

[2020-03-19 17:52] cmendible commented on #261
Roger that.

Only tested the secret api.

[2020-03-19 20:03] yaron2 commented on #261
I closed the issue on `dapr/dapr` *for now* as this is likely an SDK usage issue with gRPC.

Notice the client config used here to talk to Dapr from a client when gRPC is enabled:
https://github.com/dapr/docs/blob/master/howto/create-grpc-app/README.md#invoking-dapr---go-example

Look at the mTLS enabled part. You need to provide a TLS config with `InsecureSkipVerify`.

[2020-03-19 20:05] yaron2 commented on #261
I was able to invoke Dapr for the Get Secrets API over gRPC with mTLS enabled using the client config mentioned in the doc above.

[2020-03-19 20:46] amanbha commented on #261
Thanks @yaron2, jsut for my understanding, why that config is required, calls from Sercive->Dapr don't use mTLS. Only calls between Dapr<->DApr use mTLS.

[2020-03-19 20:49] yaron2 commented on #261
When mTLS is enabled in Dapr, it's configured that the app can call Dapr without mTLS. There's a specific way that gRPC dictates that you should do it. So in the document above, it details on the config you need for the client. If you look at the example you'll see the client doesn't actually provide any certificate in the call to Dapr.

[2020-03-19 21:03] amanbha commented on #261
If enabling mTLS doesnt change the behavior of http calls, it should not change the behavior of gRPC calls. SDKs or clients have no way of knowing whether the code is running with Dapr mTLS enabled or not so it can't conditionally set it. When user has to create it conditionally when deploying to K8s, it breaks the scenario of same code running on dev a machine and in K8s.

Is it a side affect of

[2020-03-19 21:16] yaron2 commented on #261
It's a side effect of it yes, which is a side effect of how gRPC behaves when you apply a "verify only if cert is given to you".

Maybe it is time to separate it. I'll create an issue for it for 0.6.0.

[2020-03-19 21:23] yaron2 commented on #261
https://github.com/dapr/dapr/issues/1293

[2020-03-19 21:25] amanbha commented on #261
Great, thanks @yaron2 !, users wont have to create grpc connection conditionally.

@cmendible It will be fixed in the runtime for 0.6.0, how do you want to handle it for 0.5.0 in the meantime so that same code runs locally on dev box and in k8s with mTLS. I am open to releasing a nuget package with the fix so that things continue to work on 0.5.0

[2020-03-19 21:48] cmendible commented on #261
@amanbha yes please release a fix for 0.5.0

[2020-03-19 22:51] amanbha commented on #261
Sure @cmendible . I was thinking about it and could you try following:
`
var client = new DaprClientBuilder()
                .UseEndpoint("https://127.0.0.1:50001")
                .Build();
`

[2020-03-20 10:40] cmendible commented on #261
That results in _Error starting gRPC call: The SSL connection could not be established, see inner exception._

[2020-03-20 10:56] yaron2 commented on #261
The gRPC channel would need to have empty credentials passed to it:

new SslCredentials()

[2020-03-20 14:54] cmendible commented on #261
This is what is working for me using the client provide by gRPC:

[code]

The current implementation does no allow me to setup such as configuration.

[2020-03-20 17:11] amanbha commented on #261
Thanks for sharing it @cmendible I will look into whats the best option to enable it temporarily until 0.6.0 when the linked runtime issue will be fixed to hanlde this. Till then the code has to be different when running with & without mTLS.

[2020-03-21 00:05] amanbha commented on #261
@cmendible Please see this PR https://github.com/dapr/dotnet-sdk/pull/263 It will be cherry-picked into 0.5.0 branch to release a new nuget package.
The change will be reverted from master branch for 0.6.0 when the issue is fixed in Dapr runtime.

[2020-03-21 04:05] ryzam opened #264 "Error starting gRPC call: Connection refused in Kubernetes"
I'm using AspNetCore sample and try to running dapr in Kubernetes, unfortunately when try to call API I got this error:
`Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: Connection refused")
   at Dapr.Client.DaprClientGrpc.MakeGrpcCallHandleError[TResponse](Func2 callFunc, CancellationToken cancellationToken)
   at Dapr.Client.DaprClientGrpc.GetStateAndETagAsy

[2020-03-21 05:50] amanbha commented on #264
@ryzam is it from the master branch with project refs? Or you are using nugets?

[2020-03-21 07:07] ryzam commented on #264
I'm using nuget

[2020-03-21 15:49] cmendible commented on #261
LGTM

[2020-03-21 16:04] cmendible commented on #264
@ryzam take a look at #263

[2020-03-21 20:20] amanbha commented on #261
@cmendible  I have published new package version 0.5.0-preview02 witht he changes.

[2020-03-21 20:25] cmendible commented on #261
@amanbha Thanks that's great news! Should we keep this issue open until 0.6.0 is released?

[2020-03-21 20:35] amanbha commented on #261
Yes, I have re-opened this issue. Will revert the workaround once we are close to releasing 0.6.0

[2020-03-24 18:19] pruthvidhodda opened #265 "Add new hello-world ASP.NET core sample"
## Describe the proposal

Add a new simple hello-world ASP.NET core sample that can be run in Visual Studio environment and VS code as well. Demonstrate state-store or pub-sub functionality. Adapt the sample to be deployed locally and as well in k8s mode.

[2020-03-25 20:00] amanbha opened #266 "Add health check endpoint for actors"
## Describe the proposal
Add health check endpoint for actors
This is needed in SDK for dapr runtime change: https://github.com/dapr/dapr/pull/1313

[2020-03-26 18:59] #266 closed

[2020-03-26 19:14] #254 closed

[2020-03-27 12:48] GennadiiSvichinskyi opened #268 "DaprClient via gRPC: problem with object serialization"
## Expected Behavior

InvokeMethodAsync returns deserialized HelloReply object

## Actual Behavior

` Unhandled exception. System.Text.Json.JsonException: '0x13' is an invalid start of a value. Path: $ | LineNumber: 1 | BytePositionInLine: 0.`

## Steps to Reproduce the Problem

1. Create gRPC service with ASP.NET Core 3.1 (in VS 2019 it will be created with Greeter service sample), generate clien

[2020-03-27 13:59] ryzam commented on #264
Tq @cmendible , btw i already pull from lastest repo, but now i got container error

` Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  64s                default-scheduler  Successfully assigned default/userservice-76d4d9dd86-jxrw7 to minikube
  Normal   Pulling    51s                kubelet

[2020-03-27 18:10] amanbha commented on #268
@GennadiiSvichinskyi The client package is using json serialization/deserialization. Serialization of HelloRequest is fine when sending the request but json deserialization of the response is failing, does your service method returns a json?

[2020-03-27 20:53] GennadiiSvichinskyi commented on #268
@amanbha  No, according to the signature of the OnInvoke handler (Task<Any> OnInvoke(InvokeEnvelope request, ServerCallContext context)) I should return Any object
` var msg = new HelloReply() { Message = requestHelloRequest.Name };
var any = Any.Pack(msg);
return any;`
The problem is that System.Text.Json.JsonSerializer cannot deserialize Any object into my HelloResponse object.

[2020-03-27 21:06] amanbha commented on #268
@GennadiiSvichinskyi From thes erverside, you can return serialized json as Any.
Please see here, how the Dapr client serializes your HelloRequest to Any and sends it to server https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientGrpc.cs#L135

[2020-03-28 01:22] ryzam commented on #264
Tq, this issue resolve ....

[2020-03-28 01:22] #264 closed

[2020-03-28 10:24] GennadiiSvichinskyi commented on #268
@amanbha , okay, it s working, thanks. Although, I consider it as workaround because the standard Any.Pack(IMessage) is not working correctly. But if you take a collection instead of an object (or, in terminology of Google - message with repeated property) you get into the same trouble. Try generate from
`message HelloRepeatedReply{
  repeated HelloReply replies = 1;
}`
then call something like Ge

[2020-03-28 18:26] amanbha commented on #268
@GennadiiSvichinskyi Glad its working. I tend to agree that this falls in a workaround category, will look into it. If you have fixes in mind, would you like to contribute and do a PR.

[2020-03-30 01:24] wanton7 opened #271 "ActorStateManager GetStateAsync and TryGetStateAsync methods should be thread safe"
## Describe the proposal

Because actors state can be granulated (have multiple state names) I thought calling ActorStateManager actor methods `GetStateAsync` and `TryGetStateAsync` would be thread safe. So I could use `Task.WhenAll` to retrieve multiple state pieces simultaneous. But I just looked at the code and it's not thread safe because `Dictionary<string, StateMetadata> stateChangeTracker`

[2020-03-30 01:46] amanbha commented on #271
Its not thread safe as actors are single threaded, it will not be thread safe as it will make the code unnecessarily complex just for allowing a one off scenario.This follows the pattern of SF reliable Actors.

[2020-03-30 03:03] wanton7 commented on #271
Ok, but if state is granulated to like 100 parts getting those sequentially might be little bit slow.
Saw this from @yaron2 at gitter chat at https://gitter.im/Dapr/actors

I guess that is not possible then with dotnet SDK without using custom state management code.

[2020-03-30 03:08] amanbha commented on #271
The state is cached in SDK, so its a one time call till the actor is active. If there is a bulk get implemented in runtime, then that can be exposed in SDK as well.

[2020-03-30 05:21] wanton7 commented on #271
Maybe it's time to think my state design of one of my actors then :) I created feature proposal for bulk state get yesterday https://github.com/dapr/dapr/issues/1338
I'll close this in favor if that then.

[2020-03-30 05:21] #271 closed

[2020-03-30 17:43] #261 closed

[2020-03-30 20:30] #219 closed

[2020-03-30 20:46] LMWF opened #275 "Document /dapr/config .net sdk usage"
Document /dapr/config .net sdk usage introduced in:
https://github.com/dapr/dotnet-sdk/issues/219

[2020-03-31 00:25] igalfsg opened #272 "Cannot connect to Service through gRPC."
## Expected Behavior
trying to use InvokeMethodAsync to call my rest based backend using grpc (it works using http://localhost:3500/v1.0/invoke/daprbackend/method/WeatherForecast)

## Actual Behavior
When I call using gRPC I get the following exception "Error starting gRPC call: An error occurred while sending the request." full logs:
warn: Microsoft.AspNetCore.Components.Server.Circuits.RemoteRen

[2020-03-31 01:37] amanbha commented on #272
Please see:
https://github.com/dapr/dotnet-sdk/issues/264
&
https://github.com/dapr/dotnet-sdk/issues/261

[2020-03-31 01:43] ryzam commented on #272
I change mTLS enable to false

[2020-03-31 01:51] amanbha commented on #272
Great, Both runtime and sdk will have fixes in the next release (ETA next week). Till then with mTLS you can use the workaround
`var client = new DaprClientBuilder() .UseEndpoint("https://127.0.0.1:50001") .Build();`

[2020-03-31 02:27] amanbha opened #273 "User proto for 0.6.0 dapr and update grpc clients"
User proto for 0.6.0 dapr and update grpc clients

[2020-03-31 02:33] amanbha commented on #272
keeping it open till 0.6.0 is released if others stumble across this issue.

[2020-03-31 02:37] #273 closed

[2020-03-31 22:46] #275 closed

[2020-04-02 12:09] jpiquot opened #277 "Serialization error for Actors with Id equal to ActorId(string.Empty)"
## Expected Behavior

Calling an actor with an Id = empty string should work. If empty string ids are not supported, an argument out of range exception should be thrown when calling : new ActorId (string.Empty).

## Actual Behavior

The call to an actor method with an empty string Id throws a serialization error.

**ActorProxy.Create<IUserCollectionActor>(new ActorId(string.Empty), "UserCollection

[2020-04-02 17:46] amanbha commented on #277
Thanks for reporting @jpiquot Would you like to contribute the fix with a PR.

[2020-04-02 17:57] amanbha commented on #272
0.6.0 release of dapr runtime and dotnet sdk is not available. Please try the latest versions, feel free to reopen if the issue still persists.

[2020-04-02 17:57] #272 closed

[2020-04-02 18:51] DavidHoerster opened #278 "Calling Actor that returns void (Task) via Remoting throws XmlSerialization Exception"
## Expected Behavior

An actor that returns `void` (`async Task`) should be able to be called via Remoting

## Actual Behavior

Calling an actor method that returns `void` (`async Task`) via Remoting throws an XmlSerialization exception. Changing the call to the actor method using non-remoting succeeds.

## Steps to Reproduce the Problem

I have an actor defined as such:

[code]

Calling it using

[2020-04-03 11:53] jpiquot commented on #277
Hi @amanbha, Ok for doing the PR.

What is the rule?

1) Empty strings as Ids are supported. I fix the serialization error.
2) Empty strings as Ids are not supported, I throw a ArgumentOutOfRange exception in the ActorId class constructor?

I think that it should be option 1. It works for Orleans actors.

[2020-04-03 16:25] amanbha commented on #277
Thanks @jpiquot it's the second option, I'd is required for Dapr actors.

[2020-04-04 01:05] amanbha commented on #278
@DavidHoerster The samples have calls for the methods that return just a Task. i just ran it and could not repro:
https://github.com/dapr/dotnet-sdk/blob/master/samples/Actor/ActorClient/Program.cs#L49

Could you share the full exception as well?

[2020-04-04 16:02] etuboko opened #280 "PubSub not working when specifying a route attribute on AspNetCore Controllers"
## Expected Behavior

Specifying a route attribute on controller  should not disable PubSub topic registration.

Publishing events using Dapr should reach API using ASP.NET Core routing with specified route attributes at controller level.

## Actual Behavior

App is subscribed to the topics but published events are not reaching defined endpoints.

[code]
## Steps to Reproduce the Problem

Using th

[2020-04-04 16:31] etuboko commented on #280
Specifying a different template then the topic at the method level has the same effect
[code]

[2020-04-04 23:04] rynowak commented on #280
This is pretty unfortunate, but reflects the way that pub/sub works in Dapr. The route has to match the topic name. When I discussed with the team earlier, we had the idea of enlightening the protocol to allow arbitrary URLs as routes.

We could try to make this fail in some more obvious way like an error on startup, but the limitation you're hitting here is with Dapr's protocol not with the SDK.

[2020-04-05 19:02] #277 closed

[2020-04-06 15:27] etuboko commented on #280
Hi @rynowak ! Thanks for the comments and reference. My goal for the URI structure of the API is to make it logical, meaningful and predictable for clients. A foundational aspect in API design is that the API is Resource-centric. Operations (verbs) are represented via HTTP Verbs on these Resources, not in the URI space.  This limitation is preventing us from respecting this design aspect.

[2020-04-06 15:44] yaron2 commented on #280
Yes, we are planning on changing this. Being tracked here:
https://github.com/dapr/dapr/issues/843

[2020-04-06 15:58] etuboko commented on #280
@yaron2 Thanks, great news!

[2020-04-06 15:58] #280 closed

[2020-04-07 03:54] codeputer opened #281 "Failed to sTart Metrics Server on RoutingSample using DAPR extension"
## Expected Behavior

Attempted to use the DAPR extension to run the routingSample application.  Expected it to run and attach the debugger, allowing get/post work, and allow break points in the code base of the project, and related projects.
![dockerimagesrunning](https://user-images.githubusercontent.com/611541/78628260-dc7b3400-7850-11ea-9ebb-e885ec962d4c.png)

## Actual Behavior
Attempts to st

[2020-04-07 04:38] amanbha commented on #281
Is some other process listening on port 9090?

[2020-04-07 07:47] jpiquot opened #282 "Distributed ACID transactions"
Hi,
In some scenarios, we need multiple actors to join a transaction regardless of where their state is stored.

The only information I found on transactions are in this document :
[API-005-state-store-behavior](https://github.com/dapr/dapr/blob/master/docs/decision_records/api/API-005-state-store-behavior.md)

It does not say much on how this will be implemented in Dapr .NET.

[2020-04-07 14:43] codeputer commented on #281
Not that I know of.  I rebooted I got same result.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Aman Bhardwaj <notifications@github.com>
Sent: Monday, April 6, 2020 10:38:49 PM
To: dapr/dotnet-sdk <dotnet-sdk@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [dapr/dotnet-sdk] Failed to sTart Me

[2020-04-07 15:32] amanbha commented on #282
@jpiquot The transaction is to update state per method call of a particular actor.
The transactions cannot span multiple actor methods.

[2020-04-07 15:34] amanbha commented on #281
There seems to be some one already listening on the port, Could you please check what is listening on port. If you are on windows you can use netstat.

[2020-04-07 19:17] jpiquot commented on #282
@amanbha Yes, it is an anti pattern, if we use transactions everywhere. But in some cases we may need ACID transactions. Some actor frameworks support transactions like the Microsoft Orleans project :
- [Microsoft Orleans](https://github.com/dotnet/orleans).
- [Orleans Transactions](https://dotnet.github.io/orleans/Documentation/grains/transactions.html).

[2020-04-07 19:46] amanbha commented on #282
@jpiquot It can be treated as a proposal, If we decide to support it, It needs to be done in Dapr runtime and not at individual SDK level.
 I am transferring the issue to dapr repo. Please feel free to add to it on how to expose it at Dapr level,

[2020-04-09 02:31] rynowak commented on #280
Yeah I complained about this too 👍

[2020-04-09 15:13] jpiquot opened #283 "ActorProxy:Create method with a type parameter"
Hi,

Could we add an third Create method on the ActorProxy class with a type argument? To be able to make a call like this :

var myActor = (IMyActorProxy)ActorProxy.Create(new ActorId("dummy"), typeof(IMyActor), "MyActor");

[2020-04-09 15:42] jpiquot commented on #283
Also add "Create" methods in the IActorProxy interface so we can inject the proxy in constructors. It will enable us to make tests easier. As we can then Mock the proxy.

[2020-04-09 17:11] amanbha commented on #283
Could you please share the scenario and benefits of following:

Clients making the calls usually dont have service implementation, they only have the interface to know the contract.

[2020-04-10 07:58] jpiquot commented on #283
I have for example command request handler actors, that I need to be called thru a command handler factory.

[code]
For tests : when Actor A calls Actor B. If you use the IActorProxy passed in the constructor to call Actor B instead of the static ActorProxy to make the call, its easier to Mock for tests.

[2020-04-10 10:17] ddobric commented on #183
I suggest to provide asap F5 debugging experience n VS. This is how enterprise developers works with VS and .NET. Anything else feels as a workaround and makes the efficiency an enterprise developer very bad.

[2020-04-10 11:35] codeputer commented on #183
I found that it's a better (?) environment to use Visual Studio code than VS 2019.

I  actually feel like a newly born fawn trying to stand up, and my legs simply not knowing what to do next.

So much is new, Dapr as a runtime, docker, containers, actor framework, grpc , and all on Linux containers!

On top of all this, DAPR on  dot net doesn't even feel like it's a main focus, but just another si

[2020-04-11 03:01] amanbha commented on #283
@jpiquot Thanks for sharing the sample. what happens after that, how is that type used inside the proxy?

[2020-04-12 17:26] jpiquot commented on #283
Exactly in the same way as the actual generic method :

**Existing generic method :**
[code]
**Add new type parameter method:**
[code]
**The internal ActorProxyFactory already has a CreateActorProxy with the good parameters :**
[code]

I would also add the Create methods the IActorProxy interface. This will enable mocked proxy interface injection in actors. It will enable to Test chained actor cal

[2020-04-14 16:00] amanbha commented on #283
@jpiquot Sure, makes sense. Would you like to contribute and submit a PR for it?

[2020-04-14 16:39] igalfsg commented on #268
@amanbha My proposed solution would be do parameter that is default to false, to cast the variable, if it is set to true instead of deserializing a json you cast the return string to the variable type passed. Also for user experience to catch the error and give a friendly error explaining the options. what do you think?

[2020-04-14 16:52] jpiquot commented on #283
Ok, I will submit a PR.

[2020-04-15 20:00] amanbha commented on #283
Fixed in PR https://github.com/dapr/dotnet-sdk/pull/285

[2020-04-15 20:00] #283 closed

[2020-04-18 08:43] ddobric opened #288 "How to Subscribe for events"
Looking for an example which demonstrates how to subscribe events.
The provided Client sample shows how to publish an event, but there is not way in the DaprClient to receive  events.

Especially looking for PUB/SUB concepts like retries, peek-and-lock, peek-and-delete,..
This is all requirement on the concrete component, but do not see anything in the spec related to such concepts.
PUB/SUB buildi

[2020-04-18 20:39] amanbha commented on #288
For subscribing to events please see, https://github.com/dapr/docs/blob/master/reference/api/pubsub_api.md#required-application-user-code-routes

If you are using aspnetcore, then you can use the aspnetcore samples to subscribe to events which adds a route for the topics as well.

Dapr building block provides abstraction over multiple components so full fledged functionality is not available, howe

[2020-04-21 16:40] codeputer commented on #281
I believe this is the surfacing issue when old YAML files are used.  My project was several months old, and deleting all YAML file sin the components directory seems to have corrected this issue.

[2020-04-21 16:40] #281 closed

[2020-04-21 21:23] youngbupark opened #290 "Protobuf client update for dotnet-sdk"
## Describe the proposal

This is to update protobuf client along with https://github.com/dapr/dapr/issues/1409

[2020-04-22 12:35] ddobric commented on #288
Thanks for your feedback @amanbha .
I guess we are missing a method in DaprClientSdk to subscribe for events or similar.

For example:

`var eventReader = client.SubscribeAsync() `

[2020-04-22 17:22] amanbha commented on #288
Subscribed events are discovered by Dapr by calling on to `http://localhost:<appPort>/dapr/subscribe` endpoint to discover subscribed topics. DaprClientSDK provides methods to call into Dapr and doesnt start a web server, so route has to be configured in user app. If Aspnet core integration with dapr is used then topics can be subscribed as shown in the Routing sample and the aspnetcore integratio

[2020-04-24 14:56] ddobric opened #292 "Event not consumed in the ControllerSample when published with 'dapr publish'"
## Expected Behavior
when publishing event to topic the WebApi in ControllerSample should consume it.

dapr publish -t deposit -p '{"id": "17", "deposit": 15 }'

## Actual Behavior

The WebAi in ControllerSample does not consume event.
However when sending the same event from DaprClient sample, all works as expected.

[2020-04-25 02:17] amanbha commented on #290
@LMWF please see https://github.com/dapr/dapr/issues/1440 for proto changes.

[2020-04-25 02:45] amanbha commented on #292
@ddobric Are you running it on Windows?
Run the command as:
dapr publish -t deposit -p "{\"id\": \"17\", \"amount\": 15 }"

[2020-04-25 15:51] ddobric commented on #292
Yes @amanbha, it was Wndows.

the command you provided must be executed in the command prompt (not in PowerShell):

`dapr publish -t deposit -p "{\"id\": \"17\", \"amount\": 15 }"`

In that case all works fine.
Thanks

[2020-04-25 15:51] #292 closed

[2020-04-28 13:55] codeputer opened #294 "Actor Invocation over HTTP does NOT invoke middleware"
## Expected Behavior

DAPR allows the invocation of an Actor and it's methods over HTTP (default port 3500).  Actors are registered within a web application which listens on an assigned port (examples are 5000).  When Actors are invoked over HTTP, I don't understand why the middleware is not being invoked.

## Actual Behavior

CloudEvents and my own middleware is ignored.

## Steps to Reproduce th

[2020-04-28 17:42] amanbha commented on #294
@codeputer Could you please point me to the repo where you have this sample code.

[2020-04-28 17:45] codeputer commented on #294
I it was in that pull request  - the only test that i didn't put in was a post to an actor as opposed to a post to an endpoint.... can you restore the PR? Or should I do it from my end?

[2020-04-28 17:49] amanbha commented on #294
If you can just point me to your repo where you have the sample code with middleware registered with aspnetcore for actors. I can clone it and try it out.

[2020-04-28 21:11] codeputer commented on #294
I believe this link is what you are looking  for?
https://github.com/dapr/dotnet-sdk/pull/289/files#r416924384 ... I also added the link in the comment to issue 294.

[2020-04-30 18:47] #290 closed

[2020-05-01 19:30] codeputer commented on #294
Updated the Actor project to demo the behavior in what I believe is a bug... I'll add you to the repo so that you can download and test it.... Execute the ActorClient with the DemoActor running, and the ActorClient will fail.

[2020-05-02 18:30] codeputer commented on #294
If I'm reading the code right, I'm pretty sure the Routes that are added in the UseActor() will NOT allow a CloudEvent to be routed directly to the Actor using the URL syntax of invoking the Actor from an HTTP Request.  I'm by no means an ASP.NET expert, I'm just trying to trace in the request to port 3500, and why that doesn't invoke the middle ware.

[2020-05-03 07:27] mareklinka opened #297 "Running an actor service using dapr run and daprd produces different results"
Hello. I followed the ASP.NET Core Actor sample and created a very simple actor using F#. When running the code using `dapr run` (as mentioned in the sample), everything works as expected. However, when I run the sample using `daprd` (because I want to be able to launch the service together with other DAPR-enabled apps and debug them using VSCode), I always get an exception.

Actor code:
[code]

D

[2020-05-03 21:23] amanbha commented on #297
When you launch daprd and app separately without the cli dapr run command, the app doesnt know about the dapr port. By default the SDK makes call into dapr runtime on port 3500 or it uses port specified in env var DAPR_HTTP_PORT.
So se the env var to the port used by daprd for http so that actor app can use it OR run daprd to use 3500 as http port.

[2020-05-04 06:07] mareklinka commented on #297
Ah, makes sense. My setup is a little more complex than just one app - I'm trying to debug several DAPR applications using VSCode and the DAPR extension so I assumed this will get handled by the extension but apparently not. Setting the appropriate env. variables solved the issue.

Thanks!

[2020-05-04 06:07] #297 closed

[2020-05-04 07:07] mareklinka opened #298 "GetStateAsync/GetStateEntryAsync works when using redis but fails with SQL Server"
I have a small DAPR-enabled service which I originally wrote against the default redis state store. With that, the code worked fine. When I switched the state store to SQL Server, reading from the store started throwing exceptions.

Code:
[code]

## Expected Behavior
Calling the `Login` method should succeed.

## Actual Behavior
Calling the `Register` method succeeds and persists the data to the S

[2020-05-04 08:29] voltcode opened #299 "Consider support for netstandard 2.0 or at least NET Core 2.1 (LTS)"
According to https://dotnet.microsoft.com/platform/support/policy/dotnet-core .NET Core 2.1 is an LTS release supported until August 2021.

Please consider supporting .NET Core 2.1 to allow for wider adoption - this is currently a blocker for my organization to even consider dapr for PoC work - it's a technology that does not currently follow the Microsoft's LTS model of support.

[2020-05-04 08:34] mareklinka commented on #298
I took a closer look at the differences between the two stores:

Redis:
[code]

SQL Server:
[code]

In the SQL Server's case the response is a base64-encoded JSON which translates to `{"name":"test","phoneNumber":"4692570741"}`.

Now I'm starting to think this might be an issue with the SQL Server DAPR component.

[2020-05-04 09:03] mareklinka commented on #298
I just tried to invoke the state store API via DAPR's HTTP interface instead of the SDK.
[code]

This is the result:
![image](https://user-images.githubusercontent.com/7479226/80949817-06def380-8df5-11ea-80cf-6f30be58011b.png)

Then:
[code]
This is exactly correct. It seems to me that the SDK is performing some additional encoding and this encoding is not reversed before JSON deserialization is at

[2020-05-04 11:22] mareklinka commented on #298
Well, I cloned the repo and debugged into the `DaprClientGrpc` to see what's happening there and it all looks good. The `ConvertToAnyAsync` works as I would expect and for my test data, produces a `ByteString` of length 40:
![image](https://user-images.githubusercontent.com/7479226/80959716-a907d700-8e07-11ea-9552-a1edc211e526.png)

However, when I get the value back from SQL Server, I get back a

[2020-05-04 16:38] #288 closed

[2020-05-04 16:39] amanbha commented on #299
@voltcode Which particular nuget would you need.
For server side code, we decided to use .net core 3.0 https://github.com/dapr/dotnet-sdk/issues/15

[2020-05-04 16:43] amanbha commented on #298
Thanks @mareklinka  for reporting it and doing the very helpful troubleshooting

[2020-05-04 17:58] voltcode commented on #299
@amanbha I was not aware that dapr exists in August. We're currently using Akka.NET with some plugins to do sth similar that dapr aims to do, however not on a large scale (meaning - most of our code does not utilize actors at all, but should). Akka.NET is ok for us because it only requires netstandard 2.0  - I can plug it into any legacy .NET FX or net core 2.1 LTS service that we have.

Introduci

[2020-05-04 18:01] voltcode commented on #299
There are still many essential libraries that weren't migrated to net core, for example MS ADOMD.NET, so some projects are going to be stuck on NET FX 4.8 for ages. Regarding nuget package - I'm not sure - I mean all that are required to write full dapr apps - I suppose it's all of the ones here https://www.nuget.org/profiles/dapr.io

[2020-05-04 18:03] amanbha commented on #299
@voltcode I will keep this issue open and if there is enough demand for it we will consider it.

cc @msfussell & @rynowak

[2020-05-04 22:52] amanbha commented on #294
@codeputer Thanks for more info, I will see how configuring the routes is affecting middlewares.

[2020-05-04 23:26] codeputer commented on #294
Thanks @amanbha  - Ive dug into the code, and the UseActor puts in a lot of routes (DaprSetupFilters).. UserRouter (vs UseRouting) is involved. I'm not a SME in the ASP.NET Core incoming request pipeline - but both ports 3500/5000 are being listened to, and I think the UseActor router just needs a hook to register the middleware as the first bit in the pipeline.  The user scenario that I think I w

[2020-05-04 23:34] youngbupark opened #300 "Allow to pass W3C trace header or grpc-trace-bin to dapr api call"
## Describe the proposal

Allow to pass W3C trace header(`traceparent`) or `grpc-trace-bin` to dapr api call.

0.7.0 supports traceparent and grpc-trace-bin. Dotnet-sdk needs the way to pass `traceparent` for http or `grpc-trace-bin` metadata for grpc.

[2020-05-04 23:41] youngbupark commented on #300
@shalabhms @amanbha @LMWF It would be good to think about how to allow users to use their own trace id in dotnet-sdk, but I understand there were no strong requests from customers.

[2020-05-05 00:31] amanbha commented on #294
@codeputer  I will answer the POST/PUT part now :) . The POST call is into Dapr, and Dapr calls into Actor service as a PUT.

[2020-05-05 15:58] drub0y opened #301 "Support concept of "streaming" in Actor model"
Modern actor frameworks such as Orleans or Akka.NET provide a first class abstraction over external event systems in the form of "streams". Actors can then subscribe to these stream abstractions to receive events asynchronously without any knowledge of the backing event store or the mechanisms used to access it.

Given that Dapr has a pub/sub abstraction built-in already, it would seem that the im

[2020-05-05 16:53] amanbha commented on #301
@drub0y That would be a god addition, but this support would be needed from dapr runtime. Could you please open issue in dapr runtime.

[2020-05-05 16:56] drub0y commented on #301
Would it? If you built the SDK abstraction on top of the existing pub/sub abstraction I do not see any further requirements of the underlying runtime. Is it that you would just like to have the discussion over there of whether or not building on top of the pub/sub abstraction is the right thing to do? Happy to do it, just want to make sure the issue I open there contains the correct ask.

[2020-05-05 16:58] amanbha commented on #301
Its not about the abstraction in sdk, its about getting support from the underlying runtime to support the scenarios needed. We can continue the discussion here, could you please share a proposal for the changes needed in the SDK and then we can discuss if the existing runtime functionalities can support it.

[2020-05-05 21:23] codeputer commented on #294
LOL! I know that part!! I haven't found out how or when that occurs!  I want to find that part, as it would tell me how the POST gets into the application, and how we might put a hook there to run the middleware!  I'm busy for at least a week, as I'm transitioning off a contract (FU Corvid)

[2020-05-06 00:46] pohorely commented on #255
Hello,
accessing DI is not so difficult. We can register actors by a factory method.

Here is working example (Dapr v0.6.0):

**Usage**
[code]
**Implementation**
`AddActor` extension method implementation:
[code]

**Optional**
It is possible to use the reflection of Actor's constructor instead of the explicit factory method. I am not fan of it because it is slow and the actor class can have more c

[2020-05-06 08:02] mareklinka opened #302 "InvokeMethodAsync API is too permissive for DAPR 0.7"
I just upgraded my small DAPR playground project from 0.6 to 0.7. After that, my remote invocation calls stopped working with the following exception:
[code]
I traced this to the following DAPR source:
https://github.com/dapr/dapr/blob/41df721108185a399cf6c9096fe414bacb1d8b5d/pkg/channel/http/http_channel.go#L68

This looks like the remote invocation now requires the `HTTPExtension` to be specifie

[2020-05-06 15:44] amanbha commented on #302
@youngbupark Could you please help with it, HTTPExtension is optional as per [proto](https://github.com/dapr/dapr/blob/41df721108185a399cf6c9096fe414bacb1d8b5d/dapr/proto/common/v1/common.proto#L76) Looks like it didn't get set in Dapr when making call to AppChannel and error is returned from [here](https://github.com/dapr/dapr/blob/master/pkg/channel/http/http_channel.go#L72)

cc @LMWF

[2020-05-06 15:53] youngbupark commented on #302
This is the by-design. As we discussed in the spec review, we decided that it will be **optional** for gRPC AppChannel, but **required** for HTTP appchannel. We need to update comments on proto files--I will do it. So, dotnet-sdk needs to set HTTPExtension to default one if user didn't specify it.

I recalled that we did not have this issue when @LMWF validated the samples.. @LMWF ?

[2020-05-06 16:08] youngbupark commented on #302
I have to add the breaking change part to release note as well.

[2020-05-06 16:31] amanbha commented on #302
Thanks @youngbupark .  @LMWF In the dotnet api, can we set the verb to POST if user hasn't provided the HTTPExtension?

[2020-05-06 16:38] youngbupark commented on #302
I will update release note and add more comments to proto files.

[2020-05-06 16:59] youngbupark commented on #302
I have updated release note and create the pr to add additional comment.

[2020-05-06 19:07] LMWF commented on #302
Yes, that will work if the target app is listening on HTTP, but if it's listening on gRPC, @youngbupark  what happens if you specify HTTPExtensions and set verb to post?  Is it ignored?  If so this will work.

[2020-05-06 19:12] youngbupark commented on #302
It should work. gRPC callee user app will be able to get HTTPExtension from InvokeRequest.

[2020-05-07 00:45] #302 closed

[2020-05-07 00:50] LMWF commented on #302
Hey @mareklinka thanks for reporting.  We've fixed this in the master branch and will release it with the next release.  It sounds like you have worked around this.  If you need a refreshed nuget earlier please let us know.

[2020-05-07 02:18] yaron2 opened #304 "Update pub/sub subscription"
We need to update the pub/sub code for subscribers to match the new subscription JSON structure.

Reference: https://github.com/dapr/dapr/issues/1518#issuecomment-624765422

[2020-05-07 05:32] mareklinka commented on #302
Thanks, @LMWF (and everyone else). I think I'm fine for now, everything works if I just provide the extension myself so no need to rush a newer package for me.

[2020-05-07 05:59] jsacapdev opened #305 "ERR_STATE_STORE_NOT_CONFIGURED returned on nested folder structure"
## Description

Running a ASP.NET Core application [based on the controller sample](https://github.com/dapr/dotnet-sdk/tree/master/samples/AspNetCore/ControllerSample) with the Application in a nested folder. The application starts OK.

## Expected Behavior

When calling something like:

[code]

I should get a `200` back.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Here is a sa

[2020-05-07 16:06] amanbha commented on #305
The error mentioned that state store is not configured. Could you share the output of the daprd. If you used Dapr cli, could share it's output.

[2020-05-09 01:36] sd797994 opened #306 "when my actor instance crash down，how can i transition actor status？ except frequently call statemanager"
## Ask your question here
in my case i have some goodsserver pod (pods>=2) in my k8s cluster to provider goods api for customer call, i want to use dapr actor to hander goods stock deduction，like this:
[code]
how should I design a business model ，as small as possible to call ef or dapr-statemanager to save state?  only when actor are recycled or application are crash down(k8s pod dispatch) the act

[2020-05-09 05:28] codeputer commented on #294
Getting back to this... and I stuck on this question, but I think I understand most of the plumbing:
given that this code works (see below) - where does Dapr setup the configuration to listen on port 3500 (default Actor port), as well as 5000 (HTTP port).. I'm sure its via the DaprHttpInterceptor, and that is configured in the ActorRuntime, which is setup when an Actor is registered.... but the ro

[2020-05-09 18:21] codeputer commented on #294
So a request sent to 3500 somehow transferred to port 5000... which likely means the URL is matched to the route without regard to the port? If that is the case, why is it bypassing the middleware?

![ActorRouteon3500](https://user-images.githubusercontent.com/611541/81481736-62dbba80-91ef-11ea-89cf-79bc33bbb037.png)

[2020-05-09 19:10] codeputer commented on #294
So, thinking about it, the side-car must receive the 3500 request, and then direct to the appropriate container that is hosting that actor????  Which means all traffic to the service is hosting the actor is on the port specified (default is 5000)...

So I'm back to why the middle ware is not being invoked, when the POST comes in.

I'm thinking the UserRouter (not UserRouting) is prior to UseRoutin

[2020-05-10 17:11] codeputer commented on #294
Nearly there, but the response is encoded, and Twilio can decode (or wont).. the string I sent over very simply was "<XML>"

![ActorResponseEncoded](https://user-images.githubusercontent.com/611541/81505745-d55f9f80-92ae-11ea-8867-6d1745e47102.png)

[2020-05-11 06:55] jsacapdev commented on #305
i fired it up this morning (to get the information you asked above) and the error seems to have gone away. I will re-open if i see it again. thanks.

[2020-05-11 06:55] #305 closed

[2020-05-11 17:23] amanbha commented on #306
OnDeactivateAsync is not guaranteed to be called every time.
You can perform the savestate operations in a method or reminder call because outside of these calls, your state will not be modified.

[2020-05-12 18:49] amanbha commented on #294
@codeputer The middleware is not getting executed because of the way middlewares are being added.  I will fix this for next release.  https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors.AspNetCore/DaprActorSetupFilter.cs#L30

[2020-05-12 21:46] codeputer commented on #294
@amanbha The CloudEvents middleware is mainly for an incoming event, and the outgoing is only needed to indicate that the message was received (but not processed). Hence its not worried about the reply as much as I am for the Twilio reply - which carries instructions as to what is suppose to happen next.

If that HTTP POST is sent directly to an Actor (non-remoting), the incoming request will bypa

[2020-05-12 22:43] #294 closed

[2020-05-12 22:44] amanbha commented on #294
The PR to fix middleware  chaining is merged which closed the issue, reopening it to address the questions by @codeputer

[2020-05-13 02:45] amanbha opened #308 "Use EndpointRouteBuilder and correct the order of middleware chaining"
Use EndpointRouteBuilder and correct the order of middleware chaining, this will allow chaining of user specified middlewares with Actors.

[2020-05-13 02:45] amanbha commented on #308
This is closed by PR https://github.com/dapr/dotnet-sdk/pull/307

[2020-05-13 02:45] #308 closed

[2020-05-13 09:57] fduman opened #310 "Custom type named Actor's RegisterReminderAsync and RegisterTimerAsync method calls failing"
## Expected Behavior

On demo project, calling RegisterReminderAsync and RegisterTimerAsync methods should run without throwing exception.

## Actual Behavior

When using custom actor type name attribute this calls throws exception as actor not found

## Steps to Reproduce the Problem

- Create an actor
- Apply custom type name attribute on actor
- Implement RegisterReminderAsync and RegisterTimer

[2020-05-13 16:38] amanbha commented on #310
@fduman Thanks for reporting and contributing, me and @LMWF will review the PR.

[2020-05-13 17:33] #310 closed

[2020-05-13 22:45] rynowak commented on #300
.NET Core 3.0+ will propagate the W3C header format by default if the appropriate headers are set on the inbound request. It's also a good idea overall to add the guidance to set [this property](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activity.defaultidformat?view=netcore-3.1#System_Diagnostics_Activity_DefaultIdFormat) to the W3C value in `Main()` if you're using W3C tracin

[2020-05-14 21:32] LMWF opened #312 "SDK changes corresponding to dapr/dapr 1038 - Fix actor activation and method invocation logic to handle app restarts"
This corresponds to https://github.com/dapr/dapr/issues/1038 in dapr/dapr.

[2020-05-14 22:16] #304 closed

[2020-05-15 21:44] LMWF commented on #298
This was moved to dapr/components-contrib.

[2020-05-15 21:44] #298 closed

[2020-05-15 21:46] LMWF commented on #278
@DavidHoerster does this still repro on the latest version of dapr and dapr/dotnet-sdk (0.7)?

[2020-05-15 22:10] youngbupark opened #314 "Update proto files for 0.8.0 release"
## Describe the proposal

Update proto files for 0.8.0 release

[2020-05-17 00:06] #312 closed

[2020-05-25 18:29] plaisted opened #316 "Actors not registering when aspcore run using IIS Express."
Win10/64
daprd v0.7.1
placement v0.7.1
netcoreapp3.1 / Dapr.Actors.AspNetCore 0.7.0-preview01

## Expected Behavior
* Start aspcore hosting actor in Visual Studio using default IIS Express launching.
* Start daprd sidecar pointing to aspcore site.
* Call daprd sidecar to invoke actor method.
* aspcore actor created and called.

## Actual Behavior
When daprd called, error is returned:
`{"errorCode"

[2020-05-25 18:44] plaisted commented on #316
Dug in a little deeper, this is due to IIS Express handling binding different than just using Kestrel.

Using kestrel with the default application URL (`http://localhost:5000`) also allows connections from `http://127.0.0.1:5000`. Kestrel behind IIS Express does not, connections must be done using `localhost:5000`.

I'll keep this issue open to suggest the sample project launchSettings.json be upd

[2020-05-28 06:14] chleit commented on #255
@pohorely Sorry for the late answer. I've discussed something similar with @amanbha but it was not as nice as your solution.
I understand that to completely refactor the sdk for dependency injection would break to much so I've redacted my pull request.

[2020-05-28 06:14] #255 closed

[2020-05-28 07:07] jjindrich opened #317 "GrpcService demo with Dapr"
Hi team, please can you help me how to implement simple gRpc server behind Dapr ? We can use it Greeting gRpc service (https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.1&tabs=visual-studio#create-a-grpc-service). What I need is to understand how to modify server to be accessible from Dapr sidecar - how to publish endpoint. I don't want to publish REST api on

[2020-05-29 09:27] jjindrich commented on #268
Hi @GennadiiSvichinskyi, please can you share you sample ? I'm looking for simple greeter demo using gpcs protocol

[2020-05-29 10:00] jjindrich commented on #317
I run grpc server with Dapr, but I don't know how to invoke method with grpc.
Server is running:
dapr run --app-id jjgrpcserver --app-port 5000 --protocol grpc --grpc-port 50000 dotnet .\jjgrpc-server.dll

I don't know how to call SayHello method in my grpc service

[2020-05-29 16:30] amanbha commented on #317
@jjindrich For Dapr to invoke your service over gRPC, you will have to implement gRPC server as per this proto https://github.com/dapr/dapr/blob/release-0.7/dapr/proto/daprclient/v1/daprclient.proto#L24

[2020-05-29 17:38] jjindrich commented on #317
Thank, you is there any sample how to implement it?

[2020-05-29 19:58] LMWF commented on #314
Reopening to track an additional proto change for bindings.

[2020-05-29 20:34] igalfsg commented on #268
@jjindrich  here is the dapr official demo https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs, and here is a demo of my implementation https://github.com/coding-flamingo/K8sandHelm/blob/master/K8sFrontEnd/Pages/APITest.razor

[2020-06-01 01:36] codeputer commented on #268
Where is GreeterBase coming from - the proto files?

[2020-06-01 07:07] jjindrich commented on #268
@GennadiiSvichinskyi many thanks for sharing demo !

[2020-06-01 07:08] jjindrich commented on #317
Shared this demo https://github.com/GennadiiSvichinskyi/test-grpc-dapr

[2020-06-01 07:08] #317 closed

[2020-06-01 07:25] jjindrich commented on #268
@GennadiiSvichinskyi I tried to run your demo, but getting this error on server side:
Could not update sidecar metadata for cliPID: PUT http://127.0.0.1:58069/v1.0/metadata/cliPID giving up after 5 attempts
Updating metadata for app command: dotnet run
Could not update sidecar metadata for appCommand: PUT http://127.0.0.1:58069/v1.0/metadata/appCommand giving up after 5 attempts

[2020-06-01 18:09] GennadiiSvichinskyi commented on #268
@jjindrich , http2 is Okay. As a note - I tested the solution with dapr in a 'standalone' mode locally. So, probably in 'kubernetes' mode it might have different ports or some additional settings

[2020-06-02 08:06] sd797994 opened #321 "how to use autofac in actorservice?"
in asp.net core we can use ioc containers like autofac  to injection services，how can i use autofac or other ioc framework to  injection services in actorservice?
`public class MyActorService : Actor, IMyActorService`
`{`
    `//how to injection services to constructor??`
    `public MyActorService(ActorService actorService, ActorId actorId) : base(actorService, actorId)`
`}`

[2020-06-02 12:28] jjindrich commented on #268
@GennadiiSvichinskyi I retested locally again in following steps:
1. starting server: PS C:\temp\test-grpc-dapr-master\test-grpc-dapr-master\TestGrpcWithDapr\bin\Debug\netcoreapp3.1> dapr run --app-id testGrpcDaprService --app-port 5000 --protocol grpc --log-level debug dotnet run
2. starting client: PS C:\temp\test-grpc-dapr-master\test-grpc-dapr-master\TestGrpcWithDapr.Client\bin\Debug\netcoreap

[2020-06-02 12:34] codeputer commented on #321
Autofax is dependency injunction part of IOC, while AOP, as I understand it, is totally different.

I'm interested in the dependency injection.

Also, although we have an SDK proxy that feels like calling an Actor is a local library, under the covers are service and data contracts that are used in the serialization and messaging required to transport the request.  AOP, and it's introduction in the

[2020-06-02 12:37] codeputer commented on #268
Clear your state containers and issue DAPR INIT to reset your state containers.  I find this clears this error.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jaroslav Jindřich <notifications@github.com>
Sent: Tuesday, June 2, 2020 6:28:35 AM
To: dapr/dotnet-sdk <dotnet-sdk@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Comment <comment@nor

[2020-06-02 13:37] jjindrich commented on #268
I did uninstall and init again, same result.

[2020-06-02 17:09] GennadiiSvichinskyi commented on #268
@jjindrich you shouldn't run from 'bin' folders with 'dotnet run'. Go to the folder with .csproj file and run from there. Both server and client. I think that's the core of your problem.

[2020-06-02 18:23] jjindrich commented on #268
@GennadiiSvichinskyi Thank you, now is working correctly.

[2020-06-02 18:27] amanbha commented on #321
please see following to inject any dependency into Actors
https://github.com/dapr/dotnet-sdk/issues/171

[2020-06-02 18:29] amanbha commented on #316
@plaisted Thanks for opening and adding the workaround. Would you like to do a PR for this?

[2020-06-03 02:58] sd797994 commented on #321
thanks, bro, it's works~

[2020-06-03 02:58] #321 closed

[2020-06-03 11:21] jjindrich commented on #268
@GennadiiSvichinskyi please can you help me how to call gRpc service (your greeting service running in Dapr) from outside of Dapr ?
I tried to call var client = new DaprClientBuilder().UseEndpoint("http://localhost:54702").Build(); but not returning message.

[2020-06-03 11:40] jjindrich commented on #268
@GennadiiSvichinskyi If I good understand, when calling with dapr, on server side is not used GreeterService.SayHello method, correct ?

[2020-06-03 15:32] GennadiiSvichinskyi commented on #268
@jjindrich, right. :) I've updated the solution with invoking existing GreeterService.

[2020-06-03 18:10] #314 closed

[2020-06-03 21:59] RazorscreaM opened #322 ".net core sample (master branch) not working"
## Ask your question here
Right off the bat, im very new to DAPR, and if i do something wrong please point me in the right direction so to the point:
after installing everything mentioned in the docs when i run the sample i get the following for the
Actor client:

`dotnet run
Making call using actor proxy to save data.
Unhandled exception. Dapr.Actors.DaprException: error activating actor type Dem

[2020-06-04 04:20] amanbha commented on #322
master branch is tracking the next release and contains changes for dapr runtime 0.80 to be released next week.
For Dapr runtime 0.7.0, please use samples from release-0.7.0 branch

[2020-06-04 16:44] RazorscreaM commented on #322
thx it fixed the issue, closing the ticket.

[2020-06-04 16:44] #322 closed

[2020-06-05 14:30] simonrhart opened #323 "DaprClient.InvokeMethodAsync throwing an exception: Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: Connection refused")"
## Expected Behavior

I was expecting a worker .NET core 3.1 service to be able to call another Dapr service via the DaprClient class using the dapr app name.

## Actual Behavior

Attempting to invoke the following code:
`
            Dapr.Client.Http.HTTPExtension httpExtension = new Dapr.Client.Http.HTTPExtension()
            {
                Verb = HTTPVerb.Post
            };

            wh

[2020-06-05 20:53] amanbha commented on #323
@simonrhart Could y ou share the commands you sued to run these apps on local machine?
Also please share the http call which you made?

cc @LMWF

[2020-06-05 21:13] LMWF commented on #323
@simonrhart does this work on subsequent calls or does it fail forever?

[code]

[2020-06-08 09:48] simonrhart commented on #323
@amanbha

Aman,

Hi, Sure, to run locally I used the following command for the Web API:
dapr run --app-id location-api --app-port 5001 dotnet run

For the worker I issued this command:
dapr run --app-id location-worker --app-port 5000 dotnet run

[2020-06-08 10:06] simonrhart commented on #323
@LMWF

Leon, please see below the log output when running the API service locally:

`Starting Dapr with id location-api. HTTP Port: 52842. gRPC Port: 52843
[93;1m== DAPR == time="2020-06-08T11:04:45.8482188+01:00" level=info msg="starting Dapr Runtime -- version 0.7.1 -- commit 16838e8" app_id=location-api instance=sihart-zbook scope=dapr.runtime type=log ver=0.7.1
[0m
[93;1m== DAPR == time="20

[2020-06-08 12:39] simonrhart commented on #323
Hi chaps,

I have figured out the problem, although not sure why this is. If I start the worker process without an app-port specified in the cli it works! I don't actually need a port exposed because this process is a worker, it calls the web api via the SDK using the device discovery features.

I have not tried this in Kubernetes yet, so assume if removing the app port annotation from the yaml fi

[2020-06-08 18:51] #306 closed

[2020-06-08 18:51] amanbha commented on #306
@sd797994 feel free to reactivate if you have more questions.

[2020-06-08 18:58] amanbha commented on #323
Yes, @simonrhart Dapr waits for the app to respond on the port if the port is specified. ITs pringted in the logs:
[code]

From the SDK perspective, it can't figure this out, to it the call is failing, the reason could be anything.

[2020-06-08 19:00] amanbha commented on #323
Closing this for now, please reopen if more help is needed.

[2020-06-08 19:00] #323 closed

[2020-06-08 19:25] LMWF commented on #323
We have an issue open to make that app port log more actionable buy the user.

[2020-06-08 19:52] simonrhart commented on #323
Thanks guys

[2020-06-11 06:46] perokvist opened #327 "Client Sample - Serialization Error - (CosmosDB state store)"
Running the [client sample ](https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs)(with only the state calls), using the client nuget (instead of sdk project ref) **AND** the CosmosDB state component;

Write, read and delete is expected to run.

But, on running the sample - it does write, then fails at read with the following ex;

[code]

The item in cosmosDB looks l

[2020-06-11 08:39] jsacapdev opened #328 "Dapr oauth middleware for .NET Core applications"
A question about the oauth middleware in dapr (https://github.com/dapr/docs/blob/master/howto/authorization-with-oauth/README.md).

My scenario is that I have a (.net core) web api secured using Microsoft Identity Web, and needs a JWT token that i get from Azure AD.

The Microsoft Identity Web middleware (https://github.com/AzureAD/microsoft-identity-web) in the .net core application performs the

[2020-06-11 15:44] jsacapdev opened #329 "Upgrade to from 0.7.0 to 0.8.0 results in ERR_STATE_STORE_NOT_CONFIGURED"
## Expected Behavior

Call the API at `http://localhost:3500/v1.0/invoke/bankingapi/method/deposit` or `http://localhost:5000/deposit` and get a `200` back.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Repository can be found here:

https://github.com/jsacapdev/dapr.poc

1. Open in vs code
2. cd into `src/DaprPoc.BankingApi`
a. run it up on debug mode or
b. run it from the comma

[2020-06-11 15:56] youngbupark commented on #327
@amanbha @LMWF Seems like this is cosmos db specific, but also I wonder if there is the property that default .net core serializer cannot handle because @perokvist in gitter said newsoftjson can handle it.

[2020-06-11 16:02] jsacapdev commented on #328
got a response under https://github.com/dapr/dapr/issues/1679. closing this.

[2020-06-11 16:02] #328 closed

[2020-06-11 16:04] perokvist commented on #327
In the sample the value is an object with two strings, so that should not be a problem(?) when deserializing.
But it looks like something strange is going on when it serializes and stores the item. I'm expecting the value in CosmosDb to be "readable" json. Or I'm I wrong?

[2020-06-11 16:12] amanbha commented on #329
@jsacapdev What state store were you using? Did you update both cli and and the dapr runtime.
Could you share the steps for upgrading from 0.7.0 to 0.8.0

[2020-06-11 16:15] amanbha commented on #327
@perokvist What was the csharp object which you were passing? DaprClientBuilder has a method to  UseJsonSerializationOptions to provide json serialization options to configure the serialization behavior.

[2020-06-11 16:18] perokvist commented on #327
When running the sample, its the `Widget` - https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs#L85

And the options is set in the `builder `here - https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs#L36

[2020-06-11 16:21] jsacapdev commented on #329
@amanbha i used the steps here:
https://github.com/dapr/dapr/releases#upgrading-to-dapr-0.8.0
`dapr uninstall --all`
`dapr init`

now if i run:
[code]

can you confirm the CLI version is correct?

[2020-06-11 16:22] amanbha commented on #327
@perokvist While this could be cosmosdb component implementation related. What I was suggesting is that to handle the serialization for now with cosmos db you can provide your own SerializationOptions.

[2020-06-11 16:24] amanbha commented on #329
This is older cli, you would need to get the new cli as well (dapr.io)
Linux : wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | /bin/bash
Windows: powershell -Command "iwr -useb https://raw.githubusercontent.com/dapr/cli/master/install/install.ps1 | iex"
Mac:  curl -fsSL https://raw.githubusercontent.com/dapr/cli/master/install/install.sh | /bin/bash

[2020-06-11 16:37] perokvist commented on #327
I suspect that the component expects the passed value to be in the json, and does not do anything with it in the component.
But some how the json ends up `eyJzaXplIjoic21hbGwiLCJjb2xvciI6InllbGxvdyJ9` probably on the way.
How could any other json options than the one already in the sample mitigate this?
Could it be something like #268 ?

[2020-06-11 16:44] jsacapdev commented on #329
@amanbha thanks. (as you can probably tell) i am just getting started with dapr. i will remember the upgrade path for the future. thanks again from the prompt response.

[2020-06-11 16:44] #329 closed

[2020-06-11 16:50] amanbha commented on #327
It doesn;t seem related to #268.
I am also surprised why json turned into `eyJzaXplIjoic21hbGwiLCJjb2xvciI6InllbGxvdyJ9` Json option is to control serialization, deserialziation behavior, this doesn;t seem json to me.
On gitter, you mentioned Newtonsoft, is Newtonsoft able to deserialize this string as its not json?

[2020-06-11 17:07] perokvist commented on #327
I haven't tried Newtonsoft, I think that was someone else mentioning that idea.
But either its something between client and component, the component or something in CosmosDB.
I don't know what it could be in cosmos, and a don't see anything in the component code (if not the lib used does something). Strange indeed.

[2020-06-11 17:22] amanbha commented on #327
@perokvist Sorry for the confusion with Newtonsoft. We will take a look at this.

[2020-06-12 12:03] jsacapdev commented on #327
I am seeing a similar type of thing. My scenario is slightly different because it uses the `services.AddControllers().AddDapr()` in a web api. The repository can be found at:

https://github.com/jsacapdev/dapr.poc

Steps:

1. switch to using the cosmos store
2. call the api on:
[code]
3. i get a 200 back
4. call the api again with the same call as in step 2
5. the following is returned back

[code

[2020-06-12 19:26] amanbha commented on #327
@jsacapdev Are you also using cosmos as the state store, would it be possible to share the C# class which you are storing in the state store.

[2020-06-15 06:20] jsacapdev commented on #327
@amanbha yes, using cosmos to save the state store. the class looks almost the [same as the one in the samples repository](https://github.com/dapr/dotnet-sdk/blob/master/samples/AspNetCore/ControllerSample/Controllers/SampleController.cs) if not identical. For completeness, you can find the code here:

https://github.com/jsacapdev/dapr.poc/blob/master/src/DaprPoc.BankingApi/Controllers/AccountCont

[2020-06-15 10:47] LayZeeDK opened #330 "docs: typo in get started guide"
## Expected Behavior

`serializable` in `docs/get-started-dapr-actor.md`

## Actual Behavior

`serialziable` in `docs/get-started-dapr-actor.md`

## Steps to Reproduce the Problem

N/A

[2020-06-15 12:44] LayZeeDK opened #332 "docs: generic type missing in InvokeAsync example in get started guide"
## Expected Behavior
Both request and response generic types are defined.

[code]

in `docs/get-started-dapr-actor.md`.

## Actual Behavior
Only response generic type is defined which breaks the build.

[code]

in `docs/get-started-dapr-actor.md`.

## Steps to Reproduce the Problem

[2020-06-15 13:26] LayZeeDK opened #334 "docs: wrong actor method names in get started guide"
## Expected Behavior

Invoked RPC methods are called `SetDataAsync` and `GetDataAsync`.
in `docs/get-started-dapr-actor.md`.

## Actual Behavior

Invoked RPC methods are called `SetMyDataAsync` and `GetMyDataAsync`.
in `docs/get-started-dapr-actor.md`.

## Steps to Reproduce the Problem

[2020-06-15 19:10] #330 closed

[2020-06-15 19:12] #332 closed

[2020-06-15 19:32] #334 closed

[2020-06-16 11:59] asumner opened #336 "How do we use Dapr with .net framework 4.8 service?"
/area runtime

## Ask your question here
We have containerised a microservice that has a third party dependency on the  .net framework for the foreseeable future. Since we deploy to a windows node until Dapr 0.9 (hopefully) we can't get a sidecar. So for now how can we add Dapr to the c# service code. The .net sdk appears to be only for .net core?(url)

[2020-06-16 12:41] asumner commented on #299
@amanbha count me in we have a Microsoft third party dependency on .net standard/4.8 service.  That service can't come to the Dapr party. Providing a .net framework SDK will provide many existing legacy apps to be modernised. However, if in Dapr 0.9 sidecar on windows containers makes it to the release then I think we are sorted.

[2020-06-16 17:27] amanbha commented on #336
closing as dupe of https://github.com/dapr/dotnet-sdk/issues/299

[2020-06-16 17:27] #336 closed

[2020-06-16 17:29] amanbha commented on #299
@asumner Dapr's .net sdk is targeting ,netcore 3.1.
This doesn't preclude services running with full framework.
When services need to call into Dapr side car, they can always make calls to Dapr over http.
https://github.com/dapr/docs/tree/master/reference/api

Could you please explain how windows container will help in this scenario?

[2020-06-16 22:31] amanbha commented on #278
Closing it due to lack of response, feel free to reopen, if it still happens.

[2020-06-16 22:31] #278 closed

[2020-06-19 16:38] youngbupark opened #337 "Add k8s deployment yaml to demoactor example"
## Describe the proposal

This is to give users the example of how to deploy actor services to k8s cluster.

[2020-06-21 19:35] amanbha opened #339 "Enable symbols package, sourcelink"
## Describe the proposal

[2020-06-21 19:36] amanbha opened #340 "Enable publishing of nuget packages on tags."
## Describe the proposal

[2020-06-23 20:35] #251 closed

[2020-06-23 21:34] #339 closed

[2020-06-23 21:35] #340 closed

[2020-06-24 18:47] vinayada1 opened #341 "Add appcallback versioning to HTTP APIs"
## Expected Behavior
Add appcallback versioning to HTTP APIs. Make necessary changes to dotnet-sdk and samples
Related to: dapr/dapr#1678

[2020-06-25 18:16] amanbha commented on #341
Closing it as the changes in runtime are not needed for this.

[2020-06-25 20:48] #341 closed

[2020-07-10 13:39] akkie opened #342 "Null pointer exception on actor initialization"
## Expected Behavior
I have a service that registers an actor. On `dapr run` the service should start without errors.

## Actual Behavior

With the following command:

[code]

A null pointer exception is thrown:
[code]

## Steps to Reproduce the Problem
Checkout https://github.com/PlanBGmbH/dapr-vote and execute the following command in the `actors` directory:

[code]

[2020-07-15 01:23] mukundansundar opened #343 "Add support for DAPR_API_TOKEN injection into calls"
## Describe the proposal
Add support to inject the DAPR_API_TOKEN from the environment automatically for all calls in the client.
Authentication support for DAPR APIs as seen [here](https://github.com/dapr/docs/tree/master/howto/enable-dapr-api-token-based-authentication)

[2020-07-15 08:00] akkie commented on #342
Method parameter names in F# interfaces are optional.

This declaration is valid but fails:
[code]

To workaround this issue,, the method must be declared as:
[code]

[2020-07-16 01:56] LMWF commented on #342
Thanks for sharing a workaround.

The dapr .net sdk only supports c# currently.

[2020-07-16 11:28] marounb98 opened #512 "Unable to send custom http headers using DaprClient"
## Expected Behavior

I am using service invocation in order to call an endpoint that require a specific http header.I am using DaprClient to accomplish this.
In other terms, microservice A want to invoke a method on microservice B that require a specific http header.

## Actual Behavior
 The issue was that the endpoint i am calling needs specific http headers in order to function, this is why dap

[2020-07-17 07:11] LukePammant commented on #342
I'm starting to get into F# and would love to use it w/ Dapr. Are there any plans for a F# friendly package?

[2020-07-17 16:51] amanbha commented on #342
Thats would be a good addition, there are no plans to make a F# friendly package as of now, We would appreciate your contribution if you want to do a PR for it.

[2020-07-17 20:11] rynowak commented on #342
This seems like a bug that could be fixed though right? Is this a protocol limitation or just a bug in the IL generation code?

[2020-07-17 20:27] amanbha commented on #342
Yes, it can be seen as a bug when it comes to enabling F#. At this point core focus is to enable C# development and fix issues found for it.

[2020-07-20 10:53] akkie commented on #268
The question is why Dapr uses JSON serialization/deserialization internally for `Any` instead of using `Any.Pack` and `Any.Unpack` which protobuf supports out of the box?

[2020-07-20 11:12] pankajarav opened #344 "How to call HTTP get request from dapr"
Hi, I want to call HTTP get request from **.net core console application** and if request will get fail then it should retry it.I did not find any example regarding this.Please help me.

[2020-07-21 14:54] amolenk opened #345 "Secret Store configuration provider doesn't/cannot work"
## Expected Behavior

I can use the Dapr secret configuration provider to get secrets from Azure Key Vault.

## Actual Behavior

The configuration provider tries to load the secrets (configured using the the DaprSecretDescriptors) as soon as the application starts. To do this it makes a call to the Dapr sidecar. However, the sidecar does not accept any incoming connections yet because it's still b

[2020-07-21 16:00] amanbha commented on #345
@amolenk Then configuration provider will not work until app starts listening on the specified port as Dapr runtime waits on a response from app. This pull request shows how to workaround this https://github.com/dapr/dotnet-sdk/pull/262/files

@LMWF We should disable building and publishing the configuration provider until it can work and dapr can serve secrets without waiting for app to listen on

[2020-07-21 18:18] LMWF commented on #300
Need to validate

[2020-07-21 18:28] msfussell commented on #91
Closing issue. No work needed here

[2020-07-21 18:28] #91 closed

[2020-07-21 18:35] shalabhms commented on #300
@LMWF , this has been validated . Need to have workaround fix https://github.com/dapr/dapr/pull/1816 for the scenario to work. You can find the zipkin trace image for the test in the PR.

[2020-07-21 18:38] amanbha commented on #8
closing in favor of https://github.com/dapr/dotnet-sdk/issues/9

[2020-07-21 18:38] #8 closed

[2020-07-21 18:39] amanbha commented on #47
Tracked by https://github.com/dapr/dotnet-sdk/issues/300

[2020-07-21 18:39] #47 closed

[2020-07-21 18:46] amanbha commented on #344
@pankajarav For service invocation, the example is shown here https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs#L111
Retries would be custom to your app logic, handle the exception and retry from it.

[2020-07-21 18:50] amanbha commented on #49
runtime issue for this will not be fixed.

[2020-07-21 18:50] #49 closed

[2020-07-21 18:54] amanbha commented on #256
@cmendible since Secret store configuration cannot be used with aspnet core currently due to the requirement that app must start a server before secret api is available in runtime. Would it be ok, if we stop building the Dapr.Extensions.Configuration.csproj project and dotn publisht he nuget for it unless it works out of the box.

[2020-07-21 18:55] amanbha commented on #202
Closing as the PR was closed due to no activity from contribtutor.

[2020-07-21 18:55] #202 closed

[2020-07-21 18:58] amanbha commented on #55
Closing this proposal, will track with a new issue if required.

[2020-07-21 18:58] #55 closed

[2020-07-21 19:00] LMWF opened #346 "Subscribe callback should be able to return response object"
This is to track corresponding changes in the .net repro for the following:
https://github.com/dapr/dapr/issues/1757

[2020-07-21 19:00] #173 closed

[2020-07-21 19:03] LMWF opened #347 "Multi pub/sub support"
This is to track changed needed in the .net repo for the following:
https://github.com/dapr/dapr/issues/1709

[2020-07-21 19:09] amanbha commented on #316
@plaisted Does adding comments in launchSettings.json for IIS good for this issue?

[2020-07-21 19:19] plaisted commented on #316
Apologies for not responding. I am unable to PR due to not having an employer approved CLA (been working on that). I think a note in documentation about not using IIS Express (or needing to update launchSettings.json if you do) would probably be good. This would affect all of the aspcore Dapr setups (not just Actors) since the Dapr side car uses loopback IP instead of localhost.

[2020-07-21 19:58] amanbha commented on #316
Thanks @plaisted we will update the docs (or launchsettings.json)

[2020-07-22 17:27] cmendible commented on #345
The extension was meant to be used as any other configuration provider for .NET, but today the only way to make it work is to use a workaround such as the one I added in the PR mentioned by @amanbha.

[2020-07-22 17:43] amanbha commented on #345
Thanks @cmendible Could you please share the other scenarios, outside of aspnetcore, because currently users are running into the issue https://github.com/dapr/dotnet-sdk/issues/345. So if there are no other scenarios for this extension then I would prefer to stop shipping it until it can be used without a workaround.

[2020-07-22 18:17] amanbha commented on #345
@amolnek since this extension doesn't work as of now unless Dapr runtime supports calling apis unless the app has responded on app port.

[2020-07-22 18:17] #345 closed

[2020-07-24 16:37] youngbupark opened #350 "deactivation error under high RPS"
Moving from https://gitter.im/Dapr/actors?at=5f1af57349bae20601180ea7

We configured our C# Actor with a 10 minutes ActorIdleTimeout, as this actor population is always increasing (new orders coming in) and we do not need them in memory after a while.
[code]
In stress conditions on a AKS cluster, we see these errors coming from the pods of the aforementioned actor.
[code]
Looking at # errors VS ne

[2020-07-24 16:38] youngbupark commented on #350
@dabedin let's discuss the issue here.

[2020-07-24 16:43] youngbupark commented on #350
@dabedin This issue comes when dapr sidecar fails to call deactivation callback endpoint of your actorservice. it means your actor service is not available to respond to deactivation request under high load. Can you please share logs of actorservice side? please set your asp.net actor service to the lowest log level.

[2020-07-29 09:19] akkie commented on #268
Today I stumbled over the same issue @GennadiiSvichinskyi mentioned previously: https://github.com/dapr/dotnet-sdk/issues/268#issuecomment-605427567

A repeated field will not be deserialized! The .NET protobuf implementation uses the [Google.Protobuf.Collections.RepeatedField]( https://developers.google.com/protocol-buffers/docs/reference/csharp/class/google/protobuf/collections/repeated-field-t-

[2020-07-29 18:26] amanbha commented on #268
Thanks for reporting it @akkie . Would love to have you contribute the fix, please let me know.
Could you also clarify how does the issue which you linked above refers to this one?

[2020-07-29 18:43] akkie commented on #268
Sure, will try to contribute the fix. Would it be OK to replace the internal JSON encoding with the proto based serialization for the any type? Are there any edge cases I don't see currently?

Which linked issue do you mean exactly? I've linked two.

[2020-07-29 19:19] amanbha commented on #268
Great thanks @akkie. I was referring to https://github.com/PlanBGmbH/dapr-vote/issues/2.
Currently all methods us System.Text.Json to serialize deserialize for methods like InvokeMethod, InvokeBinding, Publish, SaveState, it also takes options for the serializer. Would changing it internally change the behavior for those methods?

[2020-07-30 12:47] tomkerkhove opened #351 "Provide stable NuGet package releases"
## Describe the proposal
Provide stable NuGet package releases instead of only preview packages on NuGet.org.

[2020-07-30 14:53] tomkerkhove opened #353 "What's the best approach to debug actors in Visual Studio"
This might be a stupid question but if we need to run our apps with following command (based on [sample](https://github.com/dapr/dotnet-sdk/blob/master/docs/get-started-dapr-actor.md#run-actor)):
[code]

How do we debug the code in Visual Studio? Clearly I'm missing something.

[2020-07-30 15:07] tomkerkhove opened #354 "What's the best approach to run actor service inside a container?"
What's the best approach to run actor service inside a container? Is there some guidance on how to approach this?

From what I'm seeing you can either use the CLI or Kubernetes ([docs](https://github.com/dapr/docs/tree/master/howto/invoke-and-discover-services#setup-an-id-using-kubernetes)) but what if we want to run it on Docker Compose with Visual Studio?

[2020-07-30 16:11] codeputer commented on #353
get it running first dapr..... then do this in visual studio...

Debug-Attach To Process  and look for the appname.dll  - so in your case - myapp.dll

So easy, not documented, and wow saves me SO much time.... do this once, and re-attach can be a short-cut - Ctrl-Alt-P I think

[2020-07-30 16:13] amanbha commented on #346
@LMWF This doesn;t need a change in the sdk as .net sdk doesn't provide a callback. Pulling in the new protos from the dapr runtime would be enough for this. Protos would be pulled in multi-pubusb work as well.

[2020-07-30 17:55] amanbha commented on #354
@tomkerkhove Please see this sample to running app with docker compose https://github.com/dapr/samples/tree/master/10.hello-docker-compose

[2020-07-30 17:58] amanbha commented on #353
Thanks @codeputer  for sharing, @tomkerkhove you can attach debugger to the process when launching with cli.
Please feel free to reopen if you have more questions.
There is a preview VS code extension for Dapr, it would evolve overtime, please feel free to open issues, feature requests for extension directly in https://github.com/microsoft/vscode-dapr#:~:text=Join%20GitHub%20today%20%20%20%20Name%

[2020-07-30 17:58] #353 closed

[2020-07-30 18:00] amanbha commented on #351
@tomkerkhove Dapr project is currently in alpha release. We will provide stable nuget packages once Dapr reaches a stable v1.0 version.

[2020-07-30 18:00] #351 closed

[2020-07-30 18:01] amanbha commented on #344
Please fell free to reopen if you have further questions.

[2020-07-30 18:01] #344 closed

[2020-07-30 18:09] amanbha commented on #316
@plaisted Created the PR for this https://github.com/dapr/dotnet-sdk/pull/355 Please take a look at it and let me know if you have any comments/suggestions.

[2020-07-30 18:28] amanbha opened #356 "Remove retry options from state apis."
Remove retry options for state apis once the issue in runtime is implemented https://github.com/dapr/dapr/issues/1861

[2020-07-30 18:36] #354 closed

[2020-07-30 19:38] tomkerkhove commented on #351
From a user perspective it's very odd that the runtime has stable releases but the SDK only has prereleases but one can only suggest.

[2020-07-30 19:49] amanbha commented on #351
@tomkerkhove Dapr runtime doesn't have stable releases yet. It hasn't released a v1.0 version yet. Runtime is still in alpha stage.

[2020-07-31 05:28] tomkerkhove commented on #351
I was more referring to that NuGet packages have the -preview suffix and the runtime just has stable releases in terms of SemVer but it's fine.

[2020-07-31 07:01] tomkerkhove commented on #353
Any plans to provide integration for this in Visual Studio?

[2020-07-31 07:32] tomkerkhove commented on #353
This doesn't work for me 🤔 I presume you've used `dapr run` in a command line and attached to that or?

[2020-07-31 08:24] tomkerkhove commented on #354
That was helpful, thanks!

[2020-07-31 08:26] tomkerkhove commented on #354
Would it be useful if I send a PR to extend this sample with a demo?
https://github.com/dapr/dotnet-sdk/tree/master/samples/Actor

[2020-07-31 09:46] tomkerkhove commented on #255
Are there plans to provide this built-in so that I don't have to use this?

[2020-07-31 14:05] akkie commented on #268
@amanbha

It was not possible to use `Any.Pack` or `Any.Unpack` for any type, because these methods can only handle messages based on the `Google.Protobuf.IMessage` type. So I've implemented two conversion methods. If a type based on `Google.Protobuf.IMessage` is given then it uses the protobuf conversion and for all other types it uses JSON based conversion.

Please see: #358

[2020-07-31 15:42] amanbha commented on #354
@tomkerkhove yes, that would be very helpful, thanks!

[2020-07-31 15:44] amanbha commented on #353
At this time, VS Code extension will be the priority to provide experience across Linux, Mac and windows.

[2020-07-31 15:53] tomkerkhove commented on #353
Ok, thanks!

Using Docker compose and VS Container Tools fixed this for me.

[2020-08-03 17:15] #268 closed

[2020-08-03 19:56] #316 closed

[2020-08-04 11:46] czmirek opened #360 "Reminder fires twice when it should fire only once"
## Expected Behavior

- Invoke an `IRemindable` actor method that registers a reminder with 5 second due time and 5 second period
- `ReceiveReminderAsync` is fired and `UnregisterReminderAsync` is invoked.
- After invoking `UnregisterReminderAsync` I expect the method `ReceiveReminderAsync` not to be fired again.

## Actual Behavior

- `ReceiveReminderAsync` is fired twice even after calling `Unre

[2020-08-04 17:36] amanbha commented on #360
We are fixing the reminder firing logic in dapr runtime. This is the issue https://github.com/dapr/dapr/issues/973

[2020-08-04 17:36] amanbha commented on #360
Transferring it to dapr/dapr repo.

[2020-08-04 20:18] #346 closed

[2020-08-04 20:20] amanbha commented on #300
dapr runtime added a workaround until grpc-dotnet client is fixed.

[2020-08-04 20:20] #300 closed

[2020-08-04 20:23] amanbha commented on #256
closing the issue until we resurrect the secret store configuration provider.

[2020-08-04 20:23] #256 closed

[2020-08-04 20:25] amanbha commented on #337
dupe of https://github.com/dapr/dotnet-sdk/issues/96

[2020-08-04 20:25] #337 closed

[2020-08-04 20:29] amanbha commented on #215
fixed with https://github.com/dapr/dotnet-sdk/pull/214

[2020-08-04 20:29] #215 closed

[2020-08-04 21:32] #356 closed

[2020-08-04 22:15] #343 closed

[2020-08-06 18:56] LukePammant opened #362 "Allow custom serializers for System.Text.Json (for better F# support)"
## Customizable JSON Serialization

 I am using F# it it appears to not play well with the new System.Text.Json (de)serialization. It would be great to be given an option to set the serializer or deserializer for the Dapr package for communication to the state store and between actors. In the actor runtime configuration maybe something like `actorRuntime.UseNewtonSoftJson()`.

[2020-08-06 23:03] pruthvidhodda opened #363 "Replace deprecated cli options and k8s annotations"
## Describe the proposal

This issue is to track changes needed in dotnet-sdk as part of [this epic](https://github.com/dapr/dapr/issues/1717).

[2020-08-07 17:57] LukePammant commented on #362
Is this something that you guys would be interested in supporting or is it a non-starter for performance reasons? I wouldn't mind taking a stab at it but don't want to waste time on it if its not something that is wanted.

[2020-08-07 18:54] amanbha commented on #362
@LukePammant We would like to continue to use System.Text.Json for json deserializtion/serialziation so Actor runtime will not take dependency on Newtonsoft.
However I think support for other serializers can be added for state, support can be added to plugin serializer for state with interface like:
[code]

Similarly it can be extended for calls to Actors, It would be great if you want to contribu

[2020-08-07 19:17] amanbha commented on #362
@LukePammant We would like to continue to use System.Text.Json for json deserializtion/serialziation so Actor runtime will not take dependency on Newtonsoft. I would like to understand the issues with System.Text.Json, could you please share the issue and if its a bug in System.Text.Json

However if there is enough community ask for custom serializers, to extend, I think support for other serializ

[2020-08-07 19:40] amanbha opened #365 "Add unit tests for Actors, DaprHttpInteractor"

[2020-08-07 19:44] #365 closed

[2020-08-07 22:06] LukePammant commented on #362
Understandable @amanbha . One example would be that System.Text.Json doesn't support deserialization of simple discriminated unions which are used quite extensively in F#.

For example

[code]

`
Exception has occurred: CLR/System.NotSupportedException
Exception thrown: 'System.NotSupportedException' in System.Text.Json.dll: 'Deserialization of reference types without parameterless constructor is

[2020-08-10 20:56] #363 closed

[2020-08-11 10:15] altinoren opened #368 "Null reference error on BindingSource check in StateEntryModelBinderProvider"
Hi,

The following code produces a null reference error when BindingSource is null:
https://github.com/dapr/dotnet-sdk/blob/3b5065f283792e0200524259c1cf347b5483f811/src/Dapr.AspNetCore/StateEntryModelBinderProvider.cs#L32

Should check nulls, e.g:
[code]

Thanks.

---
Here's the code I test it on. Dapr is used in the project but not in this controller:

[code]
Here's how I register Dapr:
[code]

[2020-08-11 17:22] amanbha commented on #368
@altinoren Thanks for reporting this, would you like to contribute the fix for it?

[2020-08-11 17:34] altinoren commented on #368
OK. I'll check it during the weekend.

[2020-08-11 17:38] amanbha commented on #368
Great, thanks!

[2020-08-12 00:29] LoungeFlyZ commented on #299
My scenario is that i have a .Net Framework 4.8 service that unfortunately I cant move to netcore3.1 due to some windows dependencies.  I however I would like to have this service provide actors to other microservices in my application.

@amanbha are you saying i should be able to do all this manually without the SDK to assist?  Do you have any pointers?

[2020-08-12 00:35] amanbha commented on #299
@LoungeFlyZ Yes, you can make direct http calls to dapr side car. http api  reference is here https://github.com/dapr/docs/tree/master/reference/api

For eg:
1. To make get state call, you can make the call as: https://github.com/dapr/docs/blob/master/reference/api/state_api.md#get-state
2. To get secret, you can make the call as: https://github.com/dapr/docs/blob/master/reference/api/secrets_api.

[2020-08-12 11:55] tmatev commented on #255
Hi, @chleit is there any progress with this issue?
I saw #260 is closed, but I don't see the code in the master branch.
I should use the DI in my Actor classes what would you advise me - to use the approach of @pohorely or finding the code of #260 or something else?

[2020-08-12 15:34] amanbha commented on #255
@tmatev please see for DI with actors https://github.com/dapr/dotnet-sdk/issues/171

[2020-08-13 22:09] yaron2 opened #369 "Add Bulk Get API"
With the addition of the Bulk Get API to the State Building Block, this also needs to be added to the different SDKs.

See API reference here: https://github.com/dapr/docs/blob/master/reference/api/state_api.md#get-bulk-state

[2020-08-14 08:08] perokvist opened #370 "STATE - Get State Operation should support sending metadata"
The client state operations for "get" does not take a metadata dictionary.
This makes using "partitionKey" in the cosmos state component "impossible".

[cosmos state component usage](https://github.com/dapr/components-contrib/blob/3efcb4043035742eeddbc0b182db1569ca2891d4/state/azure/cosmosdb/cosmosdb.go#L159).

[2020-08-14 16:46] amanbha commented on #370
Thanks for reporting it @perokvist . I am transferring it to dapr/dapr repo as the [grpc GET state api](https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/dapr.proto#L58) doesn't accept metadata.

[2020-08-14 18:50] LukePammant commented on #362
After looking into this a little more it looks like we don't need the Newtonsoft library. We can keep the benefits of `System.Test.Json` and simply expose something like the `UseJsonSerializationOptions` method in the `DaprClientBuilder`. There is a [library that handles most of the F# cases for Json serialization](https://github.com/Tarmil/FSharp.SystemTextJson) we just need a way to configure th

[2020-08-17 14:28] youngbupark opened #373 "Add state transaction operation api"
## Describe the proposal

Add state transaction operation api  - dapr/dapr#1892

[2020-08-17 16:13] #368 closed

[2020-08-17 16:24] #369 closed

[2020-08-17 20:53] amanbha commented on #362
Thanks @LukePammant  This sounds good to it. Configuring while creating WebHostBuilder will configure the server side, in addition to these, settings would need to be passed to ActorProxy as well for client side.

[2020-08-17 20:58] #347 closed

[2020-08-20 18:38] vinayada1 opened #376 "nuget push automation does not push all packages"
## Expected Behavior

dotnet nuget push should push all Dapr packages

## Actual Behavior

Due to dotnet nuget push quirks, the command does not always push all the packages. There is a workaround to use quotes around the package name

## Steps to Reproduce the Problem

[2020-08-25 05:25] LukePammant commented on #362
#379

[2020-08-25 10:25] akkie commented on #362
I use a similar approach in an [example project](https://github.com/PlanBGmbH/dapr-vote/blob/master/votes/Startup.fs#L21). It would be great if we had one point were we register additional JSON serializer options and if dapr internally uses this for all serialization/deserialization calls.

[2020-08-27 15:32] staneee opened #380 "Unhandled exception. Dapr.Actors.DaprException: error finding address for actor type DemoActor with id abc"
I have the same problem as this #117  , But I don't know how to solve it

# Env

**Operating system:**
[code]

**dotnet core sdks:**
[code]

**dapr installation:**
[code]

**dapr version:**
[code]

---

# Run the Sample Actors Demo

## Run DemoActor:
[code]

## Run ActorClient:
[code]

## Dashboard

**version:**
[code]

**run:**
[code]

**views:**
![image](https://user-images.githubusercontent.com

[2020-08-27 17:05] amanbha commented on #380
@staneee I se that you have used dapr init --slim which sets up minimal dapr dev environment and needs user to run placement service and other components. Could you try with dapr init. I am closing this for now, feel free to reopen if it still repros with dapr init.

[2020-08-27 17:05] #380 closed

[2020-08-27 20:12] shalabhms opened #381 "State APIs should support sending metadata"
State APIs should support sending metadata in the request.

Dapr runtime issue Reference : dapr/dapr#1909

[2020-08-28 01:53] staneee commented on #380
@amanbha How should I configure to run and placement services or other components when I use `dapr init --slim`

[2020-08-28 15:26] amanbha commented on #380
Please here https://github.com/dapr/cli#slim-init

For configuring components (eg. redis store, please see https://github.com/dapr/docs/blob/master/howto/setup-state-store/setup-redis.md).

For running placement:
Run placement as: %userprofile%\.dapr\bin\placement.exe --port 6050

Then run the app using cli, pass the path to components folder using `--components-path` flag.
If you run placement on

[2020-09-01 13:11] NitishGawde opened #384 "Unable to publish event from cli"
**I am using flowing Dotnet Sample**

[https://github.com/dapr/dotnet-sdk/tree/master/samples/AspNetCore/ControllerSample
](https://github.com/dapr/dotnet-sdk/tree/master/samples/AspNetCore/ControllerSample)

**I change the Dapr pubsub component to Kafka please check the screenshot.**

![image](https://user-images.githubusercontent.com/65772350/91854913-1165a880-ec82-11ea-8731-23294759067b.png)

-

[2020-09-01 15:47] amanbha commented on #384
Could you please share the dapr logs for the app.

[2020-09-02 01:27] #381 closed

[2020-09-02 04:26] NitishGawde commented on #384
@amanbha

PS D:\MIBS\Demo\DaprPubSubKafka\dotnet-sdk-samples-AspNetCore\ControllerSample> dapr run --app-id ControllerSample dotnet run
Starting Dapr with id ControllerSample. HTTP Port: 57858. gRPC Port: 57859
== DAPR == time="2020-09-01T17:45:03.0748383+05:30" level=info msg="starting Dapr Runtime -- version 0.10.0 -- commit 6032dc2" app_id=ControllerSample instance=DESKTOP-NGOH49S scope=dapr.ru

[2020-09-02 15:38] amanbha commented on #384
@NitishGawde  You need to provide application port sot hat dapr can call into it and discover subscribed topic, please see https://github.com/dapr/dotnet-sdk/blob/master/samples/AspNetCore/ControllerSample/Readme.md#running-the-sample

[2020-09-03 10:39] NitishGawde commented on #384
@amanbha  Thanks but now I am unable to publish an event from cli.

**dapr publish --pubsub pubsub --topic deposit --data "{\"id\": \"17\", \"amount\": 15 }"
Error publishing topic deposit: Post "http://localhost:0/v1.0/publish/pubsub/deposit": dial tcp [::1]:0: connectex: The requested address is not valid in its context.**

Dapr Log :

PS D:\MIBS\Demo\DaprPubSubKafka\dotnet-sdk-samples-AspNetCor

[2020-09-03 11:40] denniszielke opened #386 "ClientSDK crashes with exception when remote invocation results in BadRequest"
## Expected Behavior

The client sdk should be able to handle HTTP 400 Bad Request and make the request available to the calling application

## Actual Behavior

When the app returns a HTTP400 or BadRequest object the dapr client fails with an exception.

## Steps to Reproduce the Problem
Small modification of https://github.com/dapr/dotnet-sdk/blob/master/samples/AspNetCore/ControllerSample/Contr

[2020-09-03 11:40] denniszielke opened #399 "Grpc.Core.RpcException when remote invocation results in BadRequest"
## Expected Behavior

The client sdk should be able to handle HTTP 400 Bad Request and make the request available to the calling application

## Actual Behavior

When the app returns a HTTP400 or BadRequest object the dapr client fails with an exception.

## Steps to Reproduce the Problem
Small modification of https://github.com/dapr/dotnet-sdk/blob/master/samples/AspNetCore/ControllerSample/Contr

[2020-09-03 12:10] akkie commented on #386
Currently the [grpc-dotnet](https://github.com/grpc/grpc-dotnet/issues/303) SDK doesn't support the [gRPC rich error model](https://grpc.io/docs/guides/error/#richer-error-model). If this would be supported, the calling code could catch the `RpcException` and extract the needed information from it.

[2020-09-03 15:25] amanbha commented on #386
@denniszielke SDK is not crashing, exception is being thrown from the gRPC call, Calling code can catch the exception and handle it accordingly.

[2020-09-03 15:37] amanbha commented on #384
@NitishGawde I have updated the title and I am transferring it to cli repo.

[2020-09-03 16:13] akkie commented on #386
@amanbha The issue is that we need also the response for non 2xx status codes and currently the GrpcException doesn't contain any information about the response. So currently it's not possible to react to failing responses based on the response send from the HTTP API.

[2020-09-03 16:16] amanbha commented on #386
@akkie yes, I agree, thanks for pointing to the issue [grpc-dotnet](https://github.com/grpc/grpc-dotnet/issues/303) which needs to be fixed before users can examine it in the exception.

[2020-09-03 18:15] denniszielke commented on #386
yes good point. Our goal would be to handle the request in the app for which we need access to the header, request details and body.

[2020-09-03 18:28] amanbha commented on #386
@denniszielke Can this issue be closed, once its fixed in grpc-dotnet is closed, the information will be available in the exception

[2020-09-08 07:56] akkie commented on #386
@amanbha The [Grpc.Core.RpcException](https://grpc.github.io/grpc/csharp-dotnet/api/Grpc.Core.RpcException.html) class has a property [trailers](https://github.com/grpc/grpc/blob/348f29f04b294da7d79b2d518686431360bfa4b2/src/csharp/Grpc.Core.Api/RpcException.cs#L30) which can contain a [list of metadata entries](https://grpc.github.io/grpc/csharp-dotnet/api/Grpc.Core.Metadata.Entry.html). A metadat

[2020-09-08 15:32] amanbha commented on #386
Thanks @akkie.
@yaron2 , @youngbupark Is Dapr runtime passing correct information as explained above in gRPC when the target service to be invoked is http (here client is calling a http service over Dapr's gRPC api)

[2020-09-08 16:04] yaron2 commented on #386
I think I may have noticed an issue there, will look into this.

[2020-09-08 16:10] youngbupark commented on #386
@akkie we ignored trailers for grpc -> http invocation because fasthttp doesn't support trailers.

https://github.com/dapr/dapr/blob/a37f65051e761e7df2c63d22c9c22ad348ad95bc/pkg/messaging/v1/util.go#L318

When we look at this code, we translate all status code and error message body as detail status property. however, grpc official csharp lib  examples shows how to get status detail - https://gith

[2020-09-08 16:46] youngbupark commented on #386
Please ignore this. looks like the official csharp lib error example is wrong.

When it comes to adding request body to trailer metadata, there is the metadata size limit which is 4KB for the entire metadata. putting request body to metadata would not be the proper solution.

[2020-09-08 16:48] yaron2 commented on #386
IMO we need to make sure we return the following information to the caller when invoking HTTP services, uniformly:

1. Response text
2. Status code
3. Headers

[2020-09-08 18:20] amanbha commented on #386
@yaron2 and @youngbupark, this looks like a change in runtime for service invocation building block, should I transfer it to dapr repo?

[2020-09-08 18:34] youngbupark commented on #386
Yes we need to do.

[2020-09-09 13:18] altinoren opened #387 "Accessing Dapr secret store early on during Startup"
I want to use Dapr secret stores to initialize a DB connection with the connection string retrieved from a store. I want to understand the startup sequence and determine the point where secrets are available.

This is my `Main`:

[code]

Normally, in `Startup.cs:ConfigureServices`, connection strings are supplied as follows:

[code]

To access Dapr through DI, tried this:

[code]

In this case, Da

[2020-09-09 13:57] a1tan opened #388 "Dapr Istio Integration"
I want to use Istio Service Mesh on beside Dapr. When I run Dapr and Istio sidecars together, I got following error during service invocation.
By the way Istio Api Gateway is working successfully with Dapr.
_Grpc.Core.RpcException: Status(StatusCode=Unknown, Detail="context deadline exceeded")_
Is there any manual to direct Istio Service Mesh, Dapr integration? Any guidance for this specific error

[2020-09-09 14:03] #388 closed

[2020-09-09 14:10] a1tan commented on #388
Wrong Repository.

[2020-09-09 20:44] vinayada1 opened #389 "Add Integration tests to .net sdk repo"
## Expected Behavior

Add integration tests that can be run end-to-end on every PR.

## Actual Behavior

No end-to-end tests

## Steps to Reproduce the Problem

[2020-09-12 19:08] EdwinVW opened #390 "MarkerService pattern for preventing multiple registrations of a service for DI does not work"
## Expected Behavior

When using the Asp.NET Core DI extension-methods for registering dapr services (e.g. the DaprClient), a check is implemented to make sure that these services are registered with DI only once. The check is implemented by injecting a private marker-service in the service-collection upon registration of a dapr service. If the marker-service is already registered, the new registr

[2020-09-13 07:42] samcov opened #391 "Errors using the Actor Sample"
## Expected Behavior

For it to just work

## Actual Behavior

1. First it complained of not being able to connect to the service. I started it up with this command(started fine)
    dapr run --app-id myapp --app-port 5000 --dapr-http-port 5030 dotnet run

2. After debugging, I discovered that the Client defaulted to port 3500 and had no clue about port 5030, and was looking at an environment vari

[2020-09-14 11:17] amolenk opened #393 "Widen the pit of success with AddDapr/AddDaprClient"
## Describe the proposal

This was triggered while talking to @edwinvw about #390.
The whole `AddDapr`, `AddDaprClient` thing is a bit complicated for ASP.NET devs wanting to use Dapr service invocation.

ASP.NET Web APIs by default use camel case JSON for the responses. The S.T.JsonSerializer used by DaprClient uses Pascal casing and is case sensitive by default.

So, in order to succesfully impl

[2020-09-14 16:51] amanbha commented on #391
@samcov Placement service is required to run actors, Slim environment doesn't setup placement service or a state store. If you are just getting started with Dapr, I would suggest to use dapr init without slim option, so that your environment gets setup correctly.
I am closing this, please feel free to reopen if you need more info.

[2020-09-14 16:51] #391 closed

[2020-09-14 16:56] amanbha commented on #393
@amolenk Thanks for reporting this confusing behavior. I believe both the suggested ways to improve can be implemented. Would you like to contribute a PR for it?

[2020-09-14 17:06] samcov commented on #391
If that's the case, then what is possible with the slim environment?

Which samples work and which don't, maybe I missed this in the readme.

[2020-09-14 17:14] EdwinVW commented on #393
We can definitely create a PR. Should we also change the related _MarkerService_ behavior as stated in issue #390 (or do you want to look at this as a separate issue)?

[2020-09-14 17:26] amanbha commented on #391
Please see following docs about slim and setting env without docker:

https://github.com/dapr/docs/tree/master/howto/self-hosted-no-docker#self-hosted-mode-without-containers

[2020-09-14 17:28] amanbha commented on #393
Thanks @EdwinVW lets create separate PRs addressing these 2 issues.

[2020-09-14 19:38] EdwinVW commented on #393
PR is created (#394 ).

[2020-09-14 20:17] samcov commented on #391
Thanks.

[2020-09-15 16:51] philliphoff opened #395 "Prefer IDictionary<TKey, TValue> over Dictionary<TKey, TValue> in public APIs"
The `DaprClient` class (among others) has [methods](https://github.com/dapr/dotnet-sdk/blob/bf0354bd39ed4af508f95e9c3ab3e9fa30266887/src/Dapr.Client/DaprClient.cs#L52) which accept concrete `Dictionary<TKey, TValue>` arguments.  Instead, the interface type `IDictionary<TKey, TValue>` should be preferred in order to widen the set of dictionary-like types that can be passed by callers.  (You might e

[2020-09-15 17:52] rynowak commented on #395
Which other dictionary type do you want to use?

[2020-09-15 17:57] philliphoff commented on #395
@rynowak At the moment, I don't have a specific need for a type *other* than `Dictionary<TKey, TValue>`, but I could imagine wanting to use something like [`ImmutableDictionary<TKey, TValue>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutabledictionary-2?view=netcore-3.1), which currently wouldn't work (but could, if the interface was used in the API rather than th

[2020-09-15 18:17] amolenk opened #396 "Support custom HTTP headers in DaprClient"
## Describe the proposal
I've got a scenario where Service A invokes a method on Service B and Service B requires an `Authorization` HTTP header to be sent. Example:

[code]

There's currently no way to pass the header to the `DaprClient`. Ideally, I'd want to be able to do something like this:

[code]

[2020-09-16 05:57] amolenk commented on #396
I've looked a bit further into this and it should not be hard to implement. We just need to pass any header information as gRPC metadata to the sidecar. I'll try and create a PR.

[2020-09-16 14:27] amitHansda opened #398 "Dapr.Client.DaprClientGrpc.MakePublishRequest throwing exception Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: An error occurred while sending the request.")"
## Expected Behavior

When I am trying to publish event using daprClient it is supposed to publish the event successfully.
I am using this simple code as following
[code]

## Actual Behavior
I am getting an exception as follows.
[code]
However the  was working perfectly  even on Sep-09-2020. Only today I am facing this issue. I am **able** to publish event via dapr-http-port using postman. But usi

[2020-09-16 16:50] youngbupark commented on #399
moving back to dotnet-sdk. The fix for grpc-dotnet has been merged - https://github.com/grpc/grpc-dotnet/pull/1046
new version of grpc-dotnet will be released by this week or early next week. then we will use this version to fix this problem.

[2020-09-16 17:15] amanbha commented on #398
@amitHansda Does the retry using gRPC succeeds, its possible that gRPC endpiint in dapr runtime wasn't ready to accept calls.

[2020-09-16 18:31] vinayada1 commented on #398
@amitHansda - Is DAPR_GRPC_PORT environment variable properly set where you are running your client. See below:-
~/dapr/dotnet-sdk/samples/Client/DaprClient % dotnet run
Unhandled exception. Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: Connection refused")
   at Dapr.Client.DaprClientGrpc.MakeGrpcCallHandleError[TResponse](Func`2 callFunc, CancellationToken

[2020-09-16 23:14] philliphoff commented on #396
Somewhat related, could there also be a way of extracting HTTP headers sent by an application with the response?  For example, if the response was an opaque set of bytes, the `Content-Type` response header might be needed in order to differentiate between multiple types of data.  Something of this sort:

[code]

[2020-09-17 04:13] amitHansda commented on #398
Yes, Environment Variables are initialized fine. For the below client code.
[code]
I am getting log statements:
[code]

[2020-09-17 04:17] amitHansda commented on #398
@amanbha

I have not gave it a try, I will. But in any case if invoking daprHttpEndpoint publish from postman leads to successful call does not mean gRPC is endpoint is up too?

[2020-09-17 17:06] vinayada1 commented on #398
@amitHansda - Another thing I can think of is that is there another version of your dapr client running by any chance?
~/dapr/dotnet-sdk/samples/Client/DaprClient % dapr run --app-id gRPC_Client dotnet run

ℹ️  Starting Dapr with id gRPC_Client. HTTP Port: 49868. gRPC Port: 49869
== DAPR == time="2020-09-17T10:04:39.338878-07:00" level=info msg="starting Dapr Runtime -- version edge -- commit v0.8

[2020-09-17 18:24] amolenk commented on #396
@philliphoff The service that's being called may be an HTTP service, but it could also be a gRPC service. So I'd do it slightly different:

[code]

Alternatively, at that point it may even be better to make separate invoke methods for Http and gRPC, like `InvokeHttpMethod` and `InvokeGrpcMethod`. The abstraction is already a bit leaky due to the need for the `HttpExtension` object.

May I suggest

[2020-09-17 23:12] #373 closed

[2020-09-18 16:20] philliphoff opened #400 "Allow return of HTTP response headers from method invocations"
Could there also be a way of extracting HTTP headers sent by an application with the response?  For example, if the response was an opaque set of bytes, the `Content-Type` response header might be needed in order to differentiate between multiple types of data.  Something of this sort:

[code]

@amolenk suggested a variation on this theme:

The service that's being called may be an HTTP service, b

[2020-09-18 16:20] philliphoff commented on #396
Opened #400.

[2020-09-20 04:29] amitHansda commented on #398
@vinayada1 Yes, I have tried rebooting the machine, uninstallling and reinstalling dapr runtime and also dapr CLI. Nothing worked for me. Can you tell me a little bit about how strict HSTS policy behaves with dapr? I will appreciate if your can point me in right direction.

[2020-09-21 15:44] RicardoNiepel opened #401 "Visual Studio development of Dapr apps"
Currently only the development of Dapr applications in VS Code and IntelliJ is documented:
https://github.com/dapr/docs/tree/master/howto#developer-tooling

There should also be something similiar for Visual Studio 2019:
* Enable debugging / "F5 experience" of Dapr applications in Visual Studio
* Ensure that this include a story of multiple Dapr applications inside one solution and starting multip

[2020-09-21 16:54] amitHansda commented on #398
**SEEMS like an issue with Net5.0 RC-1**
Had a clean setup. Its now working as expected. Thanks for the support.

[2020-09-21 16:54] #398 closed

[2020-09-21 22:02] jjchiw opened #402 "Cannot subscribe to topics"
## Expected Behavior

Subscribe to topic

## Actual Behavior

[code]

Full dapr build
[code]

## Steps to Reproduce the Problem

- Clone repo
- Run `RoutingSample`

## REST

### Get the pubsubname and topics

`GET http://127.0.0.1:5000/dapr/subscribe`

[code]

### Post Deposit
[code]

[code]

### Trying to pubsub deposit
[code]

[code]

### Run command line
[code]

## Env

- macOS 10.15.6 (19G2021

[2020-09-24 14:50] amolenk commented on #396
@vinayada1 Can you review? This is ready to be merged.

[2020-09-24 23:07] #396 closed

[2020-09-24 23:09] #393 closed

[2020-09-25 00:03] rynowak commented on #395
In my experience the advice about "prefer interfaces over concrete types" isn't super useful with dictionary because:

- it's **exceedingly** rare to have a custom dictionary implementation
- they messed up and made `IDictionary<>` not inherit `IReadOnlyDictionary<>`

So if you accept `IDictionary` you cannot pass that into anywhere that accepts `IReadOnlyDictionary<>` and vice-versa. My perspecti

[2020-09-25 03:34] EdwinVW commented on #390
I've created a PR #403 for this issue.

[2020-09-28 18:43] #390 closed

[2020-09-28 20:47] vinayada1 opened #405 "Cleanup dotnet-sdk sample"
## Expected Behavior

Cleanup sample

## Actual Behavior

Sample has some debug logs and some code commented out.

## Steps to Reproduce the Problem

[2020-09-28 20:52] #405 closed

[2020-09-28 21:41] youngbupark commented on #399
Update - We are still waiting for grpc-dotnet 2.32.0 release. Once new nuget pkg is released, we will publish the minor version of dotnet sdk in 0.12.0 milestone.

[2020-09-29 22:24] rynowak commented on #400
@vinayada1 as well

Agree, we didn't include the ability to expose the underlying HTTP semantics as part of the initial design here, but https://github.com/dapr/dotnet-sdk/issues/399 is causing us to revisit this for the error case, and we should probably also expose it as an API for the successful case.

[2020-09-29 22:36] philliphoff commented on #395
I'd be perfectly ok with `IReadOnlyDictionary<TKey, TValue>`; as you said, it's a good mix between flexibility of data types while helping indicate how the data will be used (i.e. it won't be mutated).

[2020-09-30 16:17] youngbupark commented on #402
@jjchiw I wonder if you use master branch. Please try with this tag https://github.com/dapr/dotnet-sdk/tree/v0.10.0-preview01

[2020-09-30 17:29] vinayada1 commented on #402
Hi - I verified this with the latest master and it is working.
~/dapr/dotnet-sdk/samples/AspNetCore/RoutingSample %   dapr publish --pubsub pubsub -t withdraw -d '{"id": "17", "amount": 15 }'

✅  Event published successfully
~/dapr/dotnet-sdk/samples/AspNetCore/RoutingSample %   dapr publish --pubsub pubsub -t deposit -d '{"id": "17", "amount": 15 }'

✅  Event published successfully

Few things to

[2020-09-30 18:16] clintsinger opened #406 "Configure logging levels?"
## Ask your question here
Perhaps, I'm missing something but there doesn't seem to be a way to configure the log level of the Dapr C# SDK.   For example, I would like to filter out the "Activated, Deactivated" messages which are at Info level and only show warning level traces.

Did I miss what the settings are or should this be a feature request?

[2020-09-30 20:14] vinayada1 commented on #406
This should be a feature request. Updated the tag on the issue.

[2020-10-01 12:15] amitHansda opened #409 "Faced issue Dapr.Actors.DaprException: context deadline exceeded while deploying in local kubernetes cluster"
## Expected Behavior
I made a dapr application which creates an actor service. On Self Hosted mode it is working fine,so I tried to deploy the same in local k8s cluster. However in kubernetes cluster I am facing this exception *Dapr.Actors.DaprException: context deadline exceeded*
**basically**, whenever it attempts to do anything with actor instance, it is throwing the same exception.

I also ver

[2020-10-01 18:20] vinayada1 commented on #409
Questions:-
1. Was this working with previous releases?
2. Could you also add logs from daprd?

[2020-10-02 04:48] amitHansda commented on #409
1. This is my first attempt at deploying actors in k8s. Didn't work with previous version. Are you suggesting bring down local l8s dapr services, and reinitiate dapr with earlier version?
2. **Here is the logs for daprd from Client Application**
[code]

[2020-10-02 10:05] ddobric commented on #401
When looking into Tye, have to say that Tye extrimely simplifies the deployment. For this reason, I propose similar concept in dapr.
For example:

[code]

This would be a great simplification.

[2020-10-02 17:19] vinayada1 commented on #402
@jjchiw - Could you please update with your findings?

[2020-10-03 22:32] jjchiw commented on #402
Hi!

It seems its `daprd` - `dapr`

When I run `dapr run --app-id routing --app-port 5000 dotnet run`  in the path `/dotnet-sdk/samples/AspNetCore/RoutingSample` everything works as expected

I'm using the extension `https://github.com/microsoft/vscode-dapr` and it seems the kinda/bug is in `daprd`

I executed

[code]

And then `dotnet run` and I think we can narrow it to `daprd`

thanks :)

[2020-10-03 22:37] vinayada1 commented on #402
The difference between the two commands you have is that first one (which you said works), uses the default components folder which is $HOME/.dapr/components where a pubsub.yaml exists by default.

The second command uses a custom components-path, which, from the logs looks like does not have a component of type pubsub. Could you check?

[2020-10-04 20:55] jjchiw commented on #402
Hi!

Thanks now is working with `daprd`

In the `components` folder I had two files

- messagebus.yaml
- statestore.yaml

I think those files where created in the first "launch" of the extension `https://github.com/microsoft/vscode-dapr` and the content of the file `messagebus.yaml` is

[code]

[2020-10-04 20:59] #402 closed

[2020-10-06 14:21] amitHansda commented on #409
@vinayada1 Closing this one. This morning updated cluster to 0.11 instead of 0.11-rc-1

[2020-10-06 14:28] #409 closed

[2020-10-06 14:36] neildonkin commented on #171
I like this approach, but how does it work if you want to inject an instance of `ILogger` into your actor's constructor?  How do you obtain an instance of ILogger within the `CreateHostBuilder` method?

[2020-10-07 01:04] rynowak opened #410 "Actor Runtime should not report Exception text in HTTP responses"
## Expected Behavior

Runtime failures should report sanitized or *known safe* content in error responses. ASP.NET Core has separate knobs for configuring the reporting of exception details in responses that should be used.

## Actual Behavior

The actor runtime unconditionally reports the full exception details including stack trace in certain types of failures. This is a security bug due to the